<div class="col-12">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Roles</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Role" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="initRole({})"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="roles" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="['code','name','isActive','createdDate']"  responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="code">Code <p-columnFilter type="text" field="code" display="menu"></p-columnFilter> <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="name">Name <p-columnFilter type="text" field="name" display="menu"></p-columnFilter><p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="isActive">Is Active <p-columnFilter type="text" field="isActive" display="menu"></p-columnFilter><p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdDate">Created Date <p-columnFilter type="text" field="createdDate" display="menu"></p-columnFilter><p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy">Created By<p-columnFilter type="text" field="createdBy" display="menu"></p-columnFilter><p-sortIcon field="createdBy"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt" pFrozenColumn alignFrozen="right">Updated Date <p-columnFilter type="text" field="updatedAt" display="menu"></p-columnFilter><p-sortIcon
              field="updatedAt">
            </p-sortIcon>
          </th>
          <th pSortableColumn="updatedBy" pFrozenColumn alignFrozen="right">Updated By<p-columnFilter type="text" field="updatedBy" display="menu"></p-columnFilter><p-sortIcon
              field="updatedBy">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>
          <td style="text-align: center;"><button pButton pRipple icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component" (click)="initRole(role)"></button></td>
          <td>{{role.code}}</td>
          <td>{{role.name}}</td>
          <td>
            <p-checkbox name="active" value="active" [(ngModel)]="role.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{role.createdAt | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
          <td>{{role.createdBy}}</td>
          <td>{{role.updatedAt | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
          <td>{{role.updatedBy}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No roles found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="8">Loading roles data. Please wait.</td>
        </tr>
      </ng-template>
    </p-table>


    <p-dialog header="Role" [(visible)]="dialog" [modal]="true" showEffect="fade" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '80vw'}">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12 roles-container">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label>Code:<sup class="p-error">*</sup></label>&nbsp;
                  <input pInputText id="code" type="text" formControlName="code"
                    [ngClass]="{ 'is-invalid ng-dirty': roleFormControls['code'].touched && roleFormControls['code'].errors }" />
                  <span *ngIf="roleFormControls['code'].touched && roleFormControls['code'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="roleFormControls['code'].errors?.['required']">
                      Please Enter Code.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Name:<sup class="p-error">*</sup></label>&nbsp;
                  <input pInputText id="name" type="text" formControlName="name"
                    [ngClass]="{ 'is-invalid ng-dirty': roleFormControls['name'].touched && roleFormControls['name'].errors }" />
                  <span *ngIf="roleFormControls['name'].touched && roleFormControls['name'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="roleFormControls['name'].errors?.['required']">
                      Please Enter Name.</div>
                  </span>
                </div>
                <div class="field col-12">
                  <label>Is Active?:<sup class="p-error">*</sup></label><br>
                  &nbsp;<p-inputSwitch formControlName="isActive"
                    [ngClass]="{ 'is-invalid ng-dirty': roleFormControls['isActive'].touched && roleFormControls['isActive'].errors }">
                  </p-inputSwitch>
                  <span *ngIf="roleFormControls['isActive'].touched && roleFormControls['isActive'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="roleFormControls['isActive'].errors?.['required']">
                      Please Select Active.</div>
                  </span>
                </div>
                <div class="field col-12">
                  <label>Permissions:<sup class="p-error">*</sup></label><br>
                  <div class="grid col-12">
                    <p-accordion *ngFor="let screen of screens" class="col-3"  [multiple]="false">
                      <p-accordionTab [header]="screen" [selected]="false" [cache]="false">
                        <div class="col-12 role-accordian-view" *ngFor="let permission of getPermissions(screen)">
                          <p-inputSwitch [(ngModel)]="permission.assigned" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                          <label for="ny">{{permission.displayName}}</label>
                        </div>
                      </p-accordionTab>
                    </p-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Submit" class="p-button-raised p-button-success"
          (click)="onSubmit()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
