<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Roles</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Role" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="initRole({})" *ngIf="permission?.CanCreateRole"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="roles" dataKey="id" [rows]="10" [rowHover]="true" [alwaysShowPaginator]="false"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="['code','name','isActive','createdAt']" responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="permission?.CanUpdateRole"></th>
          <th pSortableColumn="code">Code <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="name">Name <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">Is Active <p-columnFilter type="text" field="isActive"
              display="menu"></p-columnFilter>
            <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created Date
            <p-columnFilter type="date" field="createdAt" display="menu">
            </p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy">Created By<p-columnFilter type="text" field="createdBy" display="menu">
            </p-columnFilter>
            <p-sortIcon field="createdBy"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt" pFrozenColumn alignFrozen="right">Updated Date <p-columnFilter type="text"
              field="updatedAt" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedAt">
            </p-sortIcon>
          </th>
          <th pSortableColumn="updatedBy" pFrozenColumn alignFrozen="right">Updated By<p-columnFilter type="text"
              field="updatedBy" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedBy">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>
          <td *ngIf="permission?.CanUpdateRole" style="text-align: center;"><button pButton pRipple icon="pi pi-pencil" 
              class="p-element p-ripple p-button-text p-button p-component" (click)="initRole(role)"></button></td>
          <td>{{role.code}}</td>
          <td>{{role.name}}</td>
          <td class="text-center">
            <p-checkbox name="active" value="active" [(ngModel)]="role.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{role.createdAt | date: mediumDate}}</td>
          <td>{{role.createdBy}}</td>
          <td>{{role.updatedAt | date: mediumDate}}</td>
          <td>{{role.updatedBy}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center m-5" colspan="8">No Roles Found.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-dialog header="Role" [(visible)]="dialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '70%', '640px': '80%'}" [style]="{width: '70%'}">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="grid">
            <div class="col-12 roles-container">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label>Code:<sup class="p-error">*</sup></label>
                  <input pInputText id="code" #code type="text" formControlName="code" placeholder="Enter Code"
                    [maxlength]="6" alphaNumeric
                    [ngClass]="{ 'is-invalid ng-dirty': roleFormControls['code'].touched && roleFormControls['code'].errors }">
                  <div class="flex">
                    <div class="align-left w-60" style="width:70%">
                      <span *ngIf="roleFormControls['code'].touched && roleFormControls['code'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="roleFormControls['code'].errors?.['required']">
                          Please Enter Code.</div>
                        <div class="ng-invalid ng-touched p-error" *ngIf="roleFormControls['code'].errors?.['pattern']">
                          Code Should
                          Contains
                          Alphabets & Numbers.</div>
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="roleFormControls['code'].errors?.['minlength']">
                          Code Min Length Is 2.</div>
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="roleFormControls['code'].errors?.['maxlength']">
                          Code Max Length Is 6.</div>
                      </span>
                    </div>
                    <div class="align-right w-40" style="width:30%; text-align:right;">
                      <small>{{code.value.length}}/6</small>
                    </div>
                  </div>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Name:<sup class="p-error">*</sup></label>
                  <input pInputText id="name" type="text" formControlName="name"
                      placeholder="Enter Name" #name alphaOnly [maxlength]="maxLength.name"
                      [ngClass]="{ 'is-invalid ng-dirty': roleFormControls['name'].touched && roleFormControls['name'].errors }">
                  <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                          <span
                              *ngIf="roleFormControls['name'].touched && roleFormControls['name'].errors?.['notUniqueName']">
                              <div class="ng-invalid ng-touched p-error">
                                  Branch name must be unique.
                              </div>
                          </span>
                          <span *ngIf="roleFormControls['name'].touched && roleFormControls['name'].invalid">
                              <div class="ng-invalid ng-touched p-error"
                                  *ngIf="roleFormControls['name'].errors?.['required']">
                                  Please Enter Name.</div>
                              <div class="ng-invalid ng-touched p-error"
                                  *ngIf="roleFormControls['name'].errors?.['pattern']">
                                  Name Should Contains Alphabets.</div>
                              <div class="ng-invalid ng-touched p-error"
                                  *ngIf="roleFormControls['name'].errors?.['minlength']">
                                  Name Min Characters Is 2.</div>
                          </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                          <small>{{name.value.length}}/{{maxLength.name}}</small>
                      </div>
                  </div>
              </div>
                <div class="field col-12 md:col-4">
                  <label>Is Active:</label><br>
                  &nbsp;<p-inputSwitch formControlName="isActive">
                  </p-inputSwitch>
                </div>
                <div class="field col-12">
                  <label>Permissions:<sup class="p-error">*</sup></label><br>
                  <div class="grid col-12">
                    <p-accordion *ngFor="let screen of screens"
                      class="col-12 xl:col-3 md:col-6 sm:col-6 accordion_roles" [multiple]="false">
                      <p-accordionTab [header]="screen" [selected]="false" [cache]="false">
                        <div class="col-12 role-accordian-view" *ngFor="let permission of getPermissions(screen)">
                          <p-inputSwitch [(ngModel)]="permission.assigned" [ngModelOptions]="{standalone: true}">
                          </p-inputSwitch>
                          <label for="ny">{{permission.displayName}}</label>
                        </div>
                      </p-accordionTab>
                    </p-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-4 m-0 p-0 mt-3" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
            [disabled]="roleForm.invalid" (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>