<div class="col-12">
    <div class="card">
        <p-toast key="tst"></p-toast>

        <!-- toolbar -->

        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Estimated Ton</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <button  pButton pRipple label="Add Excess Ton" class="p-button-primary w-100" icon="pi pi-plus" (click)="toggleTab()"></button>
                <!-- (click)="getEstimatedTon()" -->
            </ng-template>
        </p-toolbar>

        <!-- From Toolbar -->

        <p-toolbar styleClass="p-mb-2" *ngIf="showForm">
            <ng-template pTemplate="left">
                <from [formGroup]="fbEstimatedTon">
                    <div class="flex justify-content-between flex-column sm:flex-row grid">
                        <div class="col-12">
                            <div class="flex justify-content-between flex-column sm:flex-row grid">
                                <div class="col-2 p-2">
                                    &nbsp;<label class="required">Season:</label>
                                    <p-dropdown class="ml-2" placeholder="Select Season" optionLabel="code"
                                        [options]="seasons" formControlName="seasonId"
                                        [(ngModel)]="currentSeason.seasonId" optionValue="seasonId"
                                        [style]="{'width':'100%'}" (onChange)="getExcessTonDetails()"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonId'].touched && FormControls['seasonId'].errors }">
                                    </p-dropdown>
                                    <span *ngIf="FormControls['seasonId'].touched && FormControls['seasonId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['seasonId'].errors?.['required']">
                                            Please Select Season.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label>Division:</label>
                                    <p-multiSelect [options]="divisions" placeholder="Select Division"
                                        optionValue="divisionId" appendTo="body" [filter]="true" 
                                        optionLabel="divisionName" formControlName="divisionId" 
                                        [style]="{'width':'100%'}" 
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['divisionId'].touched && FormControls['divisionId'].errors }"
                                        (onChange)="SetAllDivisionChilds($event.value)">
                                    </p-multiSelect>
                                    <span
                                        *ngIf="FormControls['divisionId'].touched && FormControls['divisionId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['divisionId'].errors?.['required']">
                                            Please Select Division.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label>Circle:</label>
                                    <p-multiSelect [options]="filterCircles" placeholder="Select Circle "
                                        optionValue="circleId" appendTo="body" [filter]="true" optionLabel="circleName"
                                        formControlName="circleId" [style]="{'width':'100%'}" filterBy="circleName"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['circleId'].touched && FormControls['circleId'].errors }"
                                        (onChange)="SetAllCircleChilds($event.value)">
                                    </p-multiSelect>
                                    <span *ngIf="FormControls['circleId'].touched && FormControls['circleId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['circleId'].errors?.['required']">
                                            Please Select Circle.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label>Section:</label>
                                    <p-multiSelect [options]="filterSections" placeholder="Select Section "
                                        optionValue="sectionId" appendTo="body" [filter]="true"  filterBy="sectionName"
                                        optionLabel="sectionName" formControlName="sectionId" [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['sectionId'].touched && FormControls['sectionId'].errors }"
                                        (onChange)="SetAllSectionChilds($event.value)"></p-multiSelect>
                                    <span
                                        *ngIf="FormControls['sectionId'].touched && FormControls['sectionId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['sectionId'].errors?.['required']">
                                            Please Select Section.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label>Village:</label>
                                    <p-multiSelect [options]="filterVillages" placeholder="Select Village"
                                        optionValue="villageId" appendTo="body" (onChange)="getExcessTonDetails()"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['villageId'].touched && FormControls['villageId'].errors }"
                                        [filter]="true" optionLabel="villageName" formControlName="villageId" 
                                        [style]="{'width':'100%'}"></p-multiSelect>
                                    <span
                                        *ngIf="FormControls['villageId'].touched && FormControls['villageId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['villageId'].errors?.['required']">
                                            Please Select Village.</div>
                                    </span>
                                </div>

                                <div class="col-3 p-2" style="padding-left:14px !important;">
                                    <label class="required">From Planting Date:</label>
                                    <p-calendar placeholder="From Planting Date" [readonlyInput]="true"
                                        [showIcon]="true" (onSelect)="getExcessTonDetails()"
                                        formControlName="frompltngDate" [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['frompltngDate'].touched && FormControls['frompltngDate'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="FormControls['frompltngDate'].touched && FormControls['frompltngDate'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['frompltngDate'].errors?.['required']">
                                            Please Select From Planting Date.</div>
                                    </span>
                                </div>
                                <div class="col-3 p-2">
                                    <label class="required">To Planting Date:</label>
                                    <p-calendar placeholder="To Planting Date" [readonlyInput]="true" [showIcon]="true"
                                        [maxDate]="dateTime" formControlName="topltngDate"
                                        (onSelect)="getExcessTonDetails()" [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['topltngDate'].touched && FormControls['topltngDate'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="FormControls['topltngDate'].touched && FormControls['topltngDate'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['topltngDate'].errors?.['required']">
                                            Please Select To Planting Date.</div>
                                    </span>
                                </div>
                                <div class="col-3 p-2">
                                    <label class="required">Farmer Code:</label>
                                    <p-dropdown placeholder="Farmer Code" optionLabel="farmercode" [options]="farmers"
                                        optionValue="farmerId" formControlName="farmerId" [style]="{'width':'100%'}"
                                        [filter]="true" filterBy="farmercode ,farmerName,villageName"
                                        [virtualScroll]="true" [virtualScrollItemSize]="38"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['farmerId'].touched && FormControls['farmerId'].errors }">
                                        <ng-template let-farmer pTemplate="item">
                                            <div class="block align-items-center gap-2">
                                                <div>{{farmer.farmercode}} - {{farmer.farmerName}}</div>
                                                <div>{{farmer.villageName}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <span *ngIf="FormControls['farmerId'].touched && FormControls['farmerId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['farmerId'].errors?.['required']">
                                            Please Select Farmer Code.</div>
                                    </span>
                                </div>
                                <div class="col-3 p-2 mt-3">
                                    <button pButton pRipple label="Get Estimted Ton" class="p-button-primary w-100"
                                        [disabled]="fbEstimatedTon.invalid" (click)="getEstimatedTon()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </from>
            </ng-template>
        </p-toolbar>

        <!-- popup form -->
        <p-dialog header="Estimated Ton" [(visible)]="showDialog" [modal]="true" showEffect="fade"
            [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '70vw'}" [transitionOptions]="'500ms'">
            <!-- (onHide)="fbAllottedPlot.reset()" -->
            <div class="flex flex-column align-items-center justify-content-center">
                <!-- table -->
                <p-table #dt2 [value]="excessTons" dataKey="id" [rows]="10" [rowHover]="true" *ngIf="showTable"
                    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm w-100" [paginator]="true"
                    responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th *ngFor="let col of header" [pSortableColumn]="col.header">
                                {{col?.label}} <p-sortIcon field="code">
                                </p-sortIcon>
                                <p-columnFilter type="text" [field]="col.header" display="menu">
                                </p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-excesston>
                        <tr>
                            <!-- (click)="editAllottedPlot(allottedPlot)" *ngIf="!forapproval"-->
                            <td>
                                <p-overlayPanel #opexcesston>
                                    <ng-template pTemplate="content">
                                        <form [formGroup]="fbexcesston">
                                            <label> Add Excess Ton:<sup class="p-error">*</sup></label>
                                            <div class="grid mt-2">
                                                <div class="field col-12 md:col-8">
                                                    <input pInputText id="name" type="number" placeholder="Excess Ton"
                                                        formControlName="excessTonage"
                                                        [ngClass]="{'is-invalid ng-dirty': FormControl['excessTonage'].touched && FormControl['excessTonage'].errors }">
                                                    <span
                                                        *ngIf="FormControl['excessTonage'].touched && FormControl['excessTonage'].invalid">
                                                        <div class="ng-invalid ng-touched p-error"
                                                            *ngIf="FormControl['excessTonage'].errors?.['required']">
                                                            Please Enter Excess Ton.</div>
                                                    </span>
                                                </div>
                                                <div class=" col-12 md:col-4">
                                                    <button pButton class="p-button-outlined " icon="pi pi-check"
                                                        (click)="onSubmit()"></button>
                                                </div>
                                            </div>
                                        </form>
                                    </ng-template>
                                </p-overlayPanel>
                                <button pButton pRipple icon="pi pi-pencil" (click)="addExecesston($event,excesston)"
                                    class="p-element p-ripple p-button-text p-button p-component"></button>
                            </td>
                            <td *ngFor="let col of header">
                                <span *ngIf="col?.field != 'plantingDate' ">{{excesston[col.field]}}</span>
                                <span *ngIf="col?.field == 'plantingDate'">
                                    {{excesston[col.field] | date: 'dd-MM-yyyy'}}
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="16" class="md:text-center">No Excess Ton Details Found.</td>
                        </tr>
                    </ng-template>
                    <tr>
                        <td colspan="16" class="md:text-center">Loading Excess Ton Details. Please wait.</td>
                    </tr>
                </p-table>
            </div>
        </p-dialog>

        <!-- table -->
        <p-table #dtesstimatedton [value]="estimatedton" dataKey="id" [rows]="10" [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [autoLayout]="true"
            responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" (click)="clear(dtesstimatedton)"
                        icon="pi pi-filter-slash"></button>
                    <div>
                        <span class="p-input-icon-left m-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onSearch()" placeholder="Search Keyword"
                                pTooltip="Search By Farmer Code, Farmer Name, Village Name" class="w-full">
                        </span>
                        <span class="p-input-icon-left mb-2">
                            <p-dropdown class="ml-2" placeholder="Select Season" optionLabel="name" [options]="seasons"
                                [(ngModel)]="currentSeason.seasonId" (onChange)="initEstimatedTon($event.value)"
                                optionValue="seasonId">
                            </p-dropdown>
                        </span>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th *ngFor="let col of excesstonage" [pSortableColumn]="col.header">
                        {{col?.label}} <p-sortIcon field="code">
                        </p-sortIcon>
                        <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-EstimatedTon>
                <!-- (click)="editAllottedPlot(EstimatedTon)" *ngIf="!forapproval"-->
                <tr>
                    <td>
                        <p-overlayPanel #opEstimatedTon>
                            <ng-template pTemplate="content">
                                <form [formGroup]="fbEstimatedTon">
                                    <label> Update Excess Tonage:<sup class="p-error">*</sup></label>
                                    <div class="grid mt-2">
                                        <div class="field col-12 md:col-8">
                                            <input pInputText id="name" type="number" placeholder=" Excess Tonage"
                                                formControlName="excessTonage"
                                                [ngClass]="{ 'is-invalid ng-dirty': FormControls['excessTonage'].touched && FormControls['excessTonage'].errors }">
                                            <span
                                                *ngIf="FormControls['excessTonage'].touched && FormControls['excessTonage'].invalid">
                                                <div class="ng-invalid ng-touched p-error"
                                                    *ngIf="FormControls['excessTonage'].errors?.['required']">
                                                    Please Enter Excess Tonage.</div>
                                            </span>
                                        </div>
                                        <div class=" col-12 md:col-4">
                                            <button pButton class="p-button-outlined " icon="pi pi-check"
                                                (click)="SubmitEstimatedTonnage()"></button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </p-overlayPanel>
                        <button pButton pRipple icon="pi pi-pencil" (click)="editEstimatedTonnage($event,EstimatedTon)"
                            class="p-element p-ripple p-button-text p-button p-component"></button>
                    </td>

                    <td *ngFor="let col of excesstonage">
                        <span *ngIf="col?.field != 'plantingDate' ">{{EstimatedTon[col.field]}}</span>
                        <span *ngIf="col?.field == 'plantingDate'">
                            {{EstimatedTon[col.field] | date: 'dd-MM-yyyy'}}
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="16" class="md:text-center">No Estimated Ton Details Found.</td>
                </tr>
            </ng-template>
            <tr>
                <td colspan="16" class="md:text-center">Loading Estimated Ton Details. Please wait.</td>
            </tr>
        </p-table>
    </div>
</div>