<div class="col-12">
    <div class="card">
        <!-- toolbar -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Estimated Ton</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="Filter" class="p-button-primary w-100" (click)="toggleTab()"></button>
                <!-- (click)="getEstimatedTon()" -->
            </ng-template>
        </p-toolbar>

        <!-- From Toolbar -->
        <p-toolbar styleClass="p-mb-2" *ngIf="showForm">
            <ng-template pTemplate="left">
                <div class="flex justify-content-between flex-column sm:flex-row grid">
                    <from [formGroup]="fbEstimatedTon">
                        <div class="col-12">
                            <div class="flex justify-content-between flex-column sm:flex-row grid">
                                <div class="col-2 p-2">
                                    &nbsp;<label class="required">Season:</label>
                                    <p-dropdown class="ml-2" placeholder="Select a Season" optionLabel="name"
                                        [options]="seasons" formControlName="seasonId"
                                        [(ngModel)]="currentSeason.seasonId" optionValue="seasonId"
                                        [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonId'].touched && FormControls['seasonId'].errors }">
                                    </p-dropdown>
                                    <span *ngIf="FormControls['seasonId'].touched && FormControls['seasonId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['seasonId'].errors?.['required']">
                                            Please Select Season.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label>Division:</label>
                                    <p-multiSelect [options]="divisions" placeholder="Select Division"
                                        optionValue="divisionId" appendTo="body" [filter]="true"
                                        optionLabel="divisionName" formControlName="divisionId"
                                        [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['divisionId'].touched && FormControls['divisionId'].errors }"
                                        (onChange)="SetAllDivisionChilds($event.value)">
                                    </p-multiSelect>
                                    <span
                                        *ngIf="FormControls['divisionId'].touched && FormControls['divisionId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['divisionId'].errors?.['required']">
                                            Please Select Division.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label>Circle:</label>
                                    <p-multiSelect [options]="filterCircles" placeholder="Select Circle "
                                        optionValue="circleId" appendTo="body" [filter]="true" optionLabel="circleName"
                                        formControlName="circleId" [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['circleId'].touched && FormControls['circleId'].errors }"
                                        (onChange)="SetAllCircleChilds($event.value)">
                                    </p-multiSelect>
                                    <span *ngIf="FormControls['circleId'].touched && FormControls['circleId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['circleId'].errors?.['required']">
                                            Please Select Circle.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label>Section:</label>
                                    <p-multiSelect [options]="filterSections" placeholder="Select Section "
                                        optionValue="sectionId" appendTo="body" [filter]="true"
                                        optionLabel="sectionName" formControlName="sectionId" [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['sectionId'].touched && FormControls['sectionId'].errors }"
                                        (onChange)="SetAllSectionChilds($event.value)"></p-multiSelect>
                                    <span
                                        *ngIf="FormControls['sectionId'].touched && FormControls['sectionId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['sectionId'].errors?.['required']">
                                            Please Select Section.</div>
                                    </span>
                                </div>
                                <div class="col-2 p-2">
                                    <label class="required">Village:</label>
                                    <p-multiSelect [options]="filterVillages" placeholder="Select Village"
                                        optionValue="villageId" appendTo="body" (onChange)="GetFarmers()"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['villageId'].touched && FormControls['villageId'].errors }"
                                        [filter]="true" optionLabel="villageName" formControlName="villageId"
                                        [style]="{'width':'100%'}"></p-multiSelect>
                                    <span
                                        *ngIf="FormControls['villageId'].touched && FormControls['villageId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['villageId'].errors?.['required']">
                                            Please Select Village.</div>
                                    </span>
                                </div>

                                <div class="col-3 p-2" style="padding-left:14px !important;">
                                    <label class="required">From Planting Date:</label>
                                    <p-calendar placeholder="From Planting Date" [readonlyInput]="true"
                                        [showIcon]="true" (onSelect)="GetFarmers()" formControlName="frompltngDate"
                                        [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['frompltngDate'].touched && FormControls['frompltngDate'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="FormControls['frompltngDate'].touched && FormControls['frompltngDate'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['frompltngDate'].errors?.['required']">
                                            Please Select From Planting Date.</div>
                                    </span>
                                </div>
                                <div class="col-3 p-2">
                                    <label class="required">To Planting Date:</label>
                                    <p-calendar placeholder="To Planting Date" [readonlyInput]="true" [showIcon]="true"
                                        [maxDate]="dateTime" formControlName="topltngDate" (onSelect)="GetFarmers()"
                                        [style]="{'width':'100%'}"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['topltngDate'].touched && FormControls['topltngDate'].errors }">
                                    </p-calendar>
                                    <span
                                        *ngIf="FormControls['topltngDate'].touched && FormControls['topltngDate'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['topltngDate'].errors?.['required']">
                                            Please Select To Planting Date.</div>
                                    </span>
                                </div>
                                <div class="col-3 p-2">
                                    <label class="required">Farmer Code:</label>
                                    <p-dropdown placeholder="Farmer Code" optionLabel="farmercode" [options]="farmers"
                                        formControlName="farmerCode" [style]="{'width':'100%'}" [filter]="true"
                                        filterBy="farmerCode,farmerName,villageName" [virtualScroll]="true"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['farmerCode'].touched && FormControls['farmerCode'].errors }">
                                        <ng-template let-farmer pTemplate="item">
                                            <div class="block align-items-center gap-2">
                                                <div>{{farmer.farmercode}} - {{farmer.farmerName}}</div>
                                                <div>{{farmer.villageName}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <span
                                        *ngIf="FormControls['farmerCode'].touched && FormControls['farmerCode'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['farmerCode'].errors?.['required']">
                                            Please Select Farmer Code.</div>
                                    </span>
                                </div>
                                <div class="col-3 p-2 mt-3">
                                    <button pButton pRipple label="Get Estimted Ton" class="p-button-primary w-100"
                                        (click)="getEstimatedTon()"></button>
                                </div>
                            </div>
                        </div>
                    </from>
                    <!-- <div class="col-2 p-2">
                        <button pButton pRipple label="Search" class="p-button-raised p-button-primary" style="width:100%"></button>(click)="onSubmit()"
                    </div> -->
                </div>
            </ng-template>
        </p-toolbar>

        <!-- table -->
        <p-table #dt1 [value]="estimatedton" dataKey="id" [rows]="10" [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [autoLayout]="true"
            responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"></button>
                    <!--  (click)="clear(dt1)"-->
                    <div>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter placeholder="Search Keyword"
                                pTooltip="Search By Farmer Code, Farmer Name, Village Name,Plot No." class="w-full" />
                        </span>
                        <span class="p-input-icon-left mb-2">
                            <p-dropdown class="ml-2" placeholder="Select a season" optionLabel="name"
                                [options]="seasons" [(ngModel)]="currentSeason.seasonId"
                                (onChange)="initEstimatedTon($event.value)" optionValue="seasonId">
                            </p-dropdown>
                        </span>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th *ngFor="let col of headers" [pSortableColumn]="col.header">
                        {{col?.label}} <p-sortIcon field="code">
                        </p-sortIcon>
                        <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-EstimatedTon>
                <tr>
                    <!-- (click)="editAllottedPlot(EstimatedTon)" *ngIf="!forapproval"-->
                    <td>
                        <p-overlayPanel #op>
                            <ng-template pTemplate="content">
                                <form>
                                    <label> Update Estimated Ton:<sup class="p-error">*</sup></label>
                                    <div class="grid mt-2">

                                        <div class="field col-12 md:col-8">

                                            <input pInputText id="name" type="number" placeholder="Estimated Ton">
                                        </div>
                                        <div class=" col-12 md:col-4">
                                            <button pButton class="p-button-outlined " icon="pi pi-check"></button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </p-overlayPanel>
                        <button pButton pRipple icon="pi pi-pencil" (click)="op.toggle($event)"
                            class="p-element p-ripple p-button-text p-button p-component"></button>
                    </td>
                    <td *ngFor="let col of headers">
                        <span *ngIf="col?.field != 'PlantingDate' ">{{EstimatedTon[col.field]}}</span>
                        <span *ngIf="col?.field == 'PlantingDate'">
                            {{EstimatedTon[col.field] | date: 'dd-MM-yyyy'}}
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="16" class="md:text-center">No Estimated Ton Details Found.</td>
                </tr>
            </ng-template>
            <tr>
                <td colspan="16" class="md:text-center">Loading Estimated Ton Details. Please wait.</td>
            </tr>
        </p-table>
    </div>
</div>