<div class="col-12">
    <div class="card">
  
      <!-- toolbar -->
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <h4>Loan Type</h4>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton pRipple label="Add Loan Type" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="showDialog = true"></button>
        </ng-template>
      </p-toolbar>
  
      <!-- table -->
      <p-table #dt1 [value]="dieselBunks" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
        styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [autoLayout]="true"
        responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
              (click)="clear(dt1)"></button>
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
                class="w-full" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              Code <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Name <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Address <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Pin Code <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Mobile <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Email <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Rate <p-sortIcon></p-sortIcon>
            </th>
            <th>
              GL Code <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Sub GL Code <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Is Active
            </th>
            <th>
              Created Date <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Created By User <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Updated Date <p-sortIcon></p-sortIcon>
            </th>
            <th>
              Updated By User <p-sortIcon></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bunk>
          <tr>
            <td> <p-inputNumber  inputId="GLCode"  > </p-inputNumber></td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            <td>{{bunk}}</td>
            
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="14">No diesel bunk found.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="14">Loading diesel bunk data. Please wait.</td>
          </tr>
        </ng-template>
      </p-table>
  
      <!-- dialog box -->
      <p-dialog header="Loan Type" [(visible)]="showDialog" [modal]="true" showEffect="fade"
        [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '60vw'}" >
        <div class="flex flex-column align-items-center justify-content-center">     
            <form [formGroup]="fbloantype " (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="grid p-fluid" >

                    <div class="field col-12 md:col-4">
                       <label htmlFor="Category"> Category:<sup class="p-error">*</sup></label>
                       <p-dropdown [options]="cities" formControlName="Category" [(ngModel)]="selectedDrop" placeholder="Select a Category" [showClear]="true"></p-dropdown>             
                      
                    </div>
                    
                    <div class="field col-12 md:col-4">
                        <label for="Code">Code</label>
                        <p-inputNumber formControlName="Code" inputId="Name">
                        </p-inputNumber>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="Name">Name</label>
                        <p-inputNumber formControlName="Name" inputId="Name">
                        </p-inputNumber>
                    </div>
                    
                   <div class="field col-12 md:col-4">
                        <label for="Priority">Priority:<sup class="p-error">*</sup></label>
                        <p-inputNumber formControlName="Priority" inputId="Priority" >
                        </p-inputNumber>

                       
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="IntrestRate">IntrestRate:<sup class="p-error">*</sup></label>
                        <p-inputNumber  inputId="IntrestRate" formControlName="IntrestRate" [minFractionDigits]="2">
                        </p-inputNumber>
                       
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="GLCode">GLCode:<sup class="p-error">*</sup></label>
                        <p-inputNumber  inputId="GLCode" formControlName="GLCode" >
                        </p-inputNumber>

                        
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="SubGLcode">SubGLcode:<sup class="p-error">*</sup></label>
                        <p-inputNumber  inputId="SubGLcode" formControlName="SubGLcode" [minFractionDigits]="2">
                        </p-inputNumber>

                    </div>

                    

                    <div class="field col-12 md:col-4 ">
                        <div class="col-2">
                            <label  htmlFor="isActive">Is Active?:<sup class="p-error">*</sup></label><br>
                            <p-inputSwitch [(ngModel)]="valSwitch" formControlName="isActive"></p-inputSwitch>
                            
                        </div>  

                    </div>

                    <div class="field col-12 md:col-3">
                      <div class="button-container">
                        <p-button label="Show Data" label="Add LoanSub Type" (click)="showData()"></p-button>
                      </div>
                  </div>

                                         
                </div>

            </div>
        </form> 
    </div>
        <ng-template pTemplate="left">
          <button pButton pRipple type="submit" label="Submit" class="p-button-raised p-button-success"
            (click)="onSubmit()"></button>
        </ng-template>




        
        <div *ngIf="dataShown">

          <div class="col-12">
        

            <p-table  dataKey="id" [tableStyle]="{'min-width': '75rem'}"
>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"></th>
                    <th pSortableColumn="name">Code <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="country.name">Name <p-sortIcon field="country.name"></p-sortIcon></th>
                    <th pSortableColumn="company">Prioruty <p-sortIcon field="company"></p-sortIcon></th>             
                    <th pSortableColumn="name">Interest Rate <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="country.name">Uom <p-sortIcon field="country.name"></p-sortIcon></th>
                    <th pSortableColumn="country.name">Rate <p-sortIcon field="country.name"></p-sortIcon></th>
                    <th pSortableColumn="company">RateLoanQtyType <p-sortIcon field="company"></p-sortIcon></th>
                    <th pSortableColumn="representative.name">Requisition request <p-sortIcon field="representative.name"></p-sortIcon></th>  <th pSortableColumn="representative.name">Representative <p-sortIcon field="representative.name"></p-sortIcon></th>
                    <th pSortableColumn="name">Gl Code <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="name">Sub Gl Code <p-sortIcon field="name"></p-sortIcon></th>

                  </tr>


                  <tr>
                       <th>
                       </th>
                         <th>
                            <input  type="text" pInputText>
                         </th>

                          <th>
                             <input type="text" pInputText>
                          </th>
                  <th>
                     <p-inputNumber [(ngModel)]="value1" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
                      </p-inputNumber> 
                    </th>

                    <th>
                      <input type="text" pInputText>
                    </th>
                      <th>
                        <p-multiSelect [options]="options" [showToggleAll]="true" optionLabel="name"  class="multiselect-custom-virtual-scroll"> </p-multiSelect>
                   </th>

                  <th>
                       <p-inputNumber [(ngModel)]="value1" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
                       </p-inputNumber> 
                  </th>

                 <th>
                    <p-multiSelect [options]="options" [showToggleAll]="true" optionLabel="name"  class="multiselect-custom-virtual-scroll"> </p-multiSelect>
                 </th>

               <th>
                  <p-multiSelect [options]="options" optionLabel="name"  class="multiselect-custom-virtual-scroll"> </p-multiSelect>
               </th>

              <th>
                <input type="text" pInputText>
             </th>

             <th>
                 <input type="text" pInputText>
            </th>

             <th>
               <input type="text" pInputText>
             </th>

     </tr>

    </ng-template>
   </p-table>
   </div>
</div>
</p-dialog>
 </div>
</div>
  