<div class="col-12">
  <div class="card">

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Diesel Rates</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Diesel Rate" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addDieselRate()"></button>
      </ng-template>
    </p-toolbar>

    <!-- table -->
    <p-table #dt1 [value]="dieselRates" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="fromDate">
            From Date <p-columnFilter type="text" field="fromDate" display="menu"></p-columnFilter>
            <p-sortIcon field="fromDate"></p-sortIcon>
          </th>
          <th pSortableColumn="toDate">
            To Date <p-columnFilter type="text" field="toDate" display="menu"></p-columnFilter>
            <p-sortIcon field="toDate"></p-sortIcon>
          </th>
          <th pSortableColumn="rate">
            Rate <p-columnFilter type="text" field="rate" display="menu"></p-columnFilter>
            <p-sortIcon field="rate"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">
            Is Active <p-columnFilter type="text" field="isActive" display="menu"></p-columnFilter>
            <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created Date <p-columnFilter type="text" field="createdAt" display="menu"></p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdByUser">
            Created By <p-columnFilter type="text" field="createdByUser" display="menu"></p-columnFilter>
            <p-sortIcon field="createdByUser"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">
            Updated Date <p-columnFilter type="text" field="updatedAt" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedByUser">
            Updated By <p-columnFilter type="text" field="updatedByUser" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedByUser"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rate>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component mr-2"
              (click)="editDieselRate(rate)"></button></td>
          <td>{{rate.fromDate | date: mediumDate}}</td>
          <td>{{rate.toDate | date: mediumDate}}</td>
          <td>{{rate.rate}}</td>
          <td class="text-center">
            <p-checkbox name="active" value="active" [(ngModel)]="rate.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{rate.createdAt | date: mediumDate}}</td>
          <td>{{rate.createdByUser}}</td>
          <td>{{rate.updatedAt | date: mediumDate}}</td>
          <td>{{rate.updatedByUser}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center" colspan="8">No Diesel Rates Found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td class="text-center" colspan="8">Loading Diesel Rates Data. Please Wait.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- dialog box -->
    <p-dialog header="Diesel Rate" [(visible)]="showDialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" (onHide)="fbDieselRate.reset()"
      [contentStyle]="{'overflow': 'visible'}">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbDieselRate" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label>From Date:<sup class="p-error">*</sup></label>
                  <p-calendar [readonlyInput]="true" [showIcon]="true" formControlName="fromDate"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['fromDate'].touched && FormControls['fromDate'].errors }">
                  </p-calendar>
                  <span *ngIf="FormControls['fromDate'].touched && FormControls['fromDate'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['fromDate'].errors?.['required']">
                      Please Select From Date.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>To Date:<sup class="p-error">*</sup></label>
                  <p-calendar [readonlyInput]="true" [showIcon]="true" formControlName="toDate" mask="99/99/9999"
                    [minDate]="fbDieselRate.value.fromDate"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['toDate'].touched && FormControls['toDate'].errors }">
                  </p-calendar>
                  <span *ngIf="FormControls['toDate'].touched && FormControls['toDate'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['toDate'].errors?.['required']">
                      Please Select To Date.</div>
                  </span>
                  <span>
                    <div class="ng-invalid ng-touched p-error"
                      *ngIf="fbDieselRate.value.fromDate > fbDieselRate.value.toDate">
                      To Date Always Greater Than Equals To From Date</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Rate:<sup class="p-error">*</sup></label>
                  <p-inputNumber formControlName="rate" mode="decimal" locale="en-IN" [minFractionDigits]="2"
                    [maxFractionDigits]="2"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['rate'].touched && FormControls['rate'].errors }">
                  </p-inputNumber>
                  <span *ngIf="FormControls['rate'].touched && FormControls['rate'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['rate'].errors?.['required']">
                      Please Enter Rate.</div>
                  </span>
                </div>
                <div class="col-12 md:col-6">
                  <label>Is Active:</label><br><br>
                  <p-inputSwitch formControlName="isActive"></p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-12" style="float:right">
          <button pButton pRipple type="button" [label]="submitLabel" class="p-button-raised p-button-success"
            (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

  </div>
</div>
