<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <p-dialog header="Circle" [(visible)]="dialog" showEffect="fade"
    [breakpoints]="{'960px': '40%', '640px': '80%'}" [style]="{width: '40%'}"  [modal]="true"
      (onHide)="fbcircle.reset()">
      <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
          <form [formGroup]="fbcircle" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="col-12">
                <div class="p-fluid p-formgrid grid">
                  <div class="field col-12 md:col-6">
                    <label>Divisions:<sup class="p-error">*</sup></label>
                    <p-dropdown [options]="divisions" [filter]="true" filterBy="divisionName" [virtualScroll]="true"
                      [virtualScrollItemSize]="38" appendTo="body" optionLabel="divisionName"
                      formControlName="divisionId" optionValue="divisionId" placeholder="Select Division" [ngClass]="{
                        'is-invalid ng-dirty':
                          FormControls['divisionId'].touched &&
                          FormControls['divisionId'].errors
                      }">
                    </p-dropdown>
                    <span *ngIf="
                        FormControls['divisionId'].touched &&
                        FormControls['divisionId'].invalid
                      ">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['divisionId'].errors?.['required']">
                        Please Select Division.
                      </div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Name:<sup class="p-error">*</sup></label>
                    <input pInputText id="name" #name type="text" placeholder="Enter Name" formControlName="name"
                      alphaOnly [maxlength]="maxLength.name"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                    <div class="text-right">
                      <small>{{name.value.length}}/{{maxLength.name}}</small>
                    </div>
                    <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                        Please Enter Name.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['minlength']">
                        Name Min Characters Is 2.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                        Name Should Contains Only Alphabets.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Code:<sup class="p-error">*</sup></label>
                    <input pInputText id="code" type="text" #code placeholder="Enter Code" formControlName="code"
                      alphaNumeric [readonly]="fbcircle.value.tptId" [maxlength]="20"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                    <div class="text-right">
                      <small>{{code.value.length}}/20</small>
                    </div>
                    <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                        Please Enter Code.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                        Code Min Length Is 2 .</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                        Code Max Length Is 20.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                        Code Should Contains Only Alpha Numeric.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Incharge Name:</label>
                    <input pInputText id="inchargeName" #inchargeName type="text" placeholder="Enter Incharge Name"
                      formControlName="inchargeName" alphaOnly [maxlength]="maxLength.name">
                    <div class="text-right">
                      <small> {{inchargeName.value.length}}/{{maxLength.name}} </small>
                    </div>
                    <span *ngIf="FormControls['inchargeName'].touched && FormControls['inchargeName'].invalid">
                      <div class="ng-invalid ng-touched " *ngIf="FormControls['inchargeName'].errors?.['minlength']">
                        Incharge Name Min Characters Is 2.</div>
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['inchargeName'].errors?.['pattern']">
                        Incharge Name Should Contains Only Alphabets.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Incharge PhoneNo:</label>
                    <input pInputText id="inchargePhoneNo" formControlName="inchargePhoneNo"
                      placeholder="Enter Incharge PhoneNo" #inchargePhoneNo numericOnly [maxlength]="maxLength.phoneNo"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['inchargePhoneNo'].touched && FormControls['inchargePhoneNo'].errors }">
                    <div class="text-right">
                      <small>{{inchargePhoneNo.value.length}}/{{maxLength.phoneNo}}</small>
                    </div>
                    <span *ngIf="FormControls['inchargePhoneNo'].touched && FormControls['inchargePhoneNo'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['inchargePhoneNo'].errors?.['required']">Please Enter Phone Number.</div>
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['inchargePhoneNo'].errors?.['pattern']">
                        First Digit Should Be Greater Than 4 And Must Contains 10 Digits.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Listing Order:<sup class="p-error">*</sup></label>
                    <input pInputText inputId="listingOrder" #listingOrder placeholder="Enter Listing Order"
                      formControlName="listingOrder" numericOnly [maxlength]="6"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['listingOrder'].touched && FormControls['listingOrder'].errors }">
                    <div class="text-right">
                      <small>{{listingOrder.value.length}}/6</small>
                    </div>
                    <span *ngIf="FormControls['listingOrder'].touched && FormControls['listingOrder'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['listingOrder'].errors?.['required']">Please Enter listing Order.</div>
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['listingOrder'].errors?.['pattern']">Order Should Only Contains Numbers.
                      </div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Address:<sup class="p-error">*</sup></label>
                    <textarea rows="5" cols="30" #address placeholder="Enter Address" pInputTextarea
                      formControlName="address" [maxlength]="maxLength.address"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['address'].touched && FormControls['address'].errors }"></textarea>
                    <div class="text-right">
                      <small>{{address.value.length}}/{{maxLength.address}} </small>
                    </div>
                    <span *ngIf="FormControls['address'].touched && FormControls['address'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['address'].errors?.['required']">
                        Please Enter Address.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['address'].errors?.['pattern']">
                        Address Is Incorrect.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="isActive">Is Active:</label><br />
                    <p-inputSwitch formControlName="isActive"></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float: right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
            [disabled]="fbcircle.invalid" (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Circles</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Circle" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="addCircle()" *ngIf="permissions.CanCreateCircle"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="circles" dataKey="id" [rows]="10" [rowHover]="true" [alwaysShowPaginator]="false"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [globalFilterFields]="['divisionName', 'circleCode','address',
      'name','inchargeName','circleName','inchargePhoneNo','inchargePhoneNo' ,'listingOrder',
          'listingOrder','createdAt','createdBy','updatedAt','updatedBy']" [autoLayout]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <div>
            <button pButton label="Clear" class="p-button-outlined m-2" icon="pi pi-filter-slash"
              (click)="clear(dt1)"></button>
            <button (click)="exportPdf()" pButton class="p-button-outlined p-button-warning m-2"
              icon="pi pi-file-pdf"></button>
            <button (click)="exportExcel()" pButton class="p-button-outlined m-2" icon="pi pi-file-excel"></button>
          </div>
          <span class="p-input-icon-left m-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full " />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="divisionName">
            Division<p-columnFilter type="text" field="divisionName" display="menu"></p-columnFilter>
            <p-sortIcon field="divisionName"></p-sortIcon>
          </th>
          <th pSortableColumn="circleCode">Code<p-columnFilter type="text" field="circleCode" display="menu">
            </p-columnFilter>
            <p-sortIcon field="circleCode"></p-sortIcon>
          </th>
          <th pSortableColumn="circleName">Name <p-columnFilter type="text" field="circleName" display="menu">
            </p-columnFilter>
            <p-sortIcon field="circleName"></p-sortIcon>
          </th>
          <th pSortableColumn="inchargeName">Incharge Name<p-columnFilter type="text" field="inchargeName"
              display="menu"></p-columnFilter>
            <p-sortIcon field="inchargeName"></p-sortIcon>
          </th>
          <th pSortableColumn="inchargePhoneNo">Incharge PhoneNo<p-columnFilter type="text" field="inchargePhoneNo"
              display="menu"></p-columnFilter>
            <p-sortIcon field="inchargePhoneNo"></p-sortIcon>
          </th>
          <th pSortableColumn="listingOrder">Order <p-columnFilter type="text" field="listingOrder" display="menu">
            </p-columnFilter>
            <p-sortIcon field="listingOrder"></p-sortIcon>
          </th>
          <th pSortableColumn="address">Address<p-columnFilter type="text" field="address" display="menu">
            </p-columnFilter>
            <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">Is Active <p-columnFilter type="text" field="isActive"
              display="menu"></p-columnFilter>
            <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">Created Date<p-columnFilter type="text" field="createdAt" display="menu">
            </p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy"> Created By <p-columnFilter type="text" field="createdBy"
              display="menu"></p-columnFilter>
            <p-sortIcon field="createdBy"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">Updated Date<p-columnFilter type="text" field="updatedAt" display="menu">
            </p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedBy">Updated BY<p-columnFilter type="text" field="updatedBy"
              display="menu"></p-columnFilter>
            <p-sortIcon field="updatedBy"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-circles>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
              (click)="editProduct(circles)" [disabled]="!permissions.CanUpdateCircle"></button></td>
          <td>{{ circles.divisionName }}</td>
          <td>{{ circles.circleCode }}</td>
          <td>{{ circles.circleName }}</td>
          <td>{{ circles.inchargeName }}</td>
          <td>{{ circles.inchargePhoneNo }}</td>
          <td>{{ circles.listingOrder }}</td>
          <td>{{ circles.address }}</td>
          <td class="text-center">
            <p-checkbox name="active" value="active" [(ngModel)]="circles.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{ circles.createdAt | date : mediumDate }}</td>
          <td>{{ circles.createdBy }}</td>
          <td>{{ circles.updatedAt | date : mediumDate }}</td>
          <td>{{ circles.updatedBy }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center m-5" colspan="50%">No Circles Found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td class="md:text-center m-5" colspan="16">Loading.... Circles Data. Please Wait.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
