<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <p-dialog header="Circle" [(visible)]="dialog" showEffect="fade" [breakpoints]="{'960px': '40%', '640px': '80%'}"
      [style]="{width: '40%'}" [modal]="true" (onHide)="fbcircle.reset()">
      <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
          <form [formGroup]="fbcircle" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="col-12">
                <div class="p-fluid p-formgrid grid">
                  <div class="field col-12 md:col-6">
                    <label class="required">Division:</label>
                    <p-dropdown [options]="divisions" [filter]="true" filterBy="divisionName" [virtualScroll]="true"
                      [virtualScrollItemSize]="38" appendTo="body" optionLabel="divisionName"
                      formControlName="divisionId" optionValue="divisionId" placeholder="Select Division" [ngClass]="{
                        'is-invalid ng-dirty':
                          FormControls['divisionId'].touched &&
                          FormControls['divisionId'].errors
                      }">
                    </p-dropdown>
                    <span *ngIf="
                        FormControls['divisionId'].touched &&
                        FormControls['divisionId'].invalid
                      ">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['divisionId'].errors?.['required']">
                        Please Select Division.
                      </div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label class="required">Name:</label>
                    <input pInputText id="name" #name type="text" placeholder="Enter Name" formControlName="name"
                      alphaOnly [maxlength]="maxLength.name"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                            Please Enter Name.</div>
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['minlength']">
                            Name Min Characters Is 2.</div>
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                            Name Should Contains Only Alphabets.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{name.value.length}}/{{maxLength.name}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label class="required">Code:</label>
                    <input pInputText id="code" type="text" #code placeholder="Enter Code" formControlName="code"
                      alphaNumeric [readonly]="fbcircle.value.tptId" [maxlength]="20"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                            Please Enter Code.</div>
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                            Code Min Length Is 2 .</div>
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                            Code Max Length Is 20.</div>
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                            Code Should Contains Only Alpha Numeric.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{code.value.length}}/20</small>
                      </div>
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Incharge Name:</label>
                    <input pInputText id="inchargeName" #inchargeName type="text" placeholder="Enter Incharge Name"
                      formControlName="inchargeName" alphaOnly [maxlength]="maxLength.name">
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['inchargeName'].touched && FormControls['inchargeName'].invalid">
                          <div class="ng-invalid ng-touched "
                            *ngIf="FormControls['inchargeName'].errors?.['minlength']">
                            Incharge Name Min Characters Is 2.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['inchargeName'].errors?.['pattern']">
                            Incharge Name Should Contains Only Alphabets.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small> {{inchargeName.value.length}}/{{maxLength.name}} </small>
                      </div>
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Incharge PhoneNo:</label>
                    <input pInputText id="inchargePhoneNo" formControlName="inchargePhoneNo"
                      placeholder="Enter Incharge PhoneNo" #inchargePhoneNo numericOnly [maxlength]="maxLength.phoneNo"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['inchargePhoneNo'].touched && FormControls['inchargePhoneNo'].errors }">
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span
                          *ngIf="FormControls['inchargePhoneNo'].touched && FormControls['inchargePhoneNo'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['inchargePhoneNo'].errors?.['required']">Please Enter Phone Number.
                          </div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['inchargePhoneNo'].errors?.['pattern']">
                            First Digit Should Be Greater Than 4 And Must Contains 10 Digits.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{inchargePhoneNo.value.length}}/{{maxLength.phoneNo}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label class="required">Listing Order:</label>
                    <input pInputText inputId="listingOrder" #listingOrder placeholder="Enter Listing Order"
                      formControlName="listingOrder" numericOnly [maxlength]="2"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['listingOrder'].touched && FormControls['listingOrder'].errors }">
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['listingOrder'].touched && FormControls['listingOrder'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['listingOrder'].errors?.['required']">Please Enter listing Order.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['listingOrder'].errors?.['pattern']">Order Should Only Contains Numbers.
                          </div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{listingOrder.value.length}}/2</small>
                      </div>
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label class="required">Address:</label>
                    <textarea rows="5" cols="30" #address placeholder="Enter Address" pInputTextarea
                      formControlName="address" [maxlength]="maxLength.address"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['address'].touched && FormControls['address'].errors }"></textarea>

                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['address'].touched && FormControls['address'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['address'].errors?.['required']">
                            Please Enter Address.</div>
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['address'].errors?.['pattern']">
                            Address Is Incorrect.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{address.value.length}}/{{maxLength.address}} </small>
                      </div>
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="isActive">Is Active:</label><br />
                    <p-inputSwitch formControlName="isActive"></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float: right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
            [disabled]="fbcircle.invalid" (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Circles</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Circle" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="addCircle()" *ngIf="permissions?.CanCreateCircle"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="circles" dataKey="id" [rows]="10" [rowHover]="true" [alwaysShowPaginator]="false"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [globalFilterFields]="['divisionName', 'circleCode','address',
      'name','inchargeName','circleName','inchargePhoneNo','inchargePhoneNo' ,'listingOrder',
          'listingOrder','createdAt','createdBy','updatedAt','updatedBy']" [autoLayout]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <div>
            <button pButton label="Clear" class="p-button-outlined m-2" icon="pi pi-filter-slash"
              (click)="clear(dt1)"></button>
            <button (click)="exportPdf()" pButton class="p-button-outlined p-button-warning m-2"
              icon="pi pi-file-pdf"></button>
            <button (click)="exportExcel()" pButton class="p-button-outlined m-2" icon="pi pi-file-excel"></button>
          </div>
          <span class="p-input-icon-left m-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full " />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th *ngFor="let col of headers" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-circles>
        <tr>
          <td *ngIf="permissions?.CanUpdateCircle"><button pButton pRipple icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component" (click)="editProduct(circles)"></button>
          </td>
          <td *ngFor="let col of headers" [ngClass]="col?.field == 'isActive' ? 'text-center' : ''">
            <span
              *ngIf="col?.field != 'createdAt' && col?.field != 'updatedAt' && col?.field != 'isActive'">{{circles[col.field]}}</span>
            <span *ngIf="col?.field == 'createdAt' || col?.field == 'updatedAt'">
              {{circles[col.field] | date: mediumDate}}
            </span>
            <span *ngIf="col?.field == 'isActive'">
              <p-checkbox name="active" value="active" [binary]="true" [(ngModel)]="circles[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center m-5" colspan="50%">No Circles Found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td class="md:text-center m-5" colspan="16">Loading.... Circles Data. Please Wait.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
