<div class="col-12">
  <div class="card">
    <p-dialog
      header="Circle"
      [(visible)]="dialog"
      showEffect="fade"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      [modal]="true"
    >
      <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
          <form [formGroup]="fbcircles" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="col-12">
                <div class="p-fluid p-formgrid grid">
                  <div class="field col-12 md:col-6">
                    <label>Divisions:<sup class="p-error">*</sup></label>
                    <p-dropdown
                      [options]="divisions"
                      optionLabel="divisionName"
                      formControlName="divisionId"
                      optionValue="divisionId"
                      placeholder="Select Division"
                      [ngClass]="{
                        'is-invalid ng-dirty':
                          FormControls['divisionId'].touched &&
                          FormControls['divisionId'].errors
                      }"
                    >
                    </p-dropdown>
                    <span
                      *ngIf="
                        FormControls['divisionId'].touched &&
                        FormControls['divisionId'].invalid
                      "
                    >
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['divisionId'].errors?.['required']"
                      >
                         Division Is Required.
                      </div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="code"
                      >Circle Code:<sup class="p-error">*</sup></label
                    >
                    <input
                      pInputText
                      id="code"
                      formControlName="code"
                      type="text"
                      placeholder="Enter Circle Code"
                      [ngClass]="{
                        'is-invalid ng-dirty':
                          FormControls['code'].touched &&
                          FormControls['code'].errors
                      }"
                    />
                    <span
                      *ngIf="
                        FormControls['code'].touched &&
                        FormControls['code'].invalid
                      "
                    >
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['code'].errors?.['required']"
                      >
                        Please Enter Code.
                      </div>
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['code'].errors?.['minlength']"
                      >
                      Code Max Length Is 2 .
                      </div>
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['code'].errors?.['maxlength']"
                      >
                        Code Max Length Is 6.
                      </div>
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['code'].errors?.['pattern']"
                      >
                        Code Should Contains Only Letters And Digits.
                      </div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label>Circle Name:<sup class="p-error">*</sup></label>
                    <input
                      pInputText
                      id="address1"
                      type="text"
                      formControlName="name"
                      placeholder="Enter Circle Name"
                      [ngClass]="{
                        'is-invalid ng-dirty':
                          FormControls['name'].touched &&
                          FormControls['name'].errors
                      }"
                    />

                    <span
                      *ngIf="
                        FormControls['name'].touched &&
                        FormControls['name'].invalid
                      "
                    >
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['name'].errors?.['required']"
                      >
                        Name Is Required
                      </div>
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['name'].errors?.['pattern']"
                      >
                        Name Should Only Contains Alphabets .
                      </div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="inchargePhoneNo">Incharge PhoneNo:</label>
                    <p-inputMask
                      id="inchargePhoneNo"
                      mask="(999)-999-9999"
                      formControlName="inchargePhoneNo"
                     >
                    </p-inputMask>
                    <span
                      *ngIf="
                        FormControls['inchargePhoneNo'].touched &&
                        FormControls['inchargePhoneNo'].invalid
                      "
                    >
                      <div
                        class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['inchargePhoneNo'].errors?.['pattern']"
                      >
                        Phone Number Is In-Correct.
                      </div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="inchargeName">Incharge Name:</label>
                    <input
                      pInputText
                      id="inchargeName"
                      formControlName="inchargeName"
                      placeholder="Enter Incharge Name"
                      type="text"
                    />

                    <div
                      class="ng-invalid ng-touched p-error"
                      *ngIf="FormControls['inchargeName'].errors?.['pattern']"
                    >
                      Incharge Name Should Only Contain Alphabets.
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="listingOrder"
                      >listing Order:<sup class="p-error">*</sup></label
                    >
                    <input
                      pInputText
                      id="listingOrder"
                      formControlName="listingOrder"
                      placeholder="Enter Listing Order"
                      type="text"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['listingOrder'].touched && FormControls['listingOrder'].errors }"
                      
                    />
                    <div
                      *ngIf="FormControls['listingOrder'].invalid &&  FormControls['listingOrder'].touched && FormControls['listingOrder'].errors?.['required']"
                      class="error-message p-error"
                    >
                      Listing Order Is Required
                    </div>
                    <div
                      class="ng-invalid ng-touched p-error"
                      *ngIf="FormControls['listingOrder'].errors?.['pattern']"
                    >
                      Order Should Only Contains Integers.
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="address"
                      >Address:<sup class="p-error">*</sup></label
                    >
                    <textarea
                      rows="5"
                      cols="30"
                      formControlName="address"
                      placeholder="Address"
                      pInputTextarea
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['address'].touched && FormControls['address'].errors }"
                    ></textarea>
                    <div
                      *ngIf="
                        FormControls['address'].invalid &&
                        FormControls['address'].touched
                      "
                      class="error-message p-error"
                    >
                      Address Is Required
                    </div>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label htmlFor="isActive">Is Active?:</label><br />
                    <p-inputSwitch
                      [(ngModel)]="valSwitch"
                      formControlName="isActive"
                    ></p-inputSwitch>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="col-4" style="float: right">
          <button
            pButton
            pRipple
            type="submit"
            [label]="submitLabel"
            class="p-button-raised p-button-success"
            (click)="onSubmit()"
          ></button>
        </div>
      </ng-template>
    </p-dialog>
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Circles</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="New Circle"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="InitCircle()"
        ></button>
      </ng-template>
    </p-toolbar>
    <p-table
      #dt1
      [value]="circles"
      dataKey="id"
      [rows]="10"
      sortMode="multiple"
      [loading]="loading"
      [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
      [paginator]="true"
      [globalFilterFields]="[
        'circleId',
        'code',
        'name',
        'divisionId',
        'divisionName',
        'inchargeName',
        'inchargePhoneNo',
        'address',
        'listingOrder',
        'updatedAt',
        'createdAt',
        'updatedBy',
        'createdBy'
      ]"
      responsiveLayout="scroll"
      [tableStyle]="{ width: 'max-content' }"
      [autoLayout]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button
            pButton
            label="Clear"
            class="p-button-outlined mb-2"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              #filter
              (input)="onGlobalFilter(dt1, $event)"
              placeholder="Search Keyword"
              class="w-full"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
         

          <th pSortableColumn="code">
            Code<p-columnFilter type="text" field="code" display="menu">
            </p-columnFilter>
            <p-sortIcon field="code"></p-sortIcon>
          </th>

          <th pSortableColumn="name">
            Name
            <p-columnFilter type="text" field="name" display="menu">
            </p-columnFilter>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="divisionName">
            Division Name<p-columnFilter
              type="text"
              field="divisionName"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="divisionName"></p-sortIcon>
          </th>
          <th pSortableColumn="inchargeName">
            Incharge Name
            <p-columnFilter
              type="text"
              field="inchargeName"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="inchargeName"></p-sortIcon>
          </th>
          <th pSortableColumn="inchargePhoneNo">
            Incharge Phone Number
            <p-columnFilter
              type="text"
              field="inchargePhoneNo"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="inchargePhoneNo"></p-sortIcon>
          </th>
          <th pSortableColumn="address">
            Address
            <p-columnFilter type="text" field="address" display="menu">
            </p-columnFilter>
            <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th pSortableColumn="listingOrder">
            Listing Order
            <p-columnFilter
              type="text"
              field="listingOrder"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="listingOrder"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">
            Is Active <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">
            Created Date<p-columnFilter
              type="text"
              field="updatedAt"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created By<p-columnFilter
              type="text"
              field="createdAt"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedBy">
            Updated Date<p-columnFilter
              type="text"
              field="updatedBy"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="updatedBy"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy">
            Updated By<p-columnFilter
              type="text"
              field="createdBy"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="createdBy"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-circles>
        <tr>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component"
              (click)="editProduct(circles)"
            ></button>
          </td>
          
          <td>{{ circles.circleCode }}</td>
          <td>{{ circles.circleName }}</td>

          <td>{{ circles.divisionName }}</td>
          <td>{{ circles.inchargeName }}</td>
          <td>{{ circles.inchargePhoneNo }}</td>
          <td>{{ circles.address }}</td>
          <td>{{ circles.listingOrder }}</td>
          <td class="text-center">
            <p-checkbox
              name="active"
              value="active"
              [(ngModel)]="circles.isActive"
              [binary]="true"
              [disabled]="true"
            >
            </p-checkbox>
          </td>
          <td>{{ circles.createdAt | date : mediumDate }}</td>
          <td>{{ circles.createdBy }}</td>
          <td>{{ circles.updatedAt | date : mediumDate }}</td>
          <td>{{ circles.updatedBy }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="15">No Circles Found.</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="15">Loading.. Circle Data. Please Wait.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
