<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Seasons</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Season" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="addSeason()" (onChange)="handleBillCategoryChange($event)"
          *ngIf="permissions.CanCreateSeason"></button>
      </ng-template>
    </p-toolbar>
    <!-- table -->
    <p-table #dt1 [value]="seasons" dataKey="id" [rows]="10" [rowHover]="true" [alwaysShowPaginator]="false"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="permissions.CanUpdateSeason"></th>
          <th *ngFor="let col of plotHeader" [pSortableColumn]="col.field">
            {{col.label}}
            <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-season>
        <tr>
          <td *ngIf="permissions.CanUpdateSeason">
            <button pButton pRipple icon="pi pi-pencil" (click)="editseason(season)"
              class="p-element p-ripple p-button-text p-button p-component">
            </button>
          </td>
          <td *ngFor="let col of plotHeader" [ngClass]="col.field == 'isActive' ? 'text-center' : ''">
            <span *ngIf="col.field !== 'isActive'">
              <ng-container
                *ngIf="col.field === 'plantFrom' || col.field === 'plantTo' || col.field === 'crushFrom' || col.field === 'crushTo' || col.field === 'createdAt' || col.field === 'updatedAt'; else otherFields">
                {{ season[col.field] | date: mediumDate }}
              </ng-container>
              <ng-template #otherFields>
                {{ season[col.field] }}
              </ng-template>
            </span>
            <span *ngIf="col.field === 'isActive'">
              <p-checkbox name="isActive" value="isActive" [binary]="true" [(ngModel)]="season.isActive"
                [disabled]="true"></p-checkbox>
            </span>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center m-5" colspan="50%">No Seasons Data Found.</td>
        </tr>
      </ng-template>

    </p-table>
    <!-- dialog box -->
    <p-dialog header="Season With Billing Rate" [(visible)]="showDialog" showEffect="fade"
      [breakpoints]="{'960px': '70%', '640px': '70%'}" [style]="{width: '60%'}" [modal]="true">
      <div class="flex flex-column align-items-center justify-content-center">
        <div class="containers">
          <div class="grid p-fluid">
            <form [formGroup]="fbseasons" (ngSubmit)="onSubmit()" autocomplete="off">
              <p-fieldset legend="Season" class="col-12" [toggleable]="true" [transitionOptions]="'500ms'">
                <div class="grid p-fluid">
                  <div class="field col-12 md:col-4">
                    <label>Code:<sup class="p-error">*</sup></label>
                    <input pInputText id="code" type="text" #code placeholder="Enter Code" formControlName="code"
                      numericOnly [readonly]="fbseasons.value.tptId" [maxlength]="7" (input)="onValidateSeasonCode()"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                    <div class="flex">
                      <div class="align-left w-60" style="width:70%">
                        <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                            Please Enter Code.</div>
                          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                            Code Is Invalid, Ex: 2022-23.</div>
                        </span>
                        <span *ngIf="invalidSeasonCode">
                          <div class="ng-invalid ng-touched p-error" *ngIf="!FormControls['code'].errors?.['pattern']">
                            Invalid Season Code: To Year Should Excatly Greater Than From Year.</div>
                        </span>
                      </div>
                      <div class="align-right w-40" style="width:30%; text-align:right;">
                        <small>{{code.value.length}}/7</small>
                      </div>
                    </div>
                    <div class="flex justify-content-between;">
                      <p class="head_note">Hint: Code Should Be Like : 2022-23 </p>
                    </div>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label>Name:<sup class="p-error">*</sup></label>
                    <input pInputText id="name" #name type="text" placeholder="Enter Name" formControlName="name"
                      numericOnly [maxlength]="9"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                      <div class="flex">
                        <div class="align-left w-60" style="width:70%">
                    <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                        Please Enter Name.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                        Name Pattern Should Be Like 2022-2023.</div>
                    </span>
                  </div>
                    <div class="align-right w-40" style="width:30%; text-align:right;">
                      <small>{{name.value.length}}/9</small>
                    </div>
                </div>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label>Plant From:<sup class="p-error">*</sup></label>
                    <p-calendar appendTo="body" placeholder="Select Plant From Date" [readonlyInput]="true"
                      [showIcon]="true" formControlName="plantFrom"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['plantFrom'].touched && FormControls['plantFrom'].errors }">
                    </p-calendar>
                    <span *ngIf="FormControls['plantFrom'].touched && FormControls['plantFrom'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['plantFrom'].errors?.['required']">
                        Please Select Plant From Date.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label>Plant To:<sup class="p-error">*</sup></label>
                    <p-calendar appendTo="body" placeholder="Select Plant To Date" [readonlyInput]="true"
                      [showIcon]="true" formControlName="plantTo" [minDate]="fbseasons.value.plantFrom"
                      [disabled]="!FormControls['plantFrom'].value"
                      [pTooltip]="!FormControls['plantFrom'].value ? 'Please Select Plant From Date First' : ''"
                      tooltipPosition="top"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['plantTo'].touched && FormControls['plantTo'].errors }">
                    </p-calendar>
                    <span *ngIf="FormControls['plantTo'].touched && FormControls['plantTo'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['plantTo'].errors?.['required'] && !FormControls['plantFrom'].errors?.['required']">
                        Please Select Plant To Date.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['plantFrom'].errors?.['required']">
                        Please Select Plant From First.</div>
                    </span>
                    <span>
                      <div class="ng-invalid ng-touched p-error" *ngIf="fbseasons.hasError('plantFrom')">
                        To Date Always Greater Than Equals To From Date</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label>Crush From:<sup class="p-error">*</sup></label>
                    <p-calendar appendTo="body" placeholder="Select Crush From Date" [readonlyInput]="true"
                      [showIcon]="true" formControlName="crushFrom"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['crushFrom'].touched && FormControls['crushFrom'].errors }">
                    </p-calendar>
                    <span *ngIf="FormControls['crushFrom'].touched && FormControls['crushFrom'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['crushFrom'].errors?.['required']">
                        Please Select Crush From Date.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label>Crush To<sup class="p-error">*</sup></label>
                    <p-calendar appendTo="body" placeholder="Select Crush To Date" [readonlyInput]="true"
                      [showIcon]="true" formControlName="crushTo" [minDate]="fbseasons.value.crushFrom"
                      [disabled]="!FormControls['crushFrom'].value"
                      [pTooltip]="!FormControls['crushFrom'].value ? 'Please Select Crush From Date First' : ''"
                      tooltipPosition="top"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['crushTo'].touched && FormControls['crushTo'].errors }">
                    </p-calendar>
                    <span *ngIf="FormControls['crushTo'].touched && FormControls['crushTo'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['crushTo'].errors?.['required']">
                        Please Select Crush To Date.</div>
                    </span>
                    <span>
                      <div class="ng-invalid ng-touched p-error" *ngIf="fbseasons.hasError('crushFrom')">
                        To Date Always Greater Than Equals To From Date</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label htmlFor="burnCaneRate"> Burn Cane Rate(₹):<sup class="p-error">*</sup></label>
                    <p-inputNumber id="burnCaneRate" formControlName="burnCaneRate" mode="decimal" locale="en-IN"
                      [minFractionDigits]="2" [maxFractionDigits]="2" placeholder="Enter Burn Cane Rate"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['burnCaneRate'].touched && FormControls['burnCaneRate'].errors }">
                    </p-inputNumber>
                    <span *ngIf="FormControls['burnCaneRate'].touched && FormControls['burnCaneRate'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['burnCaneRate'].errors?.['required']">
                        Please Enter Burn Cane Rate.</div>
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['burnCaneRate'].errors?.['pattern']">
                        Burn Cane Rate Should Contains Only Numbers.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label htmlFor="caneRate">Cane Rate(₹):<sup class="p-error">*</sup></label>
                    <p-inputNumber id="caneRate" formControlName="caneRate" placeholder="Enter Cane Rate" mode="decimal"
                      locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['caneRate'].touched && FormControls['caneRate'].errors }">
                    </p-inputNumber>
                    <span *ngIf="FormControls['caneRate'].touched && FormControls['caneRate'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['caneRate'].errors?.['required']">
                        Please Enter Cane Rate.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['caneRate'].errors?.['pattern']">
                        Cane Rate Should Contains Only Numbers.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label htmlFor="capacity"> Capacity(Tonnes):<sup class="p-error">*</sup></label>
                    <p-inputNumber id="capacity" formControlName="capacity" placeholder="Enter Capacity" mode="decimal"
                      locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['capacity'].touched && FormControls['capacity'].errors }">
                    </p-inputNumber>
                    <span *ngIf="FormControls['capacity'].touched && FormControls['capacity'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['capacity'].errors?.['required']">
                        Please Enter Capacity.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['capacity'].errors?.['pattern']">
                        Capacity Should Contains Only Numbers.</div>
                    </span>
                  </div>
                  <div class="field col-12 md:col-3 ">
                    <div class="col-6">
                      <label>Is Active:</label><br>
                      <p-inputSwitch formControlName="isActive"></p-inputSwitch>
                    </div>
                  </div>
                </div>
              </p-fieldset>
              <!-- //formArray -->
              <p-fieldset legend="Category Wise Billing Rates" class="col-12" [toggleable]="true"
                [transitionOptions]="'500ms'">
                <div class="p-fluid">
                  <p class="head_note">Note: Need To Add Below (Farmers, Harvester, Transporter & Seed) Billing Category
                    Rates are Mandatory. </p>
                  <div class="scrolling_content">
                    <p-tabView styleClass="tabview-custom" (onChange)="handleBillCategoryChange($event)"
                      [(activeIndex)]="activeIndex!">
                      <p-tabPanel *ngFor="let billCategory of billCategories; let i = index" [selected]="i == 0">
                        <ng-template pTemplate="header">
                          <span>{{billCategory.name}}</span>
                        </ng-template>
                        <ng-template pTemplate="content">
                          <div class="p-fluid p-formgrid grid">
                            <div class="col-12" style="padding-left:unset">
                              <div class="col-12 sm:col-8 xs:col-12 md:col-6 lg:col-4" style="float:right">
                                <button (click)="addItem((billCategory.name?.toLowerCase())+'Rates', billCategory)"
                                  pButton pRipple type="button" [label]="'Add '+ billCategory.name" icon="pi pi-plus"
                                  class="p-button-raised p-button-primary" style="white-space: nowrap;"></button>
                              </div>
                              <div [formArrayName]="(billCategory.name?.toLowerCase())+'Rates' "
                                class="season-rates-tab-items">
                                <ng-container
                                  *ngIf="fbseasons.get((billCategory.name?.toLowerCase())+'Rates') as formArray">
                                  <div
                                    *ngFor="let item of RateControls((billCategory.name?.toLowerCase())+'Rates').controls; let i = index"
                                    class="season-rates-tab-items">
                                    <div [formGroupName]="i" class="col-12" style="padding-left:unset">
                                      <div class="field col-12 md:col-3 vertical-align-top  "
                                        style="display:inline-block;">
                                        <div class="p-field">
                                          <label htmlFor="billPeram">Bill Parameter:<sup class="p-error">*</sup></label>
                                          <p-dropdown [options]="billCategory.billParams" optionLabel="name"
                                            appendTo="body" formControlName="billParameterId"
                                            optionValue="billParameterId" placeholder="Select Bill Parameter"
                                            [ngClass]="{ 'is-invalid ng-dirty': formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'billParameterId')?.touched && formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'billParameterId')?.errors }">
                                          </p-dropdown>
                                          <span
                                            *ngIf="formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'billParameterId')?.touched && formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'billParameterId')?.invalid">
                                            <div class="ng-invalid ng-touched p-error"
                                              *ngIf="formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'billParameterId')?.errors?.['required']">
                                              Please Select Bill Parameter.
                                            </div>
                                          </span>
                                        </div>
                                      </div>
                                      <div class="field col-12 md:col-3 vertical-align-top "
                                        style="display:inline-block;">
                                        <div class="p-field">
                                          <label htmlFor="rate">Rate(₹):<sup class="p-error">*</sup></label>
                                          <input pInputText id="rate" formControlName="rate" numericOnly
                                            placeholder="Enter Rate"
                                            [ngClass]="{ 'is-invalid ng-dirty': formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'rate')?.touched && formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'rate')?.errors }" />
                                          <span
                                            *ngIf="formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'rate')?.touched && formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'rate')?.invalid">

                                            <div class="ng-invalid ng-touched p-error"
                                              *ngIf="formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'rate')?.errors?.['required']">
                                              Please Enter Rate.
                                            </div>
                                          </span>
                                        </div>
                                      </div>
                                      <div class="field col-12 md:col-3 vertical-align-top"
                                        style="display:inline-block;">
                                        <div class="p-field">
                                          <label htmlFor="priority">Priority:<sup class="p-error">*</sup></label>
                                          <input pInputText id="priority" formControlName="priority" type="text"
                                            numericOnly placeholder="Enter Priority"
                                            [ngClass]="{ 'is-invalid ng-dirty': formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'priority')?.touched && formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'priority')?.errors }" />
                                          <input pInputText id="billCatetoryId" formControlName="billCatetoryId"
                                            type="hidden" [value]="billCategory.lookupDetailId" />
                                          <span
                                            *ngIf="formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'priority')?.touched && formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'priority')?.invalid">
                                            <div class="ng-invalid ng-touched p-error"
                                              *ngIf="formArrayControls((billCategory.name?.toLowerCase())+'Rates',i, 'priority')?.errors?.['required']">
                                              Please Enter Priority.
                                            </div>
                                          </span>
                                        </div>
                                      </div>
                                      <div class="field col-12 md:col-3  vertical-align-top mt-5 "
                                        style="display:inline-block;">
                                        <div class="p-field">
                                          <i class="pi pi-fw pi-times-circle text-3xl cursor-pointer"
                                            (click)="ratesControls((billCategory.name?.toLowerCase())+'Rates').removeAt(i)"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-tabPanel>
                    </p-tabView>
                  </div>


                </div>
              </p-fieldset>
            </form>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-12">
          <div class="col-4" style="float:right">
            <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
              [disabled]="fbseasons.invalid" (click)="onSubmit()"></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>