<div class="col-12">
  <div class="card">

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Completed Plots</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Completed Plot" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addCompletedPlot()"></button>
      </ng-template>
    </p-toolbar>

    <!-- dialog -->
    <p-dialog header="Completed Plot" [(visible)]="showDialog" [modal]="true"
      [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '60vw'}" (onHide)="clearForm()">
      <div class="flex flex-column  justify-content-center">
        <form [formGroup]="fbCompletedPlots" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <p-fieldset legend="Season Info" class="col-12" [toggleable]="true" [transitionOptions]="'500ms'">
                  <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                      <label class="required">Season:</label>
                      <p-dropdown placeholder="Select Season" optionLabel="code" [options]="seasons"
                        optionValue="seasonId" formControlName="seasonId" (onChange)="getNewDocNo($event.value)"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonId'].touched && FormControls['seasonId'].errors }">
                      </p-dropdown>
                      <span *ngIf="FormControls['seasonId'].touched && FormControls['seasonId'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['seasonId'].errors?.['required']">
                          Please Select Season.</div>
                      </span>
                    </div>
                  </div>
                </p-fieldset>
                <p-fieldset legend="Plot Info" class="col-12" [toggleable]="true" [transitionOptions]="'500ms'">
                  <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                      <label class="required">Farmer Code:</label>
                      <p-dropdown optionLabel="farmerCode" [options]="farmers" optionValue="farmerId" [filter]="true"
                        filterBy="farmerCode,farmerName" formControlName="farmerId" placeholder="Select Farmer"
                        (onChange)="onSelectedFarmer($event.value)" [virtualScroll]="true" [virtualScrollItemSize]="30"
                        appendTo="body"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['farmerId'].touched && FormControls['farmerId'].errors }">
                        <ng-template let-farmer pTemplate="selectedItem">
                          <div>{{ farmer.farmerCode }} - {{ farmer.farmerName }}</div>
                        </ng-template>
                        <ng-template let-farmer pTemplate="item">
                          <div>{{farmer.farmerCode}}</div>
                          <div>{{farmer.farmerName}}</div>
                        </ng-template>
                      </p-dropdown>
                      <span *ngIf="FormControls['farmerId'].touched && FormControls['farmerId'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['farmerId'].errors?.['required']">
                          Please Select Farmer.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label class="required">Farmer Name:</label>
                      <p class="disabled_text">
                        {{ FormControls["farmerName"].value }}
                      </p>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label class="required">Plot No:</label>
                      <p-dropdown class="ml-2" placeholder="Select Plot" optionLabel="plotNumber"
                        [options]="plotNumbers" optionValue="plotId" formControlName="plotId" appendTo="body"
                        [filter]="true" filterBy="plotNumber,villageName" (onChange)="onSelectedPlot($event.value)"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['plotId'].touched && FormControls['plotId'].errors }">
                        <ng-template let-plot pTemplate="selectedItem">
                          <div>{{ plot.plotNumber }} - {{ plot.villageName }}</div>
                        </ng-template>
                        <ng-template let-plot pTemplate="item">
                          <div>{{plot.plotNumber}}</div>
                          <div>{{plot.villageName}}</div>
                        </ng-template>
                      </p-dropdown>
                      <span *ngIf="FormControls['plotId'].touched && FormControls['plotId'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['plotId'].errors?.['required'] && !FormControls['farmerId'].errors?.['required']">
                          Please Select Plot No.</div>
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['farmerId'].errors?.['required']">
                          Please Select Farmer First.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label class="required">Estimated Ton:</label>
                      <p class="disabled_text">
                        {{ FormControls["estimatedTon"].value }}
                      </p>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label class="required">Supplied Ton:</label>
                      <p class="disabled_text">
                        {{ FormControls["suppliedTon"].value }}
                      </p>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label class="required">Net Area:</label>
                      <p class="disabled_text">
                        {{ FormControls["netArea"].value }}
                      </p>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label class="required">Last Weighment Date:</label>
                      <p-calendar placeholder="Select Last Weighment Date" [readonlyInput]="true" [showIcon]="true"
                        formControlName="lastWeighmentDate" appendTo="body"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['lastWeighmentDate'].touched && FormControls['lastWeighmentDate'].errors }">
                      </p-calendar>
                      <span
                        *ngIf="FormControls['lastWeighmentDate'].touched && FormControls['lastWeighmentDate'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['lastWeighmentDate'].errors?.['required']">
                          Please Select Last Weighment Date.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-2" *ngIf="addFlag">
                      <label>Is Over:</label><br>
                      <p-inputSwitch formControlName="isOver" [disabled]="diffLessThanOne || diffGreaterThanEqualsToOne"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-2" *ngIf="addFlag">
                      <label [class.required]="diffGreaterThanEqualsToOne">Is Left Over:</label><br>
                      <p-inputSwitch formControlName="isLeftOver" [disabled]="diffLessThanOne"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['isLeftOver'].touched && FormControls['isLeftOver'].errors }">
                      </p-inputSwitch>
                      <span *ngIf="FormControls['isLeftOver'].touched && FormControls['isLeftOver'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['isLeftOver'].errors?.['required']">
                          Please Select Left Over.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-2" *ngIf="addFlag">
                      <label>Is Ratoon:</label><br>
                      <p-inputSwitch formControlName="isRatoon" [disabled]="diffGreaterThanEqualsToOne"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-2" *ngIf="!addFlag">
                      <label class="required">Reopen:</label><br>
                      <p-inputSwitch formControlName="isReopen"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['isReopen'].touched && FormControls['isReopen'].errors }">
                      </p-inputSwitch>
                      <span *ngIf="FormControls['isReopen'].touched && FormControls['isReopen'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['isReopen'].errors?.['required']">
                          Please Select Left Over.</div>
                      </span>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-12">
          <div class="col-4" style="float:right">
            <button pButton pRipple type="submit" label="{{submitLabel}}" (click)="onSubmit()"
              class="p-button-raised p-button-success"></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>

    <!-- table -->
    <p-table #dt1 dataKey="id" [value]="completedPlots" [columns]="headers" [rows]="10" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [autoLayout]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <div>
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #filter (input)="onSearch()" placeholder="Search Keyword"
                pTooltip="Search By Farmer Name, Plot No, Farmer Code" class="w-full" />
            </span>
            <p-dropdown class="ml-2" placeholder="Select Season" optionLabel="name" [options]="seasons"
              [(ngModel)]="currentSeason.seasonId" (onChange)="initCompletedPlots($event.value)" optionValue="seasonId">
            </p-dropdown>

            <div class="md:inline-flex">
              <div class="field-radiobutton px-2">
                <p-radioButton name="purpose" value="Is Over" [(ngModel)]="purpose" inputId="over"
                  (onClick)="onSearch()"></p-radioButton>
                <label for="over">Is Over</label>
              </div>
              <div class="field-radiobutton px-2">
                <p-radioButton name="purpose" value="Is Left Over" [(ngModel)]="purpose" inputId="leftOver"
                  (onClick)="onSearch()">
                </p-radioButton>
                <label for="leftOver">Is Left Over</label>
              </div>
              <div class="field-radiobutton px-2">
                <p-radioButton name="purpose" value="Ratoon" [(ngModel)]="purpose" inputId="ratoon"
                  (onClick)="onSearch()"></p-radioButton>
                <label for="ratoon">Ratoon</label>
              </div>
            </div>

          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th *ngFor="let col of headers" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-completedPlot>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
              (click)="editCompletedPlot(completedPlot)" [disabled]="completedPlot.status != 'Closed'"></button>
          </td>
          <td *ngFor="let col of headers">
            {{completedPlot[col.field]}} </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="20" class="md:text-center">No Plots Found.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
