<div class="col-12">
  <div class="card">
    <p-dialog header="Section" [(visible)]="display" showEffect="fade"
      [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true">
      <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
          <form [formGroup]="fbsections" (ngSubmit)="onSubmit()">
            <div class="grid">
              <div class="col-12">
                <div class="p-fluid p-formgrid grid">

                  <div class="field col-12 md:col-6">
                    <label htmlFor="age1">Division:<sup class="p-error">*</sup></label>
                    <p-dropdown [options]="divisions" optionLabel="divisionName" formControlName="divisionId"
                      optionValue="divisionId" (onChange)="initCircles($event.value)" [autoDisplayFirst]="false"
                      placeholder="Select Division "
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['divisionId'].touched && FormControls['divisionId'].errors }">
                  </p-dropdown>
                  <span *ngIf="FormControls['divisionId'].touched && FormControls['divisionId'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['divisionId'].errors?.['required']">
                      Please Select Division.</div>
                  </span>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="circle">Circle:<sup class="p-error">*</sup></label>
                    <p-dropdown [options]="circles" optionLabel="name" formControlName="circleId" optionValue="circleId"
                      placeholder="Select Circle "
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['circleId'].touched && FormControls['circleId'].errors }">
                    </p-dropdown>
                    <span *ngIf="FormControls['circleId'].touched && FormControls['circleId'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['circleId'].errors?.['required']">
                        Select Circle.
                      </div>
                    </span>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="gender1">Section Code:<sup class="p-error">*</sup></label>
                    <input pInputText id="sectionCode" class="form-control" formControlName="code" type="text"
                      placeholder="Section Code"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }" />
                    <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                        Please enter code.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                        Code min length is 2 .</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                        Code max length is 6.</div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                        Code Should Contains Only Letters And Digits.</div>
                    </span>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="Section Name">Section Name:<sup class="p-error">*</sup></label>
                    <input pInputText id="Section Name" class="form-control" formControlName="name" type="text"
                      placeholder="Section Name"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }" />
                    <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">Enter
                        Section Name.
                      </div>
                      <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                        Section Name Should Only Contain Alphabets.
                      </div>
                    </span>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="inchargeName">Incharge Name:</label>
                    <input pInputText id="inchargeName" class="form-control" placeholder="Enter Incharge Name "
                      formControlName="inchargeName" type="text" />
                    <span *ngIf="FormControls['inchargeName'].touched && FormControls['inchargeName'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['inchargeName'].errors?.['pattern']">Incharge Name Should Only Contains
                        Alphabets .
                      </div>
                    </span>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="Incharge PhoneNo">Incharge PhoneNo:</label>
                    <p-inputMask id="inchargePhoneNo" mask="(999)-999-9999"  placeholder="Enter Incharge Phone No" formControlName="inchargePhoneNo">
                    </p-inputMask>
                    <span *ngIf="FormControls['inchargePhoneNo'].touched && FormControls['inchargePhoneNo'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['inchargePhoneNo'].errors?.['pattern']">
                        Phone Number Is In-Correct.</div>
                    </span>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="address">Address:<sup class="p-error">*</sup></label>
                    <textarea rows="5" cols="30" class="form-control" formControlName="address" placeholder="Adddress"
                      pInputTextarea
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['address'].touched && FormControls['address'].errors }"></textarea>
                    <div *ngIf="FormControls['address'].invalid &&  FormControls['address'].touched"
                      class="error-message p-error">
                      Address Is Required
                    </div>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="listingOrder">Order:<sup class="p-error">*</sup></label>
                    <input pInputText id="listingOrder" class="form-control" formControlName="listingOrder"
                      placeholder="Enter Order" type="text"
                      [ngClass]="{ 'is-invalid ng-dirty': FormControls['listingOrder'].touched && FormControls['listingOrder'].errors }" />
                    <span *ngIf="FormControls['listingOrder'].touched && FormControls['listingOrder'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['listingOrder'].errors?.['required']">Please Enter Your Order
                      </div>
                      <div class="ng-invalid ng-touched p-error"
                        *ngIf="FormControls['listingOrder'].errors?.['pattern']">Order Should Only Contains Numbers.
                      </div>
                    </span>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label htmlFor="isActive">Is Active?:<sup class="p-error">*</sup></label><br><br>
                    &nbsp; <p-inputSwitch [(ngModel)]="valSwitch" formControlName="isActive" class="form-control">
                    </p-inputSwitch>
                    <div *ngIf="FormControls['isActive'].invalid &&  FormControls['isActive'].touched"
                      class="error-message p-error">
                      Please Select Is Active
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-success"
            (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Sections</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Section" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="InitSection();"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="sections" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="['sectionId','sectionName','circleId','circleId','circleName',
            'divisionId','divisionName','inchargeName','inchargePhoneNo','address','listingOrder','updatedAt','createdAt','updatedBy','createdBy']" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>

          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th></th>

          <th pSortableColumn="divisionName">Division Name <p-columnFilter type="text" field="divisionName"
            display="menu"></p-columnFilter>
          <p-sortIcon field="divisionName"></p-sortIcon>
        </th>
         
          <th pSortableColumn="sectionId">Code<p-columnFilter type="text" field="sectionId" display="menu">
            </p-columnFilter>
            <p-sortIcon field="sectionId"></p-sortIcon>
          </th>
          <th pSortableColumn="sectionName">Name <p-columnFilter type="text" field="sectionName" display="menu">
            </p-columnFilter>
            <p-sortIcon field="sectionName"></p-sortIcon>
          </th>
         
          <th pSortableColumn="circleName">Circle Name <p-columnFilter type="text" field="circleName" display="menu">
            </p-columnFilter>
            <p-sortIcon field="circleName"></p-sortIcon>
          </th>
         
          
          <th pSortableColumn="inchargeName">Incharge Name <p-columnFilter type="text" field="inchargeName"
              display="menu"></p-columnFilter>
            <p-sortIcon field="inchargeName"></p-sortIcon>
          </th>
          <th pSortableColumn="inchargePhoneNo">Incharge Phone No <p-columnFilter type="text" field="inchargePhoneNo"
              display="menu"></p-columnFilter>
            <p-sortIcon field="inchargePhoneNo"></p-sortIcon>
          </th>
          <th pSortableColumn="address">Address <p-columnFilter type="text" field="address" display="menu">
            </p-columnFilter>
            <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th pSortableColumn="listingOrder">Listing Order <p-columnFilter type="text" field="listingOrder"
              display="menu"></p-columnFilter>
            <p-sortIcon field="listingOrder"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">Is Active <p-columnFilter type="text" field="isActive"
              display="menu"></p-columnFilter>
            <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">Created Date<p-columnFilter type="text" field="updatedAt" display="menu">
          </p-columnFilter>
          <p-sortIcon field="updatedAt"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">Created By<p-columnFilter type="text" field="createdAt" display="menu">
          </p-columnFilter>
          <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th pSortableColumn="updatedBy">Updated Date<p-columnFilter type="text" field="updatedBy" display="menu">
          </p-columnFilter>
          <p-sortIcon field="updatedBy"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy">Updated By<p-columnFilter type="text" field="createdBy" display="menu">
          </p-columnFilter>
          <p-sortIcon field="createdBy"></p-sortIcon>
        </th>
      </ng-template>

      <ng-template pTemplate="body" let-section>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
              (click)="editProduct(section)"></button></td>

              <td>{{section.divisionName}}</td>
          <td>{{section.sectionCode}}</td>
          <td>{{section.sectionName}}</td>
          <td>{{section.circleName}}</td>
          
          <td>{{section.inchargeName}}</td>
          <td>{{section.inchargePhoneNo}}</td>
          <td>{{section.address}}</td>
          <td>{{section.listingOrder}}</td>
          <td class="text-center">
            <p-checkbox name="active" value="active" [(ngModel)]="section.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{section.createdAt | date: mediumDate }}</td>
          <td>{{section.createdBy}}</td>
          <td>{{section.updatedAt | date: mediumDate }}</td>
          <td>{{section.updatedBy}}</td>
          
         
          
          
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center" colspan="13">No Sections Found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td class="md:text-center" colspan="13">Loading... Sections Data. Please Wait.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
