<div class="col-12">
    <div class="card">
        <p-dialog header="Section" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
            <div class="flex flex-column align-items-center justify-content-center">                            
                <div class="grid" >
                    <div class="col-12">
                        <div class="col-12 p-fluid">

                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="grid">
                                <div class="col-6">
                                    <div class="field form-group">
                                        <label htmlFor="age1">Division:<sup class="p-error">*</sup></label>
                                        <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" class="form-control" formControlName="division" placeholder="Select a Division" [showClear]="true"></p-dropdown>
                                        <div *ngIf="f['division'].invalid &&  f['division'].touched" class="error-message p-error">
                                            Division is required
                                          </div>
                                    </div>
                                    <div class="field form-group">
                                        <label htmlFor="gender1">Section Code:<sup class="p-error">*</sup></label>
                                        <input pInputText id="sectionCode" class="form-control" formControlName="sectionCode" type="text" />
                                        <div *ngIf="f['sectionCode'].invalid &&  f['sectionCode'].touched" class="error-message p-error">
                                            Section code is required
                                          </div>
                                    </div>
                                    <div class="field form-group">
                                        <label htmlFor="inchargeName">Incharge Name:</label>
                                        <input pInputText id="inchargeName" class="form-control" formControlName="inchargeName" type="text" />
                                    </div>
                                    <div class="field form-group">
                                        <label htmlFor="order">Order:<sup class="p-error">*</sup></label>
                                        <input pInputText id="order" class="form-control" formControlName="order"  type="text" />
                                        <div *ngIf="f['order'].invalid &&  f['order'].touched" class="error-message p-error">
                                            Please Enter Numbers Only required
                                          </div>
                                    </div>
                                    <div class="field form-group">
                                        <label htmlFor="isActive">Is Active?:<sup class="p-error">*</sup></label><br><br>
                                        &nbsp; <p-inputSwitch [(ngModel)]="valSwitch" formControlName="isActive" class="form-control"></p-inputSwitch>

                                        <div *ngIf="f['isActive'].invalid &&  f['isActive'].touched" class="error-message p-error">
                                            Is Active
                                        </div>
                                    </div>
                                    
                                </div>
                               
                               
                                <div class="col-6" >
                                    <div class="field form-group">
                                        <label htmlFor="circle">Circle:<sup class="p-error">*</sup></label>
                                        <p-dropdown [options]="cities" class="form-control" [(ngModel)]="selectedDrop" formControlName="circle" placeholder="Select a Circle" [showClear]="true"></p-dropdown>
                                       
                                        <div *ngIf="f['circle'].invalid &&  f['circle'].touched" class="error-message p-error">
                                            Address is required
                                          </div>
                                   
                                    </div>
                                    <div class="field form-group">
                                        <label htmlFor="Section Name">Section Name:<sup class="p-error">*</sup></label>
                                        <input pInputText id="Section Name" class="form-control" formControlName="sectionName" type="text" />

                                        <div *ngIf="f['sectionName'].invalid &&  f['sectionName'].touched" class="error-message p-error">
                                            Section Name is required
                                          </div>
                                        
                                    </div>
                                    <div class="field form-group">
                                        <label htmlFor="Incharge PhoneNo">Incharge PhoneNo:</label>
                                        <input pInputText id="Incharge PhoneNo" class="form-control" formControlName="inchargePhoneNo" type="text" />

                                        <div *ngIf="f['inchargePhoneNo'].invalid &&  f['inchargePhoneNo'].touched" class="error-message p-error">
                                            Numbers only
                                          </div>

                                    </div>
                                    <div class="field form-group">
                                        <label htmlFor="address">Address:<sup class="p-error">*</sup></label>
                                        <textarea rows="5"  cols="30" class="form-control" formControlName="address" placeholder="Adddress" pInputTextarea></textarea>

                                        <div *ngIf="f['address'].invalid &&  f['address'].touched" class="error-message p-error">
                                            Address is required
                                          </div>
                                    </div>
                                    
                                
                                     
                                </div>
        
        
                                <div class="col-12">
                                    <button pButton pRipple type="submit"  label="Add Section" class="p-button-raised p-button-success"></button>
                                
                                </div>                 
                 </div>
                     </form> 
                 </div>
                </div>
            </div>
                
    </div>
        </p-dialog>
    
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Sections</h4>
                       </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="New Section" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="display = true"></button>
            </ng-template>
        </p-toolbar>

        <p-table #dt1 [value]="customers1" dataKey="id"  [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-md" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>

                        <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                       </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="width:200px"><p-sortIcon field="name"></p-sortIcon>Division</th>
                    <th pSortableColumn="id" style="width:200px">Circle<p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="country.name" style="width:200px">Section Code <p-sortIcon field="cpuntry.name"></p-sortIcon></th>
                    <th pSortableColumn="date" style="width:200px"style="width:200px">Section Name <p-sortIcon field="date"></p-sortIcon></th>     
                    <th  pSortableColumn="representative.name" style="width:200px"> <p-sortIcon field="represtative.name"></p-sortIcon>Incharge Name</th>
                    <th  pSortableColumn="balance" style="width:200px" pFrozenColumn alignFrozen="right"> <p-sortIcon field="balance"></p-sortIcon>Phone No</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td style="width:200px" >{{customer.name}}</td>
                    <td style="width:200px" >{{customer.id}}</td>
                    <td style="width:200px">
                        <span class="image-text ml-2">{{customer.country.name}}</span>
                    </td>
                    <td style="width:200px">{{customer.date}}</td>
                    <td style="width:200px">
                        <span class="image-text ml-2">{{customer.representative.name}}</span>
                    </td>
                      <td style="width:200px" pFrozenColumn  class="font-bold" alignFrozen="right">{{formatCurrency(customer.balance)}}</td>
                </tr>
            </ng-template>
            




            <ng-template pTemplate="emptymessage">
            <tr>
           <td colspan="8">No customers found.</td>
                </tr>
              </ng-template>
               <ng-template pTemplate="loadingbody">
                        <tr>
                           <td colspan="8">Loading customers data. Please wait.</td>
                    </tr>
            </ng-template>
        </p-table>
    </div>

</div>
