<div class="col-12">
    <div class="card">

        <!-- toolbar -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Plot Yields</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="New Plot Yield" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="initPlotyield()"></button>
            </ng-template>
        </p-toolbar>
        <!-- dialog -->
        <p-dialog header="Plot Yield" [(visible)]="showDialog" [modal]="true" (onHide)="ClearForm()"
            [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '75vw'}">
            <form [formGroup]="fbPlotYield" (ngSubmit)="onSubmit()">
                <p-tabView orientation="left">
                    <p-tabPanel header="Plot Yield" class="col-12">
                        <div class="flex flex-column  justify-content-center">
                            <div class="grid">
                                <div class="col-12">
                                    <p-fieldset legend="Season" [toggleable]="true" class="line-height-3 m-0"
                                        [transitionOptions]="'500ms'">
                                        <div class="p-fluid p-formgrid grid">
                                            <div class="field col-12 md:col-4 ">
                                                <label>Season:</label>
                                                <p-dropdown class="ml-2" placeholder="Select a season"
                                                    optionLabel="name" [options]="seasons" optionValue="seasonId"
                                                    formControlName="seasonId" [(ngModel)]="currentSeason.seasonId"
                                                    (onChange)="initPlotReports($event.value)" appendTo="body"
                                                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonId'].touched && FormControls['seasonId'].errors }">
                                                </p-dropdown>
                                                <span
                                                    *ngIf="FormControls['seasonId'].touched && FormControls['seasonId'].invalid">
                                                    <div class="ng-invalid ng-touched p-error"
                                                        *ngIf="FormControls['seasonId'].errors?.['required']">
                                                        Select Season.</div>
                                                </span>
                                            </div>
                                            <div class="field col-12 md:col-4">
                                                <label>Plot No:</label>
                                                <p-dropdown class="ml-2" placeholder="Select Plot"
                                                    optionLabel="plotNumber" [filter]="true" filterBy="plotNumber"
                                                    [options]="plotReports" optionValue="plotId"  [virtualScroll]="true" [virtualScrollItemSize]="30"
                                                    formControlName="plotId" (onChange)="getPlotinfo($event.value)"
                                                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['plotId'].touched && FormControls['plotId'].errors }">
                                                </p-dropdown>
                                                <span
                                                    *ngIf="FormControls['plotId'].touched && FormControls['plotId'].invalid">
                                                    <div class="ng-invalid ng-touched p-error"
                                                        *ngIf="FormControls['plotId'].errors?.['required']">
                                                        Select Plot No.</div>
                                                </span>
                                            </div>
                                        </div>
                                    </p-fieldset>

                                    <div class="grid">
                                        <p-fieldset legend="Farmer Info" [toggleable]="true" class="col-5 mt-2"
                                            [transitionOptions]="'500ms'">
                                            <div class="p-fluid p-formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Farmer Code:</label>
                                                    <p class="disabled_text">{{plotInfo.farmerCode}}</p>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Farmer Name:</label>
                                                    <p class="disabled_text">{{plotInfo.farmerName}}</p>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Farmer Village:</label>
                                                    <p class="disabled_text">{{plotInfo.farmerVillage}}</p>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Farmer Division:</label>
                                                    <p class="disabled_text">{{plotInfo.farmerDivision}}</p>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Farmer Circle:</label>
                                                    <p class="disabled_text">{{plotInfo.farmerCircle}}</p>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Farmer Section:</label>
                                                    <p class="disabled_text">{{plotInfo.farmerSection}}</p>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Crop Type:</label>
                                                    <p class="disabled_text">{{plotInfo.cropType}}</p>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label>Offered No:</label>
                                                    <p class="disabled_text">{{plotInfo.offerNo}}</p>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                        <p-fieldset legend="Plot Info" [toggleable]="true" class="col-7 mt-2"
                                            [transitionOptions]="'500ms'">
                                            <div class="p-fluid p-formgrid grid">
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Plot Division:</label>
                                                    <p class="disabled_text">{{plotInfo.plotDivision}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Plot Circle:</label>
                                                    <p class="disabled_text">{{plotInfo.plotCircle}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Plot Section:</label>
                                                    <p class="disabled_text">{{plotInfo.plotSection}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Plot Village:</label>
                                                    <p class="disabled_text">{{plotInfo.plotVillage}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Plant Type:</label>
                                                    <p class="disabled_text">{{plotInfo.plantType}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Planting Date:</label>
                                                    <p class="disabled_text">{{plotInfo.plantingDate}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Survey No:</label>
                                                    <p class="disabled_text">{{plotInfo.surveyNo}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Variety</label>
                                                    <p class="disabled_text">{{plotInfo.variety}}</p>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Field Name:</label>
                                                    <p class="disabled_text">{{plotInfo.fieldName}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>BIR Number:</label>
                                                    <p class="disabled_text">{{plotInfo.birNumber}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>BIR Date:</label>
                                                    <p class="disabled_text">{{plotInfo.birDate}}</p>
                                                </div>
                                                <!-- <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Seed/Harvest Qunatity:</label>
                                                    <span class="disabled_text"></span>
                                                </div> -->
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Plot Type:</label>
                                                    <p class="disabled_text">{{plotInfo.plotType}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Reported Area:</label>
                                                    <p class="disabled_text">{{plotInfo.reportedArea}}</p>
                                                </div>
                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Measured Area:</label>
                                                    <p class="disabled_text">{{plotInfo.measuredArea}}</p>
                                                </div>

                                                <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Agreemented Area:</label>
                                                    <p class="disabled_text">{{plotInfo.agreementedArea}}</p>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <p-fieldset legend="Plot Yield Info" [toggleable]="true" class="col-12 mt-2"
                                        [transitionOptions]="'500ms'">
                                        <div class="p-fluid p-formgrid grid">
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label class="required">Action Plan:</label>
                                                <p-dropdown class="ml-2" placeholder="Select Action PLan"
                                                    optionLabel="name" optionValue="lookupDetailId" appendTo="body"
                                                    [options]="actionPlan" formControlName="actionPlan">
                                                </p-dropdown>
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3">
                                                <label class="required">Inspection Date:</label>
                                                <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999"
                                                    formControlName="inspectionDate"
                                                    placeholder="Please Select Inspection Date"
                                                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['inspectionDate'].touched && FormControls['inspectionDate'].errors }">
                                                </p-calendar>
                                                <span
                                                    *ngIf="FormControls['inspectionDate'].touched && FormControls['inspectionDate'].invalid">
                                                    <div class="ng-invalid ng-touched p-error"
                                                        *ngIf="FormControls['inspectionDate'].errors?.['required']">
                                                        Select Inspection Date.</div>
                                                </span>
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>Seed/Harvest Qunatity:</label>
                                                <input pInputText text="name">
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>Poor Crop Area:</label>
                                                <input pInputText text="name">
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>Perished Area:<sup class="p-error">*</sup></label>
                                                <input pInputText text="name">
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>Reasons For Perished Area:<sup class="p-error">*</sup></label>
                                                <p-dropdown class="ml-2" placeholder="Select Reasons For Perished Area"
                                                    optionLabel="name" optionValue="lookupDetailId" appendTo="body"
                                                    [options]="perishedArea">
                                                </p-dropdown>
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>Diverted Area:</label>
                                                <input pInputText text="name">
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>Net Area:<sup class="p-error">*</sup></label>
                                                <input pInputText text="name">
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>NotGrown Area:</label>
                                                <input pInputText text="name">
                                            </div>
                                            <div class="field col-12 md:col-4 lg:col-3 ">
                                                <label>Is seed Area:</label><br>
                                                <p-inputSwitch></p-inputSwitch>
                                            </div>
                                        </div>
                                    </p-fieldset>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Weedicide/Pests" class="line-height-3 m-0">
                        <div class="flex flex-column  justify-content-center">
                          <div class="grid">
                            <div class="col-12">
                              <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-4 lg:col-3 ">
                                  <label>Weed Status:</label>
                                  <p-dropdown optionLabel="name" optionValue="lookupDetailId" [options]="weedstatus" appendTo="body"
                                    formControlName="weedStatusId" [autoDisplayFirst]="false" placeholder="Select Weed Status"
                                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['weedStatusId'].touched && FormControls['weedStatusId'].errors }">
                                  </p-dropdown>
                                  <span *ngIf="FormControls['weedStatusId'].touched && FormControls['weedStatusId'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                      *ngIf="FormControls['weedStatusId'].errors?.['required']">
                                      Select Weed Status.</div>
                                  </span>
                                </div>
                                <div class="field col-12 md:col-4 lg:col-3 ">
                                  <label>Inter Croping:</label>
                                  <p-dropdown optionLabel="name" [options]="cropstypes" optionValue="lookupDetailId" appendTo="body"
                                    formControlName="interCropId" [autoDisplayFirst]="false" placeholder="Select Inter Croping"
                                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['interCropId'].touched && FormControls['interCropId'].errors }">
                                  </p-dropdown>
                                  <span *ngIf="FormControls['interCropId'].touched && FormControls['interCropId'].invalid">
                                    <div class="ng-invalid ng-touched p-error"
                                      *ngIf="FormControls['interCropId'].errors?.['required']">
                                      Select Inter Croping.</div>
                                  </span>
                                </div>
                                <div class="field col-12 md:col-6  lg:col-3 ">
                                  <label>Micronutrient Deficiency:</label><br>
                                  <p-inputSwitch formControlName="micronutrientdeficiency"></p-inputSwitch>
                                </div>
                                <div class="field col-12 md:col-6  lg:col-3 ">
                                  <label>Trash Mulching:</label><br>
                                  <p-inputSwitch formControlName="trashmulching"></p-inputSwitch>
                                </div>
                                <div class="field col-12 md:col-6  lg:col-3 ">
                                  <label>Gap Filing Done:</label><br>
                                  <p-inputSwitch formControlName="gapfillingdone"></p-inputSwitch>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p-tabView orientation="left" [(activeIndex)]="activeIndex1!">
                          <p-tabPanel header="Weedicide">
                            <div class="grid col-12">
                              <div formArrayName='weedicides' class="checkboxList grid">
                                <ng-container *ngIf="this.fbPlotYield.controls['weedicides'] as formArray">
                                  <div *ngFor="let item of getFormArrayControl('weedicides').controls; let i = index" class="col-3">
                                    <div [formGroupName]="i" style="padding-left:unset" class="capitalize form-control">
                                      <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                                      </p-inputSwitch>
                                      <label for="ny" class="ml-2 vertical-align-top">{{item.value.name}}</label>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </p-tabPanel>

                          <p-tabPanel header="Pests" class="col-12">
                            <div class="col-12">
                              <div formArrayName='pests' class="checkboxList">
                                <p-table #dt2 dataKey="id" [value]="getFormArrayControl('pests').controls" [rows]="10"
                                  [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                                  [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                                  [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: '100%'}">
                                  <ng-template pTemplate="header">
                                    <tr>
                                      <th>Name</th>
                                      <th>Identified Date</th>
                                      <th>Control Date</th>
                                      <th>Remarks</th>
                                    </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-pestControl let-i="rowIndex">
                                    <tr [formGroupName]="i">
                                      <td>
                                        <div class="font-bold">
                                          {{pestControl.get('name').value}}
                                        </div>
                                      </td>
                                      <td>
                                        <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                                          placeholder=" Please Select Identified Date" formControlName="identifiedDate">
                                        </p-calendar>
                                      </td>
                                      <td>
                                        <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                                          placeholder=" Please Select Control Date" formControlName="controlDate">
                                        </p-calendar>
                                      </td>
                                      <td>
                                        <input pInputText formControlName="remarks">
                                      </td>
                                    </tr>

                                  </ng-template>
                                  <ng-template pTemplate="emptymessage">
                                    <tr>
                                      <td colspan="8">No Pest Found.</td>
                                    </tr>
                                  </ng-template>
                                </p-table>
                              </div>
                            </div>
                          </p-tabPanel>
                        </p-tabView>
                      </p-tabPanel>
                      <p-tabPanel header="Fertilizer/Disease" class="line-height-3 m-0">
                        <p-tabView orientation="left" [(activeIndex)]="activeIndex2!">
                          <p-tabPanel header="Fertilizers " class="col-12">
                            <div class="grid col-12">
                              <div formArrayName='fertilizers' class="checkboxList grid">
                                <ng-container *ngIf="this.fbPlotYield.controls['fertilizers'] as formArray">
                                  <div *ngFor="let item of getFormArrayControl('fertilizers').controls; let i = index"
                                    class="col-3">
                                    <div [formGroupName]="i" style="padding-left:unset">
                                      <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                                      </p-inputSwitch>
                                      <label for="ny" class="ml-2 vertical-align-top">{{item.value.name}}</label>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </p-tabPanel>
                          <p-tabPanel header="Diseases" class="col-12">
                            <div class="col-12">
                              <div formArrayName='diseases' class="checkboxList">
                                <p-table #dt2 dataKey="id" [value]="getFormArrayControl('diseases').controls" [rows]="10"
                                  [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                                  [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                                  [rowsPerPageOptions]="[10,25,50]">

                                  <ng-template pTemplate="header">
                                    <tr>
                                      <th>Name</th>
                                      <th>Identified Date</th>
                                      <th>Control Date</th>
                                      <th>Remarks</th>
                                    </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-diseaseControl let-i="rowIndex">
                                    <tr [formGroupName]="i">
                                      <td>
                                        <div class="font-bold">
                                          {{diseaseControl.get('name').value}}
                                        </div>
                                      </td>
                                      <td>
                                        <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                                          placeholder="Please Select Identified Date" formControlName="identifiedDate">
                                        </p-calendar>
                                      </td>
                                      <td>
                                        <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                                          placeholder="Please Select Control Date" formControlName="controlDate">
                                        </p-calendar>
                                      </td>
                                      <td>
                                        <input pInputText formControlName="remarks">
                                      </td>
                                    </tr>
                                  </ng-template>
                                </p-table>
                              </div>
                            </div>
                          </p-tabPanel>
                        </p-tabView>
                      </p-tabPanel>
                </p-tabView>
            </form>
            <ng-template pTemplate="footer">
                <div class="col-12">
                    <div class="col-4" style="float:right">
                        <button pButton pRipple type="submit" label="{{submitLabel}}"
                            class="p-button-raised p-button-success" (click)="onSubmit()"></button>
                    </div>
                </div>
            </ng-template>
        </p-dialog>
        <!-- table -->
        <p-table #dt1 [columns]="farmerHeaders" dataKey="farmerCode" [rows]="10" [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
            [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
            [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <div>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter placeholder="Search Keyword"
                                pTooltip="Search By Farmer Name, Village Name, Offer No" class="w-full" />
                        </span>
                        <p-dropdown class="ml-2" placeholder="Select a season" optionLabel="name" [options]="seasons"
              [(ngModel)]="currentSeason.seasonId" optionValue="seasonId">
            </p-dropdown>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>
                    <th *ngFor="let col of farmerHeaders" [pSortableColumn]="col.header">
                        {{col?.label}} <p-sortIcon field="code">
                        </p-sortIcon>
                        <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-farmer let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="farmer"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td *ngFor="let col of farmerHeaders">
                        <span
                            *ngIf="col?.field != 'offerDate' && col?.field != 'plantingDate'">{{farmer[col.field]}}</span>
                        <span *ngIf="col?.field == 'offerDate' || col?.field == 'plantingDate'">
                            {{farmer[col.field] | date: 'dd-MM-yyyy'}}
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-farmer>
                <tr>
                    <td colspan="5">
                        <div class="p-3">
                            <p-table [columns]="plotHeaders" dataKey="plotOfferId">
                                <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th *ngFor="let col of plotHeaders" [pSortableColumn]="col.header">
                        {{col?.label}} <p-sortIcon field="code">
                        </p-sortIcon>
                        <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-plotOffer>
                <tr>
                    <td><button pButton pRipple icon="pi pi-pencil"
                            class="p-element p-ripple p-button-text p-button p-component"></button>
                        <button pButton pRipple icon="pi pi-thumbs-up"
                            class="p-element p-ripple p-button-text p-button p-component"></button>
                        <!-- (click)="editAllottedPlot(allottedPlot)" -->
                    </td>
                    <td *ngFor="let col of plotHeaders">

                        <span
                            *ngIf="col?.field != 'offerDate' && col?.field != 'plantingDate'">{{plotOffer[col.field]}}</span>
                        <span *ngIf="col?.field == 'offerDate' || col?.field == 'plantingDate'">
                            {{plotOffer[col.field] | date: 'dd-MM-yyyy'}}
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">There Are No Aggrements Found Yet.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td class="md:text-center" colspan="12">No Aggrements Found.</td>
        </tr>
    </ng-template>
    </p-table>
</div>
</div>
