<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Plot Yields</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Plot Yield" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addPlotYield()" *ngIf="permissions?.CanCreatePlotYield"></button>
      </ng-template>
    </p-toolbar>

    <!-- dialog -->
    <p-dialog header="Plot Yield" [(visible)]="showDialog" [modal]="true" (onHide)="ClearForm()"
      [transitionOptions]="'500ms'" [breakpoints]="{'960px': '60%', '640px': '90%'}" [style]="{width: '60%'}">
      <form [formGroup]="fbPlotYield" (ngSubmit)="onSubmit()">
        <p-tabView orientation="left">
          <p-tabPanel header="Plot Yield" class="col-12">
            <div class="flex flex-column  justify-content-center">
              <div class="grid">
                <div class="col-12">
                  <p-fieldset legend="Season" [toggleable]="true" class="line-height-3 m-0"
                    [transitionOptions]="'500ms'">
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-4 ">
                        <label class="required">Season:</label>
                        <p-dropdown class="ml-2" placeholder="Select Season" optionLabel="code" [options]="seasons"
                          optionValue="seasonId" formControlName="seasonId" [(ngModel)]="currentSeason.seasonId"
                          (onChange)="initPlotNumbers($event.value, -1)" appendTo="body"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonId'].touched && FormControls['seasonId'].errors }">
                        </p-dropdown>
                        <span *ngIf="FormControls['seasonId'].touched && FormControls['seasonId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['seasonId'].errors?.['required']">
                            Please Select Season.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4">
                        <label class="required">Plot No:</label>
                        <p-dropdown class="ml-2" placeholder="Select Plot" optionLabel="plotNumber"
                          [options]="plotNumbers" optionValue="plotId" [filter]="true" filterBy="plotNumber"
                          formControlName="plotNumber" [virtualScrollItemSize]="20" formControlName="plotId"
                          (onChange)="getPlotinfo($event.value)"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['plotId'].touched && FormControls['plotId'].errors }">
                          <ng-template let-season pTemplate="selectedItem">
                            <div>{{ season.plotNumber }} - {{ season.villageName }}</div>
                          </ng-template>
                          <ng-template let-season pTemplate="item">
                            <div class="block align-items-center gap-2">
                              <div>{{season.plotNumber}}</div>
                              <div>{{season.villageName}} </div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                        <span *ngIf="FormControls['plotId'].touched && FormControls['plotId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['plotId'].errors?.['required']">
                            Please Select Plot No.</div>
                        </span>
                      </div>
                    </div>
                  </p-fieldset>
                  <div class="grid">
                    <p-fieldset legend="Farmer Info" [toggleable]="true" class="col-12 lg:col-5 xs:col-12 mt-2"
                      [transitionOptions]="'500ms'">
                      <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Code:</label>
                          <p class="disabled_text">{{plotInfo.farmerCode}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Name:</label>
                          <p class="disabled_text">{{plotInfo.farmerName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Village:</label>
                          <p class="disabled_text">{{plotInfo.farmerVillageName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Division:</label>
                          <p class="disabled_text">{{plotInfo.farmerDivisionName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Circle:</label>
                          <p class="disabled_text">{{plotInfo.farmerCircleName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Section:</label>
                          <p class="disabled_text">{{plotInfo.farmerSectionName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Crop Type:</label>
                          <p class="disabled_text">{{plotInfo.cropTypeName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Offered No:</label>
                          <p class="disabled_text">{{plotInfo.offerNo}}</p>
                        </div>
                      </div>
                    </p-fieldset>
                    <p-fieldset legend="Plot Info" [toggleable]="true" class="col-12 lg:col-7 xs:col-12 mt-2"
                      [transitionOptions]="'500ms'">
                      <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Plot Division:</label>
                          <p class="disabled_text">{{plotInfo.plotDivisionName}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Plot Circle:</label>
                          <p class="disabled_text">{{plotInfo.plotCircleName}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Plot Section:</label>
                          <p class="disabled_text">{{plotInfo.plotSectionName}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Plot Village:</label>
                          <p class="disabled_text">{{plotInfo.plotVillage}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Plant Type:</label>
                          <p class="disabled_text">{{plotInfo.plantTypeName}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Planting Date:</label>
                          <p class="disabled_text">{{plotInfo.plantingDate | date: mediumDate}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Survey No:</label>
                          <p class="disabled_text">{{plotInfo.surveyNo}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Variety</label>
                          <p class="disabled_text">{{plotInfo.varietyName}}</p>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Field Name:</label>
                          <p class="disabled_text">{{plotInfo.fieldName}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>BIR Number:</label>
                          <p class="disabled_text">{{plotInfo.birNumber}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>BIR Date:</label>
                          <p class="disabled_text">{{plotInfo.birDate | date: mediumDate}}</p>
                        </div>
                        <!-- <div class="field col-12 md:col-3 lg:col-3">
                                                    <label>Seed/Harvest Qunatity:</label>
                                                    <span class="disabled_text"></span>
                                                </div> -->
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Plot Type:</label>
                          <p class="disabled_text">{{plotInfo.plotTypeName}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Reported Area:</label>
                          <p class="disabled_text">{{plotInfo.reportedArea}}</p>
                        </div>
                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Measured Area:</label>
                          <p class="disabled_text">{{plotInfo.measuredArea}}</p>
                        </div>

                        <div class="field col-12 md:col-3 lg:col-3">
                          <label>Agreemented Area:</label>
                          <p class="disabled_text">{{plotInfo.agreementedArea}}</p>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                  <p-fieldset legend="Plot Yield Info" [toggleable]="true" class="col-12 mt-2"
                    [transitionOptions]="'500ms'">
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Action Plan:</label>
                        <p-dropdown class="ml-2" placeholder="Select Action PLan" optionLabel="name"
                          optionValue="lookupDetailId" appendTo="body" [options]="actionPlan"
                          formControlName="actionPlanId"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['actionPlanId'].touched && FormControls['actionPlanId'].errors }">
                        </p-dropdown>
                        <span *ngIf="FormControls['actionPlanId'].touched && FormControls['actionPlanId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['actionPlanId'].errors?.['required']">
                            Please Select Action Plan.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3">
                        <label class="required">Inspection Date:</label>
                        <p-calendar [readonlyInput]="true" [showIcon]="true" appendTo="body" mask="99/99/9999"
                          formControlName="inspectionDate" placeholder="Please Select Inspection Date"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['inspectionDate'].touched && FormControls['inspectionDate'].errors }">
                        </p-calendar>
                        <span *ngIf="FormControls['inspectionDate'].touched && FormControls['inspectionDate'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['inspectionDate'].errors?.['required']">
                            Please Select Inspection Date.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label>Seed/Harvest Qunatity:</label>
                        <p-inputNumber placeholder="Enter Harvest Area" formControlName="harvestArea" mode="decimal"
                          locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                        </p-inputNumber>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label>Poor Crop Area:</label>
                        <p-inputNumber placeholder="Enter Poor Crop Area" formControlName="poorCropArea" mode="decimal"
                          locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                        </p-inputNumber>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Perished Area:</label>
                        <p-inputNumber placeholder="Enter Perished Area" formControlName="perishedArea" mode="decimal"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['perishedArea'].touched && FormControls['perishedArea'].errors }"
                          locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                        </p-inputNumber>
                        <span *ngIf="FormControls['perishedArea'].touched && FormControls['perishedArea'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['perishedArea'].errors?.['required']">
                            Enter Perished Area.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Reasons For Perished Area:</label>
                        <p-dropdown class="ml-2" placeholder="Select Reasons For Perished Area" optionLabel="name"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['reasonForPerishedAreaId'].touched && FormControls['reasonForPerishedAreaId'].errors }"
                          formControlName="reasonForPerishedAreaId" optionValue="lookupDetailId" appendTo="body"
                          [options]="perishedArea">
                        </p-dropdown>
                        <span
                          *ngIf="FormControls['reasonForPerishedAreaId'].touched && FormControls['reasonForPerishedAreaId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['reasonForPerishedAreaId'].errors?.['required']">
                            Select Reasons For Perished Area.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label>Diverted Area:</label>
                        <p-inputNumber placeholder="Enter Diverted Area" formControlName="divertedArea" mode="decimal"
                          locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                        </p-inputNumber>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Net Area:</label>
                        <p-inputNumber placeholder="Enter Net Area" formControlName="netArea" mode="decimal"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['netArea'].touched && FormControls['netArea'].errors }"
                          locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                        </p-inputNumber>
                        <span *ngIf="FormControls['netArea'].touched && FormControls['netArea'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['netArea'].errors?.['required']">
                            Enter Net Area.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Estimated Ton:</label>
                        <p-inputNumber placeholder="Enter Estimated Ton" formControlName="estimatedTon" mode="decimal"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['estimatedTon'].touched && FormControls['estimatedTon'].errors }"
                          locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                        </p-inputNumber>
                        <span *ngIf="FormControls['estimatedTon'].touched && FormControls['estimatedTon'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['estimatedTon'].errors?.['required']">
                            Enter Estimated Ton.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label>Not Grown Area:</label>
                        <p-inputNumber placeholder="Enter Not Grown Area" formControlName="notGrownArea" mode="decimal"
                          locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                        </p-inputNumber>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label>Is Seed Area:</label><br>
                        <p-inputSwitch formControlName="isSeedArea"></p-inputSwitch>
                      </div>
                    </div>
                  </p-fieldset>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Weedicide/Pests" class="line-height-3 m-0">
            <div class="flex flex-column  justify-content-center">
              <div class="grid">
                <div class="col-12">
                  <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4 lg:col-3 ">
                      <label>Weed Status:</label>
                      <p-dropdown optionLabel="name" optionValue="lookupDetailId" [options]="weedstatus" appendTo="body"
                        formControlName="weedStatusId" [autoDisplayFirst]="false" placeholder="Select Weed Status">
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4 lg:col-3 ">
                      <label>Inter Croping:</label>
                      <p-dropdown optionLabel="name" [options]="cropstypes" optionValue="lookupDetailId" appendTo="body"
                        formControlName="interCropingId" [autoDisplayFirst]="false" placeholder="Select Inter Croping">
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6  lg:col-3 ">
                      <label>Micronutrient Deficiency:</label><br>
                      <p-inputSwitch formControlName="hasMicroNutrientDeficiency"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6  lg:col-3 ">
                      <label>Trash Mulching:</label><br>
                      <p-inputSwitch formControlName="isTrashMulchingDone"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6  lg:col-3 ">
                      <label>Gap Filing Done:</label><br>
                      <p-inputSwitch formControlName="isGapFillingDone"></p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p-tabView orientation="left" [(activeIndex)]="activeIndex1!">
              <p-tabPanel header="Weedicide">
                <div class="grid col-12">
                  <div formArrayName='weedicides' class="checkboxList grid">
                    <ng-container *ngIf="this.fbPlotYield.controls['weedicides'] as formArray">
                      <div *ngFor="let item of getFormArrayControl('weedicides').controls; let i = index" class="col-3">
                        <div [formGroupName]="i" style="padding-left:unset" class="capitalize form-control">
                          <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                          </p-inputSwitch>
                          <label for="ny" class="ml-2 vertical-align-top">{{item.value.weedicideName}}</label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Pests" class="col-12">
                <div class="col-12">
                  <div formArrayName='pests' class="checkboxList">
                    <p-table #dt2 dataKey="id" [value]="getFormArrayControl('pests').controls" [rows]="10"
                      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                      [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: '100%'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Identified Date</th>
                          <th>Control Date</th>
                          <th>Remarks</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pestControl let-i="rowIndex">
                        <tr [formGroupName]="i">
                          <td>
                            <div class="font-bold">
                              {{pestControl.get('pestName').value}}
                            </div>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder=" Please Select Identified Date" formControlName="identifiedDate">
                            </p-calendar>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder=" Please Select Control Date" formControlName="controlDate">
                            </p-calendar>
                          </td>
                          <td>
                            <input pInputText formControlName="remarks">
                          </td>
                        </tr>

                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="8">No Pest Found.</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="Fertilizer/Disease" class="line-height-3 m-0">
            <p-tabView orientation="left" [(activeIndex)]="activeIndex2!">
              <p-tabPanel header="Fertilizers " class="col-12">
                <div class="grid col-12">
                  <div formArrayName='fertilizers' class="checkboxList grid">
                    <ng-container *ngIf="this.fbPlotYield.controls['fertilizers'] as formArray">
                      <div *ngFor="let item of getFormArrayControl('fertilizers').controls; let i = index"
                        class="col-3">
                        <div [formGroupName]="i" style="padding-left:unset">
                          <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                          </p-inputSwitch>
                          <label for="ny" class="ml-2 vertical-align-top">{{item.value.fertilizerName}}</label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Diseases" class="col-12">
                <div class="col-12">
                  <div formArrayName='diseases' class="checkboxList">
                    <p-table #dt2 dataKey="id" [value]="getFormArrayControl('diseases').controls" [rows]="10"
                      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                      [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                      [rowsPerPageOptions]="[10,25,50]">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Identified Date</th>
                          <th>Control Date</th>
                          <th>Remarks</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-diseaseControl let-i="rowIndex">
                        <tr [formGroupName]="i">
                          <td>
                            <div class="font-bold">
                              {{diseaseControl.get('diseaseName').value}}
                            </div>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder="Please Select Identified Date" formControlName="identifiedDate">
                            </p-calendar>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder="Please Select Control Date" formControlName="controlDate">
                            </p-calendar>
                          </td>
                          <td>
                            <input pInputText formControlName="remarks">
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
        </p-tabView>
      </form>
      <ng-template pTemplate="footer">
        <div class="col-12">
          <div class="col-6" style="float:right">
            <button pButton pRipple type="submit" label="{{submitLabel}}" class="p-button-raised p-button-success"
              [disabled]="fbPlotYield.invalid" (click)="onSubmit()"></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>

    <!-- table -->
    <p-table #dtPlotYields dataKey="farmerCode" [value]="plotYields" [columns]="farmerHeaders" [rows]="10"
      [alwaysShowPaginator]="false" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm table-fixed" [paginator]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="false" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'min-content'}" (onRowExpand)="onRowExpand($event)"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dtPlotYields)"></button>
          <div>
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #filter (input)="onSearch()" placeholder="Search Keyword"
                pTooltip="Search By Farmer Code, Farmer Name, Village Name, Offer No, Plot No" class="w-full" />
            </span>
            <p-dropdown class="ml-2" placeholder="Select Season" optionLabel="code" [options]="seasons"
              [(ngModel)]="currentSeason.seasonId" (onChange)="initPlotYields($event.value)" optionValue="seasonId"
              [virtualScrollItemSize]="30">
            </p-dropdown>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th *ngFor="let col of farmerHeaders" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-farmer let-expanded="expanded">
        <tr [pSelectableRow]="farmer">
          <td>
            <button type="button" pButton pRipple [pRowToggler]="farmer"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td *ngFor="let col of farmerHeaders">
            {{farmer[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-farmer>
        <tr>
          <td colspan="5">
            <div class="grid p-3">
              <div class="col-12">
                <p-table [value]="farmer.objNetYieldPlots" [columns]="plotHeaders" dataKey="plotOfferId"
                  [tableStyle]="{ width: 'min-content'}"
                  styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
                  <ng-template pTemplate="header">
        <tr>
          <th *ngIf="permissions?.CanUpdatePlotYield"></th>
          <th *ngFor="let col of plotHeaders">
            {{col?.label}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plotyield>
        <tr>
          <td *ngIf="permissions?.CanUpdatePlotYield"><button pButton pRipple icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component" (click)="editPlotYield(plotyield)"></button>
          </td>
          <td *ngFor="let col of plotHeaders">
            <span
              *ngIf="col?.field != 'plantingDate' && col?.field != 'inspectionDate' && col?.field != 'birDate' && col?.field != 'isSeedArea'">{{plotyield[col.field]}}</span>
            <span *ngIf="col?.field == 'plantingDate' || col?.field == 'inspectionDate' || col?.field == 'birDate'">
              {{plotyield[col.field] | date: 'dd-MM-yyyy'}}
            </span>
            <span *ngIf="col?.field == 'isSeedArea'">
              <p-checkbox name="active" value="active" [binary]="true" [(ngModel)]="plotyield[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center m-5" colspan="15">There Are No Yields Found Yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
</td>
</tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td class="md:text-center m-5" colspan="5">No Yields Found.</td>
  </tr>
</ng-template>
</p-table>

</div>
</div>