<div class="content-container col-12">
  <div class="grid">

    <form class="col-12" [formGroup]="fbChangePassword">
      <div class="col-12 p-0">
        <label for="password" class="block text-900 font-medium text-md required mb-1 mt-5">Password:</label>
        <input id="password" type="password" formControlName="password" placeholder="Password" pInputText
          class="w-full md:w-100  mb-2" pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-]).{8,15}$"
          [ngClass]="{ 'is-invalid ng-dirty': FormControls['password'].touched && FormControls['password'].errors }">
        <span *ngIf="FormControls['password'].touched && FormControls['password'].invalid">
          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['password'].errors?.['required']">
            Please Enter New Password.</div>
          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['password'].errors?.['pattern']">New
            Password must be 1 lower & upper case
            characters and numbers with special characters between 8 to 15 length</div>
        </span>

        <label for="confirmPassword" class="block text-900 font-medium text-md required mb-1 mt-2">Confirm
          Password:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" formControlName="confirmPassword"
          placeholder="Confirm Password" pInputText class="w-full md:w-100  mb-2"
          pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-]).{8,15}$"
          [ngClass]="{ 'is-invalid ng-dirty': FormControls['confirmPassword'].touched && FormControls['confirmPassword'].errors }">
        <span *ngIf="FormControls['confirmPassword'].touched && FormControls['confirmPassword'].invalid">
          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['confirmPassword'].errors?.['required']">
            Please Enter Confirm Password.</div>
          <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['confirmPassword'].errors?.['pattern']">
            Confirm Password must be 1 lower & upper case
            characters and numbers with special characters between 8 to 15 length</div>
          <div class="ng-invalid ng-touched p-error"
            *ngIf="FormControls['confirmPassword'].errors?.['confirmedValidator']">Password and Confirm Password
            must be match.</div>
        </span>
      </div>
      <div class="grid mt-3">
        <div class="col-6"><button pButton pRipple label="Back to Security Ques" class="w-full p-3 text-md"
            (click)="navigateToPrev()"></button></div>
        <div class="col-6"><button pButton pRipple label="Submit" [disabled]="fbChangePassword.invalid"
            class="w-full p-3 text-md" (click)="navigateToNext()"></button></div>
      </div>
    </form>

  </div>
</div>










<!-- <button style="float: left" (click)="navigateToPrev()">Navigate to Previous</button>
  <button style="float: right" (click)="navigateToNext()">Navigate to Next</button>
  </div> -->
