<div class="content-container col-12">
  <div class="grid">
      <form class="col-12">
      <label for="SelectQuestion" class="block text-900 font-medium text-md mb-1 mt-5"  >Password</label>
      <input id="email1" type="password" placeholder="Password" pInputText class="w-full md:w-100  mb-2"
          style="padding:1rem">
      <label for="Answer" class="block text-900 font-medium text-md mb-1 mt-2"  >Confirm Password</label>
      <input id="email1" type="password" placeholder="Confirm Password" pInputText class="w-full md:w-100  mb-6"
          style="padding:1rem">
      </form>
      <div class="col-6"><button pButton pRipple label="Back to Security Ques" class="w-full p-3 text-md" (click)="navigateToPrev()"></button></div>
      <div class="col-6"><button pButton pRipple label="Submit" class="w-full p-3 text-md"(click)="navigateToNext()"></button></div>
  </div>
</div>










  <!-- <button style="float: left" (click)="navigateToPrev()">Navigate to Previous</button>
  <button style="float: right" (click)="navigateToNext()">Navigate to Next</button>
  </div> -->