<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Plot Assessments</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Plot Assessment" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="addPlotAssessment()" *ngIf="permissions?.CanCreatePlotAssessment"></button>
      </ng-template>
    </p-toolbar>

    <!-- dialog -->
    <p-dialog header="Plot Assessment" [(visible)]="showDialog" [modal]="true" [transitionOptions]="'500ms'"
    [breakpoints]="{'960px': '60%', '640px': '90%'}" [style]="{width: '60%'}" (onHide)="ClearForm()">
      <form [formGroup]="fbPlotAssessment">
        <p-tabView orientation="left" [(activeIndex)]="activeIndex!">
          <p-tabPanel header="Plot Assessment(Doc20)" class="col-12">
            <div class="flex flex-column  justify-content-center">
              <div class="grid">
                <div class="col-12">
                  <p-fieldset legend="Season" [toggleable]="true" class="line-height-3 m-0"
                    [transitionOptions]="'500ms'">
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Season:</label>
                        <p-dropdown class="ml-2" placeholder="Select Season" optionLabel="code" [options]="seasons"
                          optionValue="seasonId" formControlName="seasonId"
                          (onChange)="initPlotNumbers($event.value, -1)" appendTo="body"
                          [disabled]="FormControls['plotAssessmentId'].value"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonId'].touched && FormControls['seasonId'].errors }">
                        </p-dropdown>
                        <span *ngIf="FormControls['seasonId'].touched && FormControls['seasonId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['seasonId'].errors?.['required']">
                            Please Select Season.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Plot No:</label>
                        <p-dropdown class="ml-2" placeholder="Select Plot" optionLabel="plotNumber"
                          [options]="plotReports" optionValue="plotId" formControlName="plotId"
                          (onChange)="getPlotinfo($event.value)" [filter]="true" filterBy="plotNumber,villageName"
                          [virtualScroll]="true" [virtualScrollItemSize]="38" appendTo="body"
                          [disabled]="FormControls['plotAssessmentId'].value"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['plotId'].touched && FormControls['plotId'].errors }">
                          <ng-template let-plotReport pTemplate="selectedItem">
                            <div>{{ plotReport.plotNumber }} - {{ plotReport.villageName }}</div>
                          </ng-template>
                          <ng-template let-plotReport pTemplate="item">
                            <div class="block align-items-center gap-2">
                              <div>{{plotReport.plotNumber}}</div>
                              <div>{{plotReport.villageName}} </div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                        <span *ngIf="FormControls['plotId'].touched && FormControls['plotId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['plotId'].errors?.['required']">
                            Please Select Plot No.</div>
                        </span>
                      </div>
                    </div>
                  </p-fieldset>
                  <div class="grid">
                    <p-fieldset legend="Farmer Info" [toggleable]="true" class="col-6 mt-2"
                      [transitionOptions]="'500ms'">
                      <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Code: </label><br />
                          <p class="disabled_text">{{plotInfo.farmerCode}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Name: </label><br />
                          <p class="disabled_text">{{plotInfo.farmerName }}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Father Name: </label><br />
                          <p class="disabled_text">{{plotInfo.fatherName }}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Village: </label><br />
                          <p class="disabled_text">{{plotInfo.farmerVillageName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Division: </label><br />
                          <p class="disabled_text">{{plotInfo.farmerDivisionName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label> Farmer Circle: </label><br />
                          <p class="disabled_text">{{plotInfo.farmerCircleName }}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Farmer Section: </label><br />
                          <p class="disabled_text">{{plotInfo.farmerSectionName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Offered No: </label><br />
                          <p class="disabled_text">{{plotInfo.offerNo}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Crop Type: </label><br />
                          <p class="disabled_text">{{plotInfo.cropTypeName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-6">
                          <label>Crop: </label><br />
                          <p class="disabled_text">{{plotInfo.cropName}}</p>
                        </div>
                      </div>
                    </p-fieldset>
                    <p-fieldset legend="Plot Info" [toggleable]="true" class="col-6 mt-2" [transitionOptions]="'500ms'">
                      <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Plot Division: </label><br />
                          <p class="disabled_text">{{plotInfo.plotDivisionName}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Plot Circle: </label><br />
                          <p class="disabled_text">{{plotInfo.plotCircleName}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Plot Section: </label><br />
                          <p class="disabled_text">{{plotInfo.plotSectionName}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Plot Village: </label><br />
                          <p class="disabled_text">{{plotInfo.plotVillageName}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Plant Type: </label><br />
                          <p class="disabled_text">{{plotInfo.plantTypeName}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Survey No: </label><br />
                          <p class="disabled_text">{{plotInfo.surveyNo}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Reported Area: </label><br />
                          <p class="disabled_text">{{plotInfo.reportedArea}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Planting Date: </label><br />
                          <p class="disabled_text">{{plotInfo.plantingDate | date: mediumDate}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Variety: </label><br />
                          <p class="disabled_text">{{plotInfo.varietyName}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Agreed Ton: </label><br />
                          <p class="disabled_text">{{plotInfo.agreedTon}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Field Name: </label><br />
                          <p class="disabled_text">{{plotInfo.fieldName}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>BIR Number: </label><br />
                          <p class="disabled_text">{{plotInfo.birNumber}}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>BIR Date: </label><br />
                          <p class="disabled_text">{{plotInfo.birDate | date: mediumDate }}</p>
                        </div>
                        <div class="field col-12 md:col-4 lg:col-4">
                          <label>Plot Type: </label><br />
                          <p class="disabled_text">{{plotInfo.plotTypeName}}</p>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                  <p-fieldset legend="Assessment Info" [toggleable]="true" class="col-6 mt-2"
                    [transitionOptions]="'500ms'">
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label class="required">Assessment Area(Acre):</label>
                        <p-inputNumber formControlName="measuredArea" placeholder="Enter Assessment Area" mode="decimal"
                          [maxlength]="10" [minFractionDigits]="2" [maxFractionDigits]="2"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['measuredArea'].touched && FormControls['measuredArea'].errors }">
                        </p-inputNumber>
                        <span *ngIf="FormControls['measuredArea'].touched && FormControls['measuredArea'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['measuredArea'].errors?.['required']">
                            Please Select Assessment Area.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3">
                        <label class="required">Assessment Date:</label>
                        <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" [defaultDate]="plantFrom"
                          [minDate]="plantFrom" [maxDate]="plantTo" formControlName="measuredDate"
                          placeholder="Please Select Assessment Date" appendTo="body"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['measuredDate'].touched && FormControls['measuredDate'].errors }">
                        </p-calendar>
                        <span *ngIf="FormControls['measuredDate'].touched && FormControls['measuredDate'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['measuredDate'].errors?.['required']">
                            Please Select Assessment Date.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-3 ">
                        <label>Demo Plot Area:</label><br>
                        <p-inputSwitch formControlName="isaDemoPlot"></p-inputSwitch>
                      </div>
                    </div>
                  </p-fieldset>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Weedicide/Pests" class="line-height-3 m-0">
            <div class="flex flex-column  justify-content-center">
              <div class="grid">
                <div class="col-12">
                  <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4 lg:col-3 ">
                      <label>Weed Status:</label>
                      <p-dropdown optionLabel="name" optionValue="lookupDetailId" [options]="weedstatus" appendTo="body"
                        formControlName="weedStatusId" [autoDisplayFirst]="false" placeholder="Select Weed Status">
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4 lg:col-3 ">
                      <label>Inter Cropping:</label>
                      <p-dropdown optionLabel="name" [options]="cropstypes" optionValue="lookupDetailId" appendTo="body"
                        formControlName="interCropingId" [autoDisplayFirst]="false" placeholder="Select Inter Cropping">
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6  lg:col-3 ">
                      <label>Micronutrient Deficiency:</label><br>
                      <p-inputSwitch formControlName="hasMicroNutrientDeficiency"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6  lg:col-3 ">
                      <label>Trash Mulching:</label><br>
                      <p-inputSwitch formControlName="isTrashMulchingDone"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6  lg:col-3 ">
                      <label>Gap Filling Done:</label><br>
                      <p-inputSwitch formControlName="isGapsFillingDone"></p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p-tabView orientation="left" [(activeIndex)]="activeIndex1!">
              <p-tabPanel header="Weedicide Used">
                <div class="grid col-12">
                  <div formArrayName='weedicides' class="checkboxList grid">
                    <ng-container *ngIf="this.fbPlotAssessment.controls['weedicides'] as formArray">
                      <div *ngFor="let item of getFormArrayControl('weedicides').controls; let i = index" class="col-3">
                        <div [formGroupName]="i" style="padding-left:unset" class="capitalize form-control">
                          <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                          </p-inputSwitch>
                          <label for="ny" class="ml-2 vertical-align-top">{{item.value.weedicideName}}</label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Pests" class="col-12">
                <div class="col-12">
                  <div formArrayName='pests' class="checkboxList">
                    <p-table #dt2 dataKey="id" [value]="getFormArrayControl('pests').controls" [rows]="10"
                      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                      [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: '100%'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Identified Date</th>
                          <th>Control Date</th>
                          <th>Remarks</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pestControl let-i="rowIndex">
                        <tr [formGroupName]="i">
                          <td>
                            <div>
                              {{pestControl.get('pestName').value}}
                            </div>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder=" Please Select Identified Date" formControlName="identifiedDate">
                            </p-calendar>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder=" Please Select Control Date" formControlName="controlDate">
                            </p-calendar>
                          </td>
                          <td>
                            <input pInputText formControlName="remarks">
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="8">No Pest Found.</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="Fertilizer/Disease" class="line-height-3 m-0">
            <p-tabView orientation="left" [(activeIndex)]="activeIndex2!">
              <p-tabPanel header="Fertilizers " class="col-12">
                <div class="grid col-12">
                  <div formArrayName='fertilizers' class="checkboxList grid">
                    <ng-container *ngIf="this.fbPlotAssessment.controls['fertilizers'] as formArray">
                      <div *ngFor="let item of getFormArrayControl('fertilizers').controls; let i = index"
                        class="col-3">
                        <div [formGroupName]="i" style="padding-left:unset">
                          <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                          </p-inputSwitch>
                          <label for="ny" class="ml-2 vertical-align-top">{{item.value.fertilizerName}}</label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Diseases" class="col-12">
                <div class="col-12">
                  <div formArrayName='diseases' class="checkboxList">
                    <p-table #dt2 dataKey="id" [value]="getFormArrayControl('diseases').controls" [rows]="10"
                      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                      [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                      [rowsPerPageOptions]="[10,25,50]">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Identified Date</th>
                          <th>Control Date</th>
                          <th>Remarks</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-diseaseControl let-i="rowIndex">
                        <tr [formGroupName]="i">
                          <td>
                            <div>
                              {{diseaseControl.get('diseaseName').value}}
                            </div>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder="Please Select Identified Date" formControlName="identifiedDate">
                            </p-calendar>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder="Please Select Control Date" formControlName="controlDate">
                            </p-calendar>
                          </td>
                          <td>
                            <input pInputText formControlName="remarks">
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
        </p-tabView>
      </form>
      <ng-template pTemplate="footer">
        <div class="col-12">
          <div class="col-4" style="float:right">
            <button pButton pRipple type="submit" label="{{submitLabel}}" class="p-button-raised p-button-primary"
              [disabled]="fbPlotAssessment.invalid" (click)="onSubmit()"></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>

    <!-- table -->
    <!-- [lazy]="true" -->
    <p-table #dtPlotAssessments dataKey="farmerCode" [value]="plotAssessments" [rows]="10" [rowHover]="true"
    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
    [alwaysShowPaginator]="false" [autoLayout]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}"
      (onRowExpand)="onRowExpand($event)">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <div>
            <button pButton label="Clear" class="p-button-outlined m-2" icon="pi pi-filter-slash"
              (click)="clear(dtPlotAssessments)"></button>
            <button (click)="exportPdf()" pButton class="p-button-outlined p-button-warning m-2"
              icon="pi pi-file-pdf"></button>
            <button (click)="exportExcel()" pButton class="p-button-outlined m-2" icon="pi pi-file-excel"></button>

          </div>

          <div>
            <span class="p-input-icon-left m-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #filter (input)="onSearch()" placeholder="Search Keyword"
                pTooltip="Search By Farmer Code, Farmer Name, Village Name, Offer No, Plot No" class="w-full">
            </span>
            <p-dropdown class="m-2" placeholder="Select Season" optionLabel="code" [options]="seasons"
              [(ngModel)]="currentSeason.seasonId" (onChange)="initPlotAssessments($event.value)" optionValue="seasonId">
            </p-dropdown>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th *ngFor="let col of farmerHeader" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-farmer let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="farmer"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down':  'pi pi-chevron-right'"></button>
          </td>
          <td *ngFor="let col of farmerHeader">
            {{farmer[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-farmer>
        <tr>
          <td colspan="5">
            <div class="p-3">
              <p-table [value]="farmer.ObjMeasuredPlots" [columns]="plotHeader" dataKey="plotId"
                [tableStyle]="{ width: 'min-content'}"
                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
                <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th *ngFor="let col of plotHeader">
            {{col?.label}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plotAssessment>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" (click)="editPlotAssessment(plotAssessment)"
              class="p-element p-ripple p-button-text p-button p-component"
              [disabled]="!permissions?.CanUpdatePlotAssessment"></button>
          </td>
          <td *ngFor="let col of plotHeader">

            <span
              *ngIf="col?.field != 'plantingDate' && col?.field != 'measuredDate'">{{plotAssessment[col.field]}}</span>
            <span *ngIf="col?.field == 'plantingDate' || col?.field == 'measuredDate'">
              {{plotAssessment[col.field] | date: 'dd-MM-yyyy'}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center" colspan="12">There are no plots for this farmer yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5" class="md:text-center m-5">No Plot Assessments Found.</td>
    </tr>
  </ng-template>
  </p-table>

</div>
</div>
