<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/logo-dark.png" alt="Madhucon logo" class="mb-5 w-100per flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
                style="border-radius:53px">
                <div class="grid flex flex-column align-items-center width_min">
                    <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">Security Questions</h1>
                    <div class="card" style="min-width:600px;">
                        <p-toolbar>
                            <ng-template pTemplate="left">
                            </ng-template>
                            <ng-template pTemplate="right">
                                <button pButton pRipple label="Add New Question " icon="pi pi-plus"
                                    class="p-button-success p-mr-2" (click)="openNew()"></button>
                            </ng-template>
                        </p-toolbar>

                        <!-- table -->
                        <p-table #dt [value]="securityDto" dataKey="id" [rowHover]="true"
                            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [autoLayout]="true"
                            responsiveLayout="scroll" [tableStyle]="{ width: 'autoLayout'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th></th>
                                    <th pSortableColumn="SecurityQuestions">SecurityQuestions <p-sortIcon field="code">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Answer">Answer <p-sortIcon field="code"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-permitApproval>
                                <tr>
                                    <td><button pButton pRipple icon="pi pi-pencil"
                                            class="p-element p-ripple p-button-text p-button p-component"
                                            (click)="editProduct(security)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-element p-ripple p-button-text p-button p-component"></button>
                                    </td>
                                    <td>{{permitApproval.SecurityQuestions}}</td>
                                    <td>{{permitApproval.Answer}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="left">
                            </ng-template>
                            <ng-template pTemplate="right">
                                <button pButton pRipple label="Submit" icon="pi pi-plus"
                                    class="p-button-success p-mr-2"></button>
                            </ng-template>

                        </p-table>

                        <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details"
                            [modal]="true" styleClass="p-fluid">

                            <ng-template pTemplate="content">
                                <!-- <from [formGroup]="fbSecureQue"> -->

                                    <div class="p-field">
                                        <label for="SecurityQuestions">Security Questions</label>

                                        <p-dropdown [options]="securityquestions" (onChange)="onChange($event)"
                                            [(ngModel)]="security.SecurityQuestions" appendTo="body" optionValue="name"
                                            placeholder="Select a Security Questions" optionLabel="name"
                                            [showClear]="true" #drop>
                                        </p-dropdown>
                                    </div>

                                    <div class="p-field">
                                        <label for="Answer">Answer</label>
                                        <input type="text" pInputText id="Answer" [(ngModel)]="security.Answer" required
                                            autofocus />
                                        <small class="p-invalid" *ngIf="submitted && !security.Answer">Answer is
                                            required.</small>
                                    </div>

                                <!-- </from> -->
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                                    (click)="hideDialog()"></button>
                                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                                    (click)="saveProduct()"></button>
                            </ng-template>

                        </p-dialog>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>