<div class="col-12">
  <div class="card">

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Allotted Plot</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Allotted Plot" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addAllottedPlot()"></button>
      </ng-template>
    </p-toolbar>

    <!-- table -->
    <p-table #dt1 [value]="allottedPlots" [columns]="headers" dataKey="id" [rows]="10" [loading]="loading"
      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th *ngFor="let col of headers" [pSortableColumn]="col.header">
            {{col.label}} <p-sortIcon field="code">
            </p-sortIcon>
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
              (click)="editBillParam(product)"></button></td>
          <td *ngFor="let col of headers">
            <span *ngIf="col.field != 'OfferDate'">{{product[col.field]}}</span>
            <span *ngIf="col.field == 'OfferDate'">{{product[col.field] | date: 'dd-MM-yyyy'}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center" colspan="12">No Allotted Plots Found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td class="md:text-center" colspan="12">Loading Allotted Plots Data. Please Wait.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
