<div class="col-12">
    <div class="card">
        <!-- dialog box -->
        <p-dialog header="Districts" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
            [style]="{width: '40vw'}">
            <div class="flex flex-column align-items-center justify-content-center">
                <form [formGroup]="fbdistricts" (ngSubmit)="onSubmit()">
                    {{this.fbdistricts.value | json}}
                    <div class="grid">
                        <div class="col-12 ">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12 ">
                                    <label>Code:<sup class="p-error">*</sup></label>
                                    <input pInputText id="code" type="text" formControlName="code" [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                                    <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid" >
                                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">Please Enter Code.</div>
                                        </span>
                                </div>
                                <div class="col-12">
                                    <label>Name:<sup class="p-error">*</sup></label>
                                    <input pInputText id="name" type="text" formControlName="name"  [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                                    <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid" >
                                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">Please Enter Name.</div>

                                        </span>
                                </div>
                                <div class="col-12">
                                    <label>State:<sup class="p-error">*</sup></label>
                                    <p-dropdown [options]="states" optionLabel="name" formControlName="state"  optionValue="code" [ngClass]="{ 'is-invalid ng-dirty': FormControls['state'].touched && FormControls['state'].errors }"></p-dropdown>
                                    <span *ngIf="FormControls['state'].touched && FormControls['state'].invalid" >
                                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['state'].errors?.['required']">Please Select State.</div>

                                        </span>
                                </div>
                                <div class=" col-12 ">
                                    <label>Is Active?:<sup class="p-error">*</sup></label><br>
                                    &nbsp; <p-inputSwitch formControlName="active" ></p-inputSwitch>
                                </div>
                                <div class="col-12">
                                    <button pButton pRipple type="submit" label="Add District"
                                        class="p-button-raised p-button-success"></button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </p-dialog>


        <!-- toolbar -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Districts</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <button *ngIf="jwtService.Permissions.CanCreateDistrict" pButton pRipple label="New District" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="InitDistrict();"></button>
            </ng-template>
        </p-toolbar>

        <!-- table -->
        <p-table #dt1 [value]="districts" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-md" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="districtId" style="width:100px">
                    <p-sortIcon field="districtId"></p-sortIcon>District Id
                  </th>
                    <th pSortableColumn="districtName" style="width:200px">
                        <p-sortIcon field="districtName"></p-sortIcon>District Name
                    </th>
                    <th pSortableColumn="districtCode" style="width:100px">District Code<p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="stateName" style="width:200px">State Name <p-sortIcon field="cpuntry.name">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="createAt" style="width:200px" style="width:200px">Create At<p-sortIcon field="date">
                        </p-sortIcon>
                    </th>

                    <th pSortableColumn="createdBy" style="width:200px">
                        <p-sortIcon field="createdBy"></p-sortIcon>Created By
                    </th>
                    <th pSortableColumn="updatedBy" style="width:200px" pFrozenColumn alignFrozen="right">
                        <p-sortIcon field="updatedBy"></p-sortIcon>Updated By
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-distict>
                <tr>
                  <td style="width:100px">{{distict.districtId}}</td>
                    <td style="width:200px">{{distict.districtName}}</td>
                    <td style="width:100px">{{distict.districtCode}}</td>
                    <td style="width:200px">
                        <span class="image-text ml-2">{{distict.stateName}}</span>
                    </td>
                    <td style="width:200px">{{distict.createdAt}}</td>

                    <td style="width:200px">
                        <span class="image-text ml-2">{{distict.createdBy}}</span>
                    </td>
                    <td style="width:200px" pFrozenColumn  alignFrozen="right">
                        {{distict.updatedBy}}
                        </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
