<div class="col-12">
  <div class="card">

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Bill Parameters</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Bill Parameter" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addBillParam()"></button>
      </ng-template>
    </p-toolbar>

    <!-- table -->
    <p-table #dt1 [value]="billParameters" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="id">
            Bill Category <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="type">
            Type <p-columnFilter type="text" field="type" display="menu"></p-columnFilter>
            <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="code">
            Code <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="name">
            Name <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="caluclationType">
            CalcType <p-columnFilter type="text" field="caluclationType" display="menu"></p-columnFilter>
            <p-sortIcon field="caluclationType"></p-sortIcon>
          </th>
          <th pSortableColumn="formula">
            Formula <p-columnFilter type="text" field="formula" display="menu"></p-columnFilter>
            <p-sortIcon field="formula"></p-sortIcon>
          </th>
          <th pSortableColumn="priority">
            Priority <p-columnFilter type="text" field="priority" display="menu"></p-columnFilter>
            <p-sortIcon field="priority"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">
            Is Active <p-columnFilter type="text" field="isActive" display="menu"></p-columnFilter>
            <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created Date <p-columnFilter type="text" field="createdAt" display="menu"></p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdByUser">
            Created By <p-columnFilter type="text" field="createdByUser" display="menu"></p-columnFilter>
            <p-sortIcon field="createdByUser"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">
            Updated Date <p-columnFilter type="text" field="updatedAt" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedByUser">
            Updated By <p-columnFilter type="text" field="updatedByUser" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedByUser"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-billparam>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
              (click)="editBillParam(billparam)"></button></td>
          <td>{{billparam.id}}</td>
          <td>{{billparam.type}}</td>
          <td>{{billparam.code}}</td>
          <td>{{billparam.name}}</td>
          <td>{{billparam.caluclationType}}</td>
          <td>{{billparam.formula}}</td>
          <td>{{billparam.priority}}</td>
          <td class="text-center">
            <p-checkbox name="active" value="active" [(ngModel)]="billparam.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{billparam.createdAt | date: mediumDate}}</td>
          <td>{{billparam.createdByUser}}</td>
          <td>{{billparam.updatedAt | date: mediumDate}}</td>
          <td>{{billparam.updatedByUser}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center" colspan="13">No bill parameters found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td class="text-center" colspan="13">Loading bill parameters data. Please wait.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- dialog box -->
    <p-dialog header="Bill Parameter" [(visible)]="showDialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" (onHide)="fbBillParameters.reset()">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbBillParameters" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label>Bill Category:<sup class="p-error">*</sup></label>
                  <p-dropdown placeholder="Select Bill Category" [options]="billCategories" optionLabel="name"
                    formControlName="categoryId" optionValue="lookUpDetailId"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['categoryId'].touched && FormControls['categoryId'].errors }">
                  </p-dropdown>
                  <span *ngIf="FormControls['categoryId'].touched && FormControls['categoryId'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['categoryId'].errors?.['required']">
                      Please Select Category.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Type:<sup class="p-error">*</sup></label>
                  <p-dropdown placeholder="Select Type" [options]="types" formControlName="type"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['type'].touched && FormControls['type'].errors }">
                  </p-dropdown>
                  <span *ngIf="FormControls['type'].touched && FormControls['type'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['type'].errors?.['required']">
                      Please Select Type.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Code:<sup class="p-error">*</sup></label>
                  <input pInputText id="code" type="text" placeholder="Enter Code" formControlName="code"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                  <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                      Please Enter Code.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                      Code Min Length Is 2 .</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                      Code Max Length Is 10.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                      Code Should Contains Only Alphabets And Integers.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Name:<sup class="p-error">*</sup></label>
                  <input pInputText id="code" type="text" placeholder="Enter Name" formControlName="name"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                  <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                      Please Enter Name.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">Name
                      Should Contains Only Characters.
                    </div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Calculation Type:<sup class="p-error">*</sup></label>
                  <p-dropdown placeholder="Select Calculation Type" [options]="calTypes"
                    formControlName="caluclationType"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['caluclationType'].touched && FormControls['caluclationType'].errors }">
                  </p-dropdown>
                  <span *ngIf="FormControls['caluclationType'].touched && FormControls['caluclationType'].invalid">
                    <div class="ng-invalid ng-touched p-error"
                      *ngIf="FormControls['caluclationType'].errors?.['required']">
                      Please Select Calc Type.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Priority:<sup class="p-error">*</sup></label>
                  <input pInputText id="priority" type="text" placeholder="Enter Priority" formControlName="priority"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['priority'].touched && FormControls['priority'].errors }">
                  <span *ngIf="FormControls['priority'].touched && FormControls['priority'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['priority'].errors?.['required']">
                      Please Enter Priority.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['priority'].errors?.['pattern']">
                      Priority Should Contains Only Integers.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Formula:<sup class="p-error">*</sup></label>
                  <textarea pInputTextarea id="formula" type="text" placeholder="Enter Formula"
                    formControlName="formula"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['formula'].touched && FormControls['formula'].errors }">
                    </textarea>
                  <span *ngIf="FormControls['formula'].touched && FormControls['formula'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['formula'].errors?.['required']">
                      Please Enter Formula.</div>
                  </span>
                </div>
                <div class="col-12 md:col-6">
                  <label>Is Active:</label><br>
                  <p-inputSwitch formControlName="isActive"> </p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-success"
            (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

  </div>
</div>
