<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" alt="logo">

    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        
         <h4 class="p-link user_name">Hi! {{loggedInUser}}</h4>
         <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <!-- <button class="p-link layout-topbar-button"  (click)="Logout()">
            <i class="pi pi-sign-out"></i>
            <span>logout</span>
        </button> -->
    </div>
</div>
<p-dialog
      header="Application Constants"
      [(visible)]="dialog"
      showEffect="fade"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '40vw' }"
      [modal]="true"
    >
     <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
            <form [formGroup]="application_contsants" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-6">
                        <label htmlFor="code">Name:<sup class="p-error">*</sup></label>
                        <input pInputText id="name"  placeholder="Enter Name" formControlName="name" type="text"  
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                        <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                            <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                            Please Enter Name.</div>
                            <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                            Name Should Contains Only Alphbets.</div>
                        </span>
                        </div>
                        <div class="field col-12 md:col-6">
                        <label htmlFor="value">Value:<sup class="p-error">*</sup></label>
                        <input pInputText id="value" placeholder="Enter Value" formControlName="name" type="text"  
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['value'].touched && FormControls['value'].errors }">
                        <span *ngIf="FormControls['value'].touched && FormControls['value'].invalid">
                            <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['value'].errors?.['required']">
                            Please Enter Value.</div>
                        </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
     </ng-template>
     <ng-template pTemplate="footer">  
        <div class="col-4" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-success"
            (click)="onSubmit()"></button>
        </div>     
    </ng-template>
</p-dialog>
