<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <p-dialog header="Village" [(visible)]="display" showEffect="fade" [breakpoints]="{'960px': '50%', '640px': '80%'}"
      [style]="{width: '50%'}" [modal]="true" (onHide)="onClose()">
      <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
          <form [formGroup]="fbvillages" (ngSubmit)="onSubmit()">
            <div class="container">
              <div class="grid p-fluid">
                <p-fieldset legend="Geographic Info" class="col-12" [toggleable]="true" [transitionOptions]="'500ms'">
                  <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                      <label htmlFor="age1">State:<sup class="p-error">*</sup></label>
                      <p-dropdown [options]="states" optionLabel="stateName" optionValue="stateId"
                       [autoDisplayFirst]="false" formControlName="stateId" (onChange)="initDistricts($event.value)"
                        placeholder="Select State" [ngClass]="{'is-invalid ng-dirty': FormControls['stateId'].touched && FormControls['stateId'].errors}">
                      </p-dropdown>
                      <span *ngIf="
                          FormControls['stateId'].touched &&
                          FormControls['stateId'].invalid">
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['stateId'].errors?.['required']">
                          Please Select State.
                        </div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label htmlFor="districtId">District:<sup class="p-error">*</sup></label>
                      <!-- <p-dropdown [options]="districts" optionLabel="districtName" optionValue="districtId"
                       [autoDisplayFirst]="false" formControlName="districtId"
                        placeholder="Select State" [ngClass]="{'is-invalid ng-dirty': FormControls['districtId'].touched && FormControls['districtId'].errors}">
                      </p-dropdown> -->
                      <p-dropdown [filter]="true" filterBy="name" [virtualScroll]="true" [virtualScrollItemSize]="38"
                        appendTo="body" [options]="districts" optionLabel="name" optionValue="districtId"
                        (onChange)="initMandals($event.value)" [autoDisplayFirst]="false" formControlName="districtId"
                        placeholder="Select District" [ngClass]="{
                          'is-invalid ng-dirty':
                            FormControls['districtId'].touched &&
                            FormControls['districtId'].errors
                        }">
                      </p-dropdown>
                      <span *ngIf="
                          FormControls['districtId'].touched &&
                          FormControls['districtId'].invalid
                        ">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['districtId'].errors?.['required']">
                          Please Select District.
                        </div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label htmlFor="circle">Mandal:<sup class="p-error">*</sup></label>
                      <p-dropdown [filter]="true" filterBy="name" [virtualScroll]="true" [virtualScrollItemSize]="38"
                        appendTo="body" [options]="mandals" optionLabel="name" optionValue="mandalId"
                        [autoDisplayFirst]="false" formControlName="mandalId"
                        placeholder="Select Mandal" [ngClass]="{
                          'is-invalid ng-dirty':
                            FormControls['mandalId'].touched &&
                            FormControls['mandalId'].errors
                        }">
                      </p-dropdown>
                      <span *ngIf="
                          FormControls['mandalId'].touched &&
                          FormControls['mandalId'].invalid
                        ">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['mandalId'].errors?.['required']">
                          Please Select Mandal.
                        </div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label htmlFor="age1">Division:<sup class="p-error">*</sup></label>
                      <p-dropdown [filter]="true" filterBy="divisionName" [virtualScroll]="true"
                        [virtualScrollItemSize]="38" appendTo="body" [options]="divisions" optionLabel="divisionName"
                        optionValue="divisionId" (onChange)="initCircles($event.value)" [autoDisplayFirst]="false"
                        formControlName="divisionId" placeholder="Select Division" [ngClass]="{
                          'is-invalid ng-dirty':
                            FormControls['divisionId'].touched &&
                            FormControls['divisionId'].errors
                        }">
                      </p-dropdown>
                      <span *ngIf="
                          FormControls['divisionId'].touched &&
                          FormControls['divisionId'].invalid
                        ">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['divisionId'].errors?.['required']">
                          Please Select Division.
                        </div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label htmlFor="circle">Circle:<sup class="p-error">*</sup></label>
                      <p-dropdown [filter]="true" filterBy="name" [virtualScroll]="true" [virtualScrollItemSize]="38"
                        appendTo="body" [options]="circles" optionLabel="name" optionValue="circleId"
                        (onChange)="initSections($event.value)" [autoDisplayFirst]="false" formControlName="circleId"
                        placeholder="Select Circle" [ngClass]="{
                          'is-invalid ng-dirty':
                            FormControls['circleId'].touched &&
                            FormControls['circleId'].errors
                        }">
                      </p-dropdown>
                      <span *ngIf="
                          FormControls['circleId'].touched &&
                          FormControls['circleId'].invalid
                        ">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['circleId'].errors?.['required']">
                          Please Select Circle.
                        </div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label htmlFor="section">Section:<sup class="p-error">*</sup></label>
                      <p-dropdown [filter]="true" filterBy="name" [virtualScroll]="true" [virtualScrollItemSize]="38"
                        appendTo="body" [options]="sections" optionLabel="name" optionValue="sectionId"
                        [autoDisplayFirst]="false" formControlName="sectionId" placeholder="Select Section" [ngClass]="{
                          'is-invalid ng-dirty':
                            FormControls['sectionId'].touched &&
                            FormControls['sectionId'].errors
                        }">
                      </p-dropdown>
                      <span *ngIf="
                          FormControls['sectionId'].touched &&
                          FormControls['sectionId'].invalid
                        ">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['sectionId'].errors?.['required']">
                          Please Select Section.
                        </div>
                      </span>
                    </div>
                  </div>
                </p-fieldset>

                <p-fieldset legend="Village Info" class="col-12" [toggleable]="true" [transitionOptions]="'500ms'">
                  <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                      <label>Code:<sup class="p-error">*</sup></label>
                      <input pInputText id="code" type="text" #code placeholder="Enter Code" formControlName="code"
                        alphaNumeric [readonly]="fbvillages.value.tptId" [maxlength]="20"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                      <div class="text-right">
                        <small>{{code.value.length}}/20</small>
                      </div>
                      <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                          Please Enter Code.</div>
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                          Code Min Length Is 2 .</div>
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                          Code Max Length Is 20.</div>
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                          Code Should Contains Only Alpha Numeric.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label>Name:<sup class="p-error">*</sup></label>
                      <input pInputText id="name" #name type="text" placeholder="Enter Name" formControlName="name"
                        alphaOnly [maxlength]="maxLength.name"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                      <div class="text-right">
                        <small>{{name.value.length}}/{{maxLength.name}}</small>
                      </div>
                      <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                          Please Enter Name.</div>
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['minlength']">
                          Name Min Characters Is 2.</div>
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                          Name Should Contains Only Alphabets.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label>Incharge Name:</label>
                      <input pInputText type="text" #inchargeName formControlName="inchargeName" alphaOnly
                        placeholder="Enter Incharge Name" [maxlength]="50">
                      <div class="text-right">
                        <small>{{inchargeName.value.length}}/50</small>
                      </div>
                      <span *ngIf="FormControls['inchargeName'].touched && FormControls['inchargeName'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['inchargeName'].errors?.['pattern']">Incharge Name Should Contains
                          Alphabets.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label>Incharge PhoneNo:</label>
                      <input pInputText id="inchargePhoneNo" formControlName="inchargePhoneNo"
                        placeholder="Enter Incharge PhoneNo" #inchargePhoneNo numericOnly
                        [maxlength]="maxLength.phoneNo"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['inchargePhoneNo'].touched && FormControls['inchargePhoneNo'].errors }">
                      <div class="text-right">
                        <small>{{inchargePhoneNo.value.length}}/{{maxLength.phoneNo}}</small>
                      </div>
                      <span *ngIf="FormControls['inchargePhoneNo'].touched && FormControls['inchargePhoneNo'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['inchargePhoneNo'].errors?.['required']">Please Enter Phone Number.</div>
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['inchargePhoneNo'].errors?.['pattern']">
                          First Digit Should Be Greater Than 4 And Must Contains 10 Digits.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label>Pin Code:</label>
                      <input pInputText id="pinCode" #pinCode type="text" placeholder="Enter Pin Code"
                        formControlName="pinCode" numericOnly [maxlength]="maxLength.pinCode"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['pinCode'].touched && FormControls['pinCode'].errors }">
                      <div class="text-right">
                        <small>
                          {{pinCode.value.length}}/{{maxLength.pinCode}}
                        </small>
                      </div>
                      <span *ngIf="FormControls['pinCode'].touched && FormControls['pinCode'].invalid">
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['pinCode'].errors?.['pattern']">
                          Pin Code Should Not Start With Zero And Contains 6 Digits.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="distance">Distance:<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="distance" formControlName="distance" [minFractionDigits]="1"
                        [maxlength]="10" placeholder="Enter Distance"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['distance'].touched && FormControls['distance'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                              FormControls['distance'].invalid &&
                              FormControls['distance'].touched
                            " class="error-message p-error">
                        Please Enter Distance.
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="divertedDistance">Diverted Distance:<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="divertedDistance" formControlName="divertedDistance"
                        [minFractionDigits]="2" placeholder="Enter Diverted Distance" [maxlength]="10"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['divertedDistance'].touched && FormControls['divertedDistance'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                              FormControls['divertedDistance'].invalid &&
                              FormControls['divertedDistance'].touched
                            " class="error-message p-error">
                        Please Enter Diverted Distance.
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="listingOrder">Listing Order:<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="locale-indian" formControlName="listingOrder" mode="decimal"
                        locale="en-IN" [useGrouping]="false" [size]="6" [maxlength]="6"
                        placeholder="Enter Listing Order"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['listingOrder'].touched && FormControls['listingOrder'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                              FormControls['listingOrder'].invalid &&
                              FormControls['listingOrder'].touched
                            " class="error-message p-error">
                        Please Enter Listing Order.
                      </div>
                    </div>

                    <div class="field col-8 md:col-4">
                      <label>Address:</label>
                      <textarea rows="5" cols="30" placeholder="Enter Address" #address pInputTextarea
                        formControlName="address" [maxlength]="maxLength.address" address
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['address'].touched && FormControls['address'].errors }"></textarea>
                      <div class="text-right">
                        <small>{{address.value.length}}/{{maxLength.address}} </small>
                      </div>
                      <span *ngIf="FormControls['address'].touched && FormControls['address'].invalid">
                        <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['address'].errors?.['pattern']">
                          Address Is Incorrect.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4">
                      <div class="col-6">
                        <label htmlFor="isActive">Is Active:</label><br />
                        <p-inputSwitch formControlName="isActive"></p-inputSwitch>
                      </div>
                    </div>
                  </div>
                </p-fieldset>

                <p-fieldset legend="Land Info" class="col-12" [toggleable]="true" [transitionOptions]="'500ms'">
                  <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                      <label for="cultivable Area">Cultivable Area(Acres):<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="cultivableArea" formControlName="cultivableArea" [minFractionDigits]="2"
                        placeholder="Enter Cultivable Area(Acres)"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['cultivableArea'].touched && FormControls['cultivableArea'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['cultivableArea'].invalid &&
                          FormControls['cultivableArea'].touched
                        " class="error-message p-error">
                        Please Enter Cultivable Area.
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="irrigationArea">Irrigation Area(In Peek Summer):<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="irrigationArea" formControlName="irrigationArea" [minFractionDigits]="2"
                        placeholder="Enter Irrigation Area"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['irrigationArea'].touched && FormControls['irrigationArea'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['irrigationArea'].invalid &&
                          FormControls['irrigationArea'].touched
                        " class="error-message p-error">
                        Please Enter Irrigation Area.

                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="potentialArea">Suitable Area For Cane(Acres):<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="potentialArea" formControlName="potentialArea" mode="decimal"
                        placeholder="Suitable Area" locale="en-US" placeholder="Enter Suitable Area"
                        [minFractionDigits]="2"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['potentialArea'].touched && FormControls['potentialArea'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['potentialArea'].invalid &&
                          FormControls['potentialArea'].touched
                        " class="error-message p-error">
                        Please Enter Suitable Area For Cane.

                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="totalArea">Total Geographic Area(Acres):<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="totalArea" formControlName="totalArea" [minFractionDigits]="2"
                        placeholder="Total Geographic Area" [minFractionDigits]="2"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['totalArea'].touched && FormControls['totalArea'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['totalArea'].invalid &&
                          FormControls['totalArea'].touched
                        " class="error-message p-error">
                        Please Enter Total Geographic Area.
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="dryArea">Dry Area(Acres):<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="dryArea" formControlName="dryArea" [minFractionDigits]="2"
                        placeholder="Enter Dry Area"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['dryArea'].touched && FormControls['dryArea'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['dryArea'].invalid &&
                          FormControls['dryArea'].touched
                        " class="error-message p-error">
                        Please Enter Dry Area.
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="notSuitableArea">Not Suitable Area:<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="notSuitableArea" formControlName="notSuitableArea" mode="decimal"
                        placeholder="Enter Not Suitable Area" locale="de-DE" [minFractionDigits]="2"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['notSuitableArea'].touched && FormControls['notSuitableArea'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['notSuitableArea'].invalid &&
                          FormControls['notSuitableArea'].touched
                        " class="error-message p-error">
                        Please Enter Not Suitable Area.
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="target">Target Area <sup class="p-error">*</sup></label>
                      <p-inputNumber formControlName="targetArea" inputId="target" [minFractionDigits]="2"
                        placeholder="Enter Target Area"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['targetArea'].touched && FormControls['targetArea'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['targetArea'].invalid &&
                          FormControls['targetArea'].touched
                        " class="error-message p-error">
                        Please Enter Target Area.
                      </div>

                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="noOfEbservices">No Of EB Services:<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="noOfEbservices" formControlName="noOfEbservices" [minFractionDigits]="2"
                        placeholder="Enter No of EB Services"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['noOfEbservices'].touched && FormControls['noOfEbservices'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['noOfEbservices'].invalid &&
                          FormControls['noOfEbservices'].touched
                        " class="error-message p-error">
                        Please Enter No Of Eb Services.
                      </div>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label for="tptrate">TPT Rate(₹):<sup class="p-error">*</sup></label>
                      <p-inputNumber inputId="tptRate" formControlName="tptrate" [minFractionDigits]="2"
                        placeholder="Enter TPT Rate"
                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['tptrate'].touched && FormControls['tptrate'].errors }">
                      </p-inputNumber>
                      <div *ngIf="
                          FormControls['tptrate'].invalid &&
                          FormControls['tptrate'].touched
                        " class="error-message p-error">
                        Please Enter Tpt Rate.
                      </div>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float: right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
            [disabled]="fbvillages.invalid" (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Villages</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Village" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="InitVillage({})" *ngIf="permissions.CanCreateVillage"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="villages" dataKey="id" [rows]="10" [rowHover]="true" [alwaysShowPaginator]="false"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [globalFilterFields]="[
        'divisionName',
        'circleName',
        'sectionName',
        'districtName',
        'mandalName',
        'mandalName',
        'address',
        'pinCode',
        'villageName',
        'villageCode',
        'inchargeName',
        'country.name',
        'inchargePhoneNo',
        'distance',
        'divertedDistance',
        'noOfEBServices',
        'tptRate',
        'totalArea',
        'cultivableArea',
        'irrigationArea',
        'dryArea',
        'potentialArea',
        'notSuitableArea',
        'tptRate',
        'targetArea',
        'listingOrder',
        'updatedAt',
        'updatedAt',
        'updatedBy',
        'updatedBy',
      ]" [autoLayout]="true" responsiveLayout="scroll" [rowsPerPageOptions]="[10, 25, 50]"
      [tableStyle]="{ width: 'max-content' }">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="divisionName">
            Division<p-columnFilter type="text" field="divisionName" display="menu"></p-columnFilter>
            <p-sortIcon field="divisionName"></p-sortIcon>
          </th>
          <th pSortableColumn="circleName">
            Circle<p-columnFilter type="text" field="circleName" display="menu">
            </p-columnFilter>
            <p-sortIcon field="circleName"></p-sortIcon>
          </th>
          <th pSortableColumn="sectionName">
            Section<p-columnFilter type="text" field="sectionName" display="menu">
            </p-columnFilter>
            <p-sortIcon field="sectionName"></p-sortIcon>
          </th>
          <th pSortableColumn="districtName">
            District<p-columnFilter type="text" field="districtName" display="menu"></p-columnFilter>
            <p-sortIcon field="districtName"></p-sortIcon>
          </th>
          <th pSortableColumn="mandalName">
            Mandal<p-columnFilter type="text" field="mandalName" display="menu">
            </p-columnFilter>
            <p-sortIcon field="mandalName"></p-sortIcon>
          </th>
          <th pSortableColumn="address">
            Address<p-columnFilter type="text" field="address" display="menu">
            </p-columnFilter>
            <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th pSortableColumn="pinCode">
            Pincode<p-columnFilter type="text" field="pinCode" display="menu">
            </p-columnFilter>
            <p-sortIcon field="pinCode"></p-sortIcon>
          </th>
          <th pSortableColumn="villageCode">
            Code<p-columnFilter type="text" field="villageCode" display="menu">
            </p-columnFilter>
            <p-sortIcon field="villageCode"></p-sortIcon>
          </th>
          <th pSortableColumn="villageName">
            Name<p-columnFilter type="text" field="villageName" display="menu">
            </p-columnFilter>
            <p-sortIcon field="villageName"></p-sortIcon>
          </th>
          <th pSortableColumn="inchargeName">
            Incharge Name<p-columnFilter type="text" field="inchargeName" display="menu"></p-columnFilter>
            <p-sortIcon field="inchargeName"></p-sortIcon>
          </th>
          <th pSortableColumn="inchargePhoneNo">
            InchargePhone No<p-columnFilter type="text" field="inchargePhoneNo" display="menu"></p-columnFilter>
            <p-sortIcon field="inchargePhoneNo"></p-sortIcon>
          </th>
          <th pSortableColumn="distance">
            Distance<p-columnFilter type="text" field="distance" display="menu">
            </p-columnFilter>
            <p-sortIcon field="distance"></p-sortIcon>
          </th>
          <th pSortableColumn="divertedDistance">
            Diverted Distance<p-columnFilter type="text" field="divertedDistance" display="menu"></p-columnFilter>
            <p-sortIcon field="divertedDistance"></p-sortIcon>
          </th>
          <th pSortableColumn="noOfEBServices">
            No of EB Services<p-columnFilter type="text" field="noOfEBServices" display="menu"></p-columnFilter>
            <p-sortIcon field="noOfEBServices"></p-sortIcon>
          </th>
          <th pSortableColumn="tptRate">
            Tpt Rate<p-columnFilter type="text" field="tptRate" display="menu">
            </p-columnFilter>
            <p-sortIcon field="tptRate"></p-sortIcon>
          </th>
          <th pSortableColumn="totalArea">
            Total geographic area<p-columnFilter type="text" field="totalArea" display="menu">
            </p-columnFilter>
            <p-sortIcon field="totalArea"></p-sortIcon>
          </th>
          <th pSortableColumn="cultivableArea">
            Cultivable Area<p-columnFilter type="text" field="cultivableArea" display="menu"></p-columnFilter>
            <p-sortIcon field="cultivableArea"></p-sortIcon>
          </th>
          <th pSortableColumn="irrigationArea">
            Irrigation Area<p-columnFilter type="text" field="irrigationArea" display="menu"></p-columnFilter>
            <p-sortIcon field="irrigationArea"></p-sortIcon>
          </th>
          <th pSortableColumn="dryArea">
            Dry Area<p-columnFilter type="text" field="dryArea" display="menu">
            </p-columnFilter>
            <p-sortIcon field="dryArea"></p-sortIcon>
          </th>
          <th pSortableColumn="potentialArea">
            Suitable area<p-columnFilter type="text" field="potentialArea" display="menu"></p-columnFilter>
            <p-sortIcon field="potentialArea"></p-sortIcon>
          </th>
          <th pSortableColumn="notSuitableArea">
            Not Suitable Area<p-columnFilter type="text" field="notSuitableArea" display="menu"></p-columnFilter>
            <p-sortIcon field="notSuitableArea"></p-sortIcon>
          </th>
          <th pSortableColumn="targetArea">
            Target Area<p-columnFilter type="text" field="targetArea" display="menu">
            </p-columnFilter>
            <p-sortIcon field="targetArea"></p-sortIcon>
          </th>
          <th pSortableColumn="listingOrder">
            Order<p-columnFilter type="text" field="listingOrder" display="menu"></p-columnFilter>
            <p-sortIcon field="listingOrder"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">
            Is Active<p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">
            Created Date<p-columnFilter type="text" field="updatedAt" display="menu">
            </p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created By<p-columnFilter type="text" field="updatedAt" display="menu">
            </p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedBy">
            Updated Date<p-columnFilter type="text" field="updatedBy" display="menu">
            </p-columnFilter>
            <p-sortIcon field="updatedBy"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy">
            Updated By<p-columnFilter type="text" field="createdBy" display="menu">
            </p-columnFilter>
            <p-sortIcon field="createdBy"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-village>
        <tr>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
              (click)="InitVillage(village)" [disabled]="!permissions.CanUpdateVillage"></button>
          </td>
          <td>{{ village.divisionName }}</td>
          <td>{{ village.circleName }}</td>
          <td>{{ village.sectionName }}</td>
          <td>{{ village.districtName }}</td>
          <td>{{ village.mandalName }}</td>
          <td>{{ village.address }}</td>
          <td>{{ village.pinCode }}</td>
          <td>{{ village.villageCode }}</td>
          <td>{{ village.villageName }}</td>
          <td>{{ village.inchargeName }}</td>
          <td>{{ village.inchargePhoneNo }}</td>
          <td>{{ village.distance }}</td>
          <td>{{ village.divertedDistance }}</td>
          <td>{{ village.noOfEBServices }}</td>
          <td>{{ village.tptRate }}</td>
          <td>{{ village.totalArea }}</td>
          <td>{{ village.cultivableArea }}</td>
          <td>{{ village.irrigationArea }}</td>
          <td>{{ village.dryArea }}</td>
          <td>{{ village.potentialArea }}</td>
          <td>{{ village.notSuitableArea }}</td>
          <td>{{ village.targetArea }}</td>
          <td>{{ village.listingOrder }}</td>
          <td class="text-center">
            <p-checkbox name="active" value="active" [(ngModel)]="village.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{ village.createdAt | date : mediumDate }}</td>
          <td>{{ village.createdBy }}</td>
          <td>{{ village.updatedAt | date : mediumDate }}</td>
          <td>{{ village.updatedBy }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center m-5" colspan="50%">No Villages Found.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>