<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Plot Agreements</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Plot Agreement" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addPlotAgreement()" *ngIf="permissions.CanCreatePlotAgreement"></button>
      </ng-template>
    </p-toolbar>

    <!-- dialog -->
    <p-dialog header="Plot Agreement" [(visible)]="showDialog" [modal]="true"
    [breakpoints]="{'960px': '60%', '640px': '90%'}" [style]="{width: '60%'}" (onHide)="clearForm()">
      <form [formGroup]="fbPlotAgreement" (ngSubmit)="onSubmit()">
        <p-tabView orientation="left" [(activeIndex)]="activeIndex!">
          <p-tabPanel header="Plot Agreement(Doc30)" class="col-12">
            <div class="flex flex-column  justify-content-center">
              <div class="grid">
                <div class="col-12">
                  <p-fieldset legend="Season" [toggleable]="true" class="line-height-3 m-0"
                    [transitionOptions]="'500ms'">
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-6 lg:col-4">
                        <label class="required">Season:</label>
                        <p-dropdown class="ml-2" placeholder="Select Season" [options]="seasons" optionLabel="code"
                          optionValue="seasonId" formControlName="seasonId"
                          (onChange)="initPlotNumbers($event.value, -1)" appendTo="body"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonId'].touched && FormControls['seasonId'].errors }">
                        </p-dropdown>
                        <span *ngIf="FormControls['seasonId'].touched && FormControls['seasonId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['seasonId'].errors?.['required']">
                            Select Season.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6 lg:col-4">
                        <label class="required">Plot No:</label>
                        <p-dropdown optionLabel="plotNumber" [options]="plotNumbers" optionValue="plotId"
                          [filter]="true" filterBy="plotNumber,villageName" formControlName="plotId"
                          placeholder="Select Plot" (onChange)="getPlotinfo($event.value)" [virtualScroll]="true"
                          [virtualScrollItemSize]="38" appendTo="body"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['plotId'].touched && FormControls['plotId'].errors }">
                          <ng-template let-plotNumber pTemplate="selectedItem">
                            <div>{{ plotNumber.plotNumber }} - {{ plotNumber.villageName }}</div>
                          </ng-template>
                          <ng-template let-plotNumber pTemplate="item">
                            <div class="block align-items-center gap-2">
                              <div>{{plotNumber.plotNumber}}</div>
                              <div>{{plotNumber.villageName}} </div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                        <span *ngIf="FormControls['plotId'].touched && FormControls['plotId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['plotId'].errors?.['required']">
                            Please Select Plot No.</div>
                        </span>
                      </div>
                    </div>
                  </p-fieldset>

                  <div class="grid">
                    <p-fieldset legend="Farmer Info" [toggleable]="true" class="col-12 md:col-5 mt-2 xs:col-12"
                      [transitionOptions]="'500ms'">
                      <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Crop:</label>
                          <p class="disabled_text">{{plotInfo.cropName}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Crop Type:</label>
                          <p class="disabled_text">{{plotInfo.cropTypeName}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Farmer Code:</label>
                          <p class="disabled_text">{{plotInfo.farmerCode}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Farmer Name:</label>
                          <p class="disabled_text">{{plotInfo.farmerName}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Father Name:</label>
                          <p class="disabled_text">{{plotInfo.fatherName}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Farmer Division:</label>
                          <p class="disabled_text">{{plotInfo.farmerDivisionName}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Farmer Circle:</label>
                          <p class="disabled_text">{{plotInfo.farmerCircleName}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Farmer Section:</label>
                          <p class="disabled_text">{{plotInfo.farmerSectionName}}</p>
                        </div>
                        <div class="field col-12 md:col-12 lg:col-6">
                          <label>Farmer Village:</label>
                          <p class="disabled_text">{{plotInfo.farmerVillageName}}</p>
                        </div>
                      </div>
                    </p-fieldset>
                    <p-fieldset legend="Plot Info" [toggleable]="true" class="col-12 md:col-7 mt-2 xs:col-12" [transitionOptions]="'500ms'">
                      <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Plot Division:</label>
                          <p class="disabled_text">{{plotInfo.plotDivisionName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Plot Circle:</label>
                          <p class="disabled_text">{{plotInfo.plotCircleName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Plot Section:</label>
                          <p class="disabled_text">{{plotInfo.plotSectionName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Plot Village:</label>
                          <p class="disabled_text">{{plotInfo.plotVillageName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Plant Type:</label>
                          <p class="disabled_text">{{plotInfo.plantTypeName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Planting Date:</label>
                          <p class="disabled_text">{{plotInfo.plantingDate| date: mediumDate}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Survey No:</label>
                          <p class="disabled_text">{{plotInfo.surveyNo}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Agreed Ton:</label>
                          <p class="disabled_text">{{plotInfo.agreedTon}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Variety:</label>
                          <p class="disabled_text">{{plotInfo.varietyName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Field Name:</label>
                          <p class="disabled_text">{{plotInfo.fieldName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>BIR Number:</label>
                          <p class="disabled_text">{{plotInfo.birNumber}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>BIR Date:</label>
                          <p class="disabled_text">{{plotInfo.birDate | date: mediumDate}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Reported Area:</label>
                          <p class="disabled_text">{{plotInfo.reportedArea}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Measured Area:</label>
                          <p class="disabled_text">{{plotInfo.farmerVillageName}}</p>
                        </div>
                        <div class="field col-12 md:col-6 lg:col-4">
                          <label>Plot Type:</label>
                          <p class="disabled_text">{{plotInfo.plotTypeName}}</p>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                  <p-fieldset legend="Agreement Info" [toggleable]="true" class="col-12 mt-2"
                    [transitionOptions]="'500ms'">
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-6 lg:col-3 ">
                        <label class="required">Agreement Area(Acre):</label>
                        <p-inputNumber placeholder="Enter Agreement Area" formControlName="agreementedArea"
                          mode="decimal" locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['agreementedArea'].touched && FormControls['agreementedArea'].errors }">
                        </p-inputNumber>
                        <span
                          *ngIf="FormControls['agreementedArea'].touched && FormControls['agreementedArea'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['agreementedArea'].errors?.['required']">
                            Please Select Agreement Area.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6 lg:col-3">
                        <label class="required">Agreement Date:</label>
                        <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999"
                          [defaultDate]="plotInfo.measuredDate!" [minDate]="plotInfo.measuredDate!"
                          [maxDate]="todayDate" formControlName="agreementDate"
                          placeholder="Please Select Agreement Date" appendTo="body"
                          [disabled]="!FormControls['plotId'].value"
                          [pTooltip]="!FormControls['plotId'].value ? 'Please Select Plot No First' : ''"
                          tooltipPosition="top"
                          [ngClass]="{ 'is-invalid ng-dirty': FormControls['agreementDate'].touched && FormControls['agreementDate'].errors }">
                        </p-calendar>
                        <span *ngIf="FormControls['agreementDate'].touched && FormControls['agreementDate'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['agreementDate'].errors?.['required']">
                            Please Select Agreement Date.</div>
                        </span>
                      </div>
                    </div>
                  </p-fieldset>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Nominee Details" class="line-height-3 m-0">
            <div class="flex flex-column  justify-content-center">
              <div class="grid">
                <div class="col-12">
                  <div class="p-fluid p-formgrid grid" formGroupName="nomineeInfo">
                    <div class="field col-12 md:col-4 ">
                      <label class="required">RelationShip Type:</label>
                      <p-dropdown placeholder="Enter RelationShip" optionLabel="name" [options]="relationTypes"
                        optionValue="lookupDetailId" appendTo="body" formControlName="relationTypeId"
                        [ngClass]="{ 'is-invalid ng-dirty': fcNomineeDetails.controls['relationTypeId'].touched && fcNomineeDetails.controls['relationTypeId'].errors }">
                      </p-dropdown>
                      <span
                        *ngIf="fcNomineeDetails.controls['relationTypeId'].touched && fcNomineeDetails.controls['relationTypeId'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="fcNomineeDetails.controls['relationTypeId'].errors?.['required']">
                          Please Select RelationShip.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4  ">
                      <label class="required">Nominee:</label>
                      <input pInputText #name type="text" placeholder="Enter Nominee" formControlName="nominee"
                        alphaOnly [maxlength]="maxLength.name"
                        [ngClass]="{ 'is-invalid ng-dirty': fcNomineeDetails.controls['nominee'].touched && fcNomineeDetails.controls['nominee'].errors }">
                      <div class="text-right">
                        <small>{{name.value.length}}/{{maxLength.name}}</small>
                      </div>
                      <span
                        *ngIf="fcNomineeDetails.controls['nominee'].touched && fcNomineeDetails.controls['nominee'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="fcNomineeDetails.controls['nominee'].errors?.['required']">
                          Please Select Nominee.</div>
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="fcNomineeDetails.controls['nominee'].errors?.['minlength']">
                          Nominee Min Length Is 2.</div>
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="fcNomineeDetails.controls['nominee'].errors?.['pattern']">Nominee
                          Should Start Or End With Space.
                        </div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4 ">
                      <label class="required">Guarantor1:</label>
                      <p-dropdown optionLabel="code" [options]="guarantor1Farmers" optionValue="code" [filter]="true"
                        filterBy="farmerName,code,villageName" formControlName="guarantor1" placeholder="Select Farmer"
                        [virtualScroll]="true" [virtualScrollItemSize]="30" appendTo="body"
                        (onChange)="getGuarantor2($event.value)"
                        [ngClass]="{ 'is-invalid ng-dirty': fcNomineeDetails.controls['guarantor1'].touched && fcNomineeDetails.controls['guarantor1'].errors }">
                        <ng-template let-farmer pTemplate="selectedItem">
                          <div>{{farmer.code}} - {{farmer.farmerName}}</div>
                        </ng-template>
                        <ng-template let-farmer pTemplate="item">
                          <div>{{farmer.code}}</div>
                          <div>{{farmer.farmerName}}</div>
                          <div>{{farmer.villageName}}</div>
                        </ng-template>
                      </p-dropdown>
                      <span
                        *ngIf="fcNomineeDetails.controls['guarantor1'].touched && fcNomineeDetails.controls['guarantor1'].invalid">
                        <div class="ng-invalid ng-touched p-error"
                          *ngIf="fcNomineeDetails.controls['guarantor1'].errors?.['required']">
                          Please Select Guarantor1.</div>
                      </span>
                    </div>
                    <div class="field col-12 md:col-4 ">
                      <label>Guarantor2:</label>
                      <p-dropdown optionLabel="code" [options]="guarantor2Farmers" optionValue="code" [filter]="true"
                        filterBy="farmerName,code,villageName" formControlName="guarantor2" placeholder="Select Farmer"
                        [virtualScroll]="true" [virtualScrollItemSize]="30" appendTo="body"
                        (onChange)="getGuarantor3Farmers($event.value)">
                        <ng-template let-farmer pTemplate="selectedItem">
                          <div>{{farmer.code}} - {{farmer.farmerName}}</div>
                        </ng-template>
                        <ng-template let-farmer pTemplate="item">
                          <div>{{farmer.code}}</div>
                          <div>{{farmer.farmerName}}</div>
                          <div>{{farmer.villageName}}</div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4  ">
                      <label>Guarantor3:</label>
                      <p-dropdown optionLabel="code" [options]="guarantor3Farmers" optionValue="code" [filter]="true"
                        filterBy="farmerName,code,villageName" formControlName="guarantor3" placeholder="Select Farmer"
                        [virtualScroll]="true" [virtualScrollItemSize]="30" appendTo="body"
                        (onChange)="onGuarantor3($event.value)">
                        <ng-template let-farmer pTemplate="selectedItem">
                          <div>{{farmer.code}} - {{farmer.farmerName}}</div>
                        </ng-template>
                        <ng-template let-farmer pTemplate="item">
                          <div>{{farmer.code}}</div>
                          <div>{{farmer.farmerName}}</div>
                          <div>{{farmer.villageName}}</div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Weedicide/Pest" class="line-height-3 m-0">
            <div class="flex flex-column  justify-content-center">
              <div class="grid">
                <div class="col-12">
                  <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>Inter Cropping:</label>
                      <p-dropdown optionLabel="name" optionValue="lookupDetailId" [options]="crops"
                        formControlName="interCropingId" [autoDisplayFirst]="false" placeholder="Select Inter Cropping">
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-3 ">
                      <label>Micronutrient Deficiency:</label><br>
                      <p-inputSwitch formControlName="hasMicroNutrientDeficiency"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-3 ">
                      <label>Trash Mulching:</label><br>
                      <p-inputSwitch formControlName="isTrashMulchingDone"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6  lg:col-3 ">
                      <label>Gap Filling Done:</label><br>
                      <p-inputSwitch formControlName="isGapsFillingDone"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>Weed Status:</label>
                      <p-dropdown optionLabel="name" [options]="weedStatus" optionValue="lookupDetailId"
                        formControlName="weedStatusId" [autoDisplayFirst]="false" placeholder="Select Weed Status">
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>Bio Fertilizer Applied Area(Acre):</label>
                      <p-inputNumber placeholder="Enter Bio Fertilizer Applied Area"
                        formControlName="bioFertilizersAppliedArea" mode="decimal" locale="en-IN"
                        [minFractionDigits]="2" [maxFractionDigits]="2">
                      </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>Deep Ploughed Area(Acre):</label>
                      <p-inputNumber placeholder="Enter Deep Ploughed Area" formControlName="deepPloughedArea"
                        mode="decimal" locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                      </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>De Trashing Area(Acre):</label>
                      <p-inputNumber placeholder="Enter De Trashing Area" formControlName="deTrashingArea"
                        mode="decimal" locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                      </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>Earthing Up Area(Acre):</label>
                      <p-inputNumber placeholder="Enter Earthing Up Area" formControlName="earthingUpArea"
                        mode="decimal" locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                      </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>Ratoon Managed Used Area(Acre):</label>
                      <p-inputNumber placeholder="Enter Ratoon Managed Used Area"
                        formControlName="ratoonManagedUsedArea" mode="decimal" locale="en-IN" [minFractionDigits]="2"
                        [maxFractionDigits]="2">
                      </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>TrashShedder Area(Acre):</label>
                      <p-inputNumber placeholder="Enter TrashShedder Area" formControlName="trashShedderArea"
                        mode="decimal" locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                      </p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6 lg:col-4 ">
                      <label>LoadShedder Area(Acre):</label>
                      <p-inputNumber placeholder="Enter LoadShedder Area" formControlName="loadShedderArea"
                        mode="decimal" locale="en-IN" [minFractionDigits]="2" [maxFractionDigits]="2">
                      </p-inputNumber>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p-tabView orientation="left" [(activeIndex)]="activeIndex1!">
              <p-tabPanel header="Weedicide">
                <div class="grid col-12">
                  <div formArrayName='weedicides' class="checkboxList grid">
                    <ng-container *ngIf="this.fbPlotAgreement.controls['weedicides'] as formArray">
                      <div *ngFor="let item of getFormArrayControl('weedicides').controls; let i = index" class="col-3">
                        <div [formGroupName]="i" style="padding-left:unset" class="capitalize form-control">
                          <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                          </p-inputSwitch>
                          <label for="ny" class="ml-2 vertical-align-top">{{item.value.weedicideName}}</label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Pests" class="col-12">
                <div class="col-12">
                  <div formArrayName='pests' class="checkboxList">
                    <p-table #dt2 dataKey="id" [value]="getFormArrayControl('pests').controls" [rows]="10"
                      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                      [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: '100%'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Identified Date</th>
                          <th>Control Date</th>
                          <th>Remarks</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pestControl let-i="rowIndex">
                        <tr [formGroupName]="i">
                          <td>
                            <div class="font-bold">
                              {{pestControl.get('pestName').value}}
                            </div>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder=" Please Select Identified Date" formControlName="identifiedDate">
                            </p-calendar>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder=" Please Select Control Date" formControlName="controlDate">
                            </p-calendar>
                          </td>
                          <td>
                            <input pInputText formControlName="remarks">
                          </td>
                        </tr>

                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="8">No customers found.</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="Fertilizer/Disease" class="line-height-3 m-0">
            <p-tabView orientation="left" [(activeIndex)]="activeIndex2!">
              <p-tabPanel header="Fertilizers " class="col-12">
                <div class="grid col-12">
                  <div formArrayName='fertilizers' class="checkboxList grid">
                    <ng-container *ngIf="this.fbPlotAgreement.controls['fertilizers'] as formArray">
                      <div *ngFor="let item of getFormArrayControl('fertilizers').controls; let i = index"
                        class="col-3">
                        <div [formGroupName]="i" style="padding-left:unset">
                          <p-inputSwitch [(ngModel)]="item.value.checked!" [ngModelOptions]="{standalone: true}">
                          </p-inputSwitch>
                          <label for="ny" class="ml-2 vertical-align-top">{{item.value.fertilizerName}}</label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Diseases" class="col-12">
                <div class="col-12">
                  <div formArrayName='diseases' class="checkboxList">
                    <p-table #dt2 dataKey="id" [value]="getFormArrayControl('diseases').controls" [rows]="10"
                      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                      [paginator]="false" [autoLayout]="true" responsiveLayout="scroll"
                      [rowsPerPageOptions]="[10,25,50]">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Name</th>
                          <th>Identified Date</th>
                          <th>Control Date</th>
                          <th>Remarks</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-diseaseControl let-i="rowIndex">
                        <tr [formGroupName]="i">
                          <td>
                            <div class="font-bold">
                              {{diseaseControl.get('diseaseName').value}}
                            </div>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder="Please Select Identified Date" formControlName="identifiedDate">
                            </p-calendar>
                          </td>
                          <td>
                            <p-calendar [readonlyInput]="true" [showIcon]="true" mask="99/99/9999" appendTo="body"
                              placeholder="Please Select Control Date" formControlName="controlDate">
                            </p-calendar>
                          </td>
                          <td>
                            <input pInputText formControlName="remarks">
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
        </p-tabView>
      </form>
      <ng-template pTemplate="footer">
        <div class="col-12">
          <div class="col-4" style="float:right">
            <button pButton pRipple type="submit" label="{{submitLabel}}" class="p-button-raised p-button-success"
              [disabled]="fbPlotAgreement.invalid" (click)="onSubmit()"></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>

    <!-- table -->
    <p-table #dtPlotAgreements [value]="plotAgreements" [columns]="farmerHeaders" dataKey="farmerCode" [rows]="10"
      [rowHover]="true" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [alwaysShowPaginator]="false" [globalFilterFields]="globalFilterFields" [autoLayout]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}"
      (onRowExpand)="onRowExpand($event)">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dtPlotAgreements)"></button>
          <div>
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" #filter (input)="onSearch()" placeholder="Search Keyword"
                pTooltip="Search By Farmer Code, Farmer Name, Village Name, Plot No" class="w-full" />
            </span>
            <p-dropdown class="ml-2" placeholder="Select Season" optionLabel="code" [options]="seasons"
              [(ngModel)]="currentSeason.seasonId" (onChange)="initPlotAgreements($event.value)" optionValue="seasonId">
            </p-dropdown>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th *ngFor="let col of farmerHeaders" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-farmer let-rowIndex="rowIndex" let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="farmer"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td *ngFor="let col of farmerHeaders">{{farmer[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-farmer>
        <tr>
          <td colspan="6">
            <div class="p-3">
              <p-table [value]="farmer.objAgreementedPlots" [columns]="plotHeaders" dataKey="plotOfferId"
                [tableStyle]="{ width: 'min-content'}"
                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
                <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th *ngFor="let col of plotHeaders">
            {{col?.label}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plotAgreement>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" (click)="editPlotAgreement(plotAgreement)"
              class="p-element p-ripple p-button-text p-button p-component"
              [disabled]="!permissions.CanUpdatePlotAgreement"></button>
          </td>
          <td *ngFor="let col of plotHeaders">
            <span
              *ngIf="col?.field != 'plantingDate' && col?.field != 'agreementedDate'">{{plotAgreement[col.field]}}</span>
            <span *ngIf="col?.field == 'plantingDate' || col?.field == 'agreementedDate'">
              {{plotAgreement[col.field] | date: 'dd-MM-yyyy'}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="md:text-center m-5" colspan="13">There Are No Agreements Found Yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="md:text-center m-5" colspan="6">No Agreements Found.</td>
    </tr>
  </ng-template>
  </p-table>

</div>
</div>
