<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Ware Houses</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Ware House" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="addwarehouse()" *ngIf="permissions.CanCreateWareHouse"></button>
      </ng-template>
    </p-toolbar>

    <!-- table -->
    <p-table #dtWareHouses [value]="warehouses" dataKey="id" [rows]="10" [rowHover]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Entries " [showCurrentPageReport]="true"
      [alwaysShowPaginator]="false" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm pb-5"
      [paginator]="true" [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dtWareHouses)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dtWareHouses, $event)"
              placeholder="Search Keyword" class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="permissions.CanUpdateWareHouse"></th>
          <th *ngFor="let col of headers" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-warehouse>
        <tr>
          <td *ngIf="permissions.CanUpdateWareHouse"><button pButton pRipple icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component" (click)="editWarehouse(warehouse)"></button>
          </td>
          <td *ngFor="let col of headers" [ngClass]="col?.field == 'isActive' ? 'text-center' : ''">
            <span
              *ngIf="col?.field != 'createdAt' && col?.field != 'updatedAt' && col?.field != 'isActive'">{{warehouse[col.field]}}</span>
            <span *ngIf="col?.field == 'createdAt' || col?.field == 'updatedAt'">
              {{warehouse[col.field] | date: mediumDate}}
            </span>
            <span *ngIf="col?.field == 'isActive'">
              <p-checkbox name="active" value="active" [binary]="true" [(ngModel)]="warehouse[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="50%" class="md:text-center m-5">No Ware Houses Found.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- dialog box -->
    <p-dialog header="Ware House" [(visible)]="showDialog" [modal]="true" showEffect="fade"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [style]="{ width: '40vw' }" (onHide)="fbwarehouse.reset()">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbwarehouse" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label class="required">Code:</label>
                  <input pInputText id="code" type="text" #code placeholder="Enter Code" formControlName="code"
                    alphaNumeric [maxlength]="10"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                    <!-- [attr.disabled]="this.fbwarehouse.value.id" -->
                  <div class="text-right">
                    <small>{{code.value.length}}/10</small>
                  </div>
                  <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                      Please Enter Code.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                      Code Min Length Is 2 .</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                      Code Max Length Is 20.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                      Code Should Contains Only Alpha Numeric.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label class="required">Name:</label>
                  <input pInputText id="name" #name type="text" placeholder="Enter Name" formControlName="name"
                    alphaOnly [maxlength]="maxLength.name"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                  <div class="text-right">
                    <small>{{name.value.length}}/{{maxLength.name}}</small>
                  </div>
                  <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                      Please Enter Name.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['minlength']">
                      Name Min Characters Is 2.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                      Name Should Contains Only Alphabets.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>GL Code:</label>
                  <input pInputText id="glcode" #glcode type="text" placeholder="Enter GL Code" formControlName="glcode"
                    alphaNumeric [maxlength]="10"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['glcode'].touched && FormControls['glcode'].errors }">
                  <div class="text-right">
                    <small> {{glcode.value.length}}/10 </small>
                  </div>
                  <span *ngIf="FormControls['glcode'].touched && FormControls['glcode'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['glcode'].errors?.['pattern']">
                      GL Code Contains Only Alphabets And Integers.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Sub GL Code:</label>
                  <input pInputText id="subGlcode" #subGlcode type="text" placeholder="Enter Sub GL Code"
                    formControlName="subGlcode" alphaNumeric [maxlength]="20"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['subGlcode'].touched && FormControls['subGlcode'].errors }">
                  <div class="text-right">
                    <small> {{subGlcode.value.length}}/10 </small>
                  </div>
                  <span *ngIf="FormControls['subGlcode'].touched && FormControls['subGlcode'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['subGlcode'].errors?.['pattern']">
                      Sub GLCode Contains Only Alphabets And Integers.</div>
                  </span>
                </div>
                <div class="col-12 md:col-6">
                  <label>Is Active:</label><br /><br />
                  <p-inputSwitch formControlName="isActive"> </p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float: right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
            [disabled]="fbwarehouse.invalid" (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

  </div>
</div>
