<div class="col-12">
  <div class="card">

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Ware House</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Ware House" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="addwarehouse()"></button>
      </ng-template>
    </p-toolbar>

    <!-- table -->
    <p-table #dt1 [value]="warehouses" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="['name','country.name','representative.name','status']" [autoLayout]="true"
      responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>
            WareHouse code <p-sortIcon></p-sortIcon>
          </th>
          <th>
            WareHouse Name <p-sortIcon></p-sortIcon>
          </th>
          <th>
            GL Code <p-sortIcon></p-sortIcon>
          </th>
          <th>
          Sub GL Code <p-sortIcon></p-sortIcon>
          </th>
          <th style="text-align:center">
            Is Active
          </th>
          <th>
            updatedAt<p-sortIcon></p-sortIcon>
          </th>
          <th>
            createdAt <p-sortIcon></p-sortIcon>
          </th>
          <th>
            updatedByUser <p-sortIcon></p-sortIcon>
          </th>
          <th>
            createdByUser <p-sortIcon></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-warehouses>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
            (click)="editWarehouse(warehouses)"></button></td>
          <td>{{warehouses.code}}</td>
          <td>{{warehouses.name}}</td>
          <td>{{warehouses.glcode}}</td>
          <td>{{warehouses.subGlcode}}</td>
          <td style="text-align:center">
            <p-checkbox name="active" value="active" [(ngModel)]="warehouses.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{warehouses.updatedAt }}</td>
          <td>{{warehouses.createdAt}}</td>
          <td>{{warehouses.updatedByUser }}</td>
          <td>{{warehouses.createdByUser}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="14">No diesel bunk found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="14">Loading diesel bunk data. Please wait.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- dialog box -->
    <p-dialog header="Ware House" [(visible)]="showDialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" (onHide)="fbwarehouse.reset()">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbwarehouse" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label>Code:<sup class="p-error">*</sup></label>
                  <input pInputText id="code" type="text" formControlName="code" 

                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                 <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                      <div class="ng-invalid ng-touched p-error"
                          *ngIf="FormControls['code'].errors?.['required']">Please Enter Code.</div>

                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="FormControls['code'].errors?.['pattern']">Code should only contain Numbers .</div>
                  </span>

                </div>
                <div class="field col-12 md:col-6">
                  <label>Name:<sup class="p-error">*</sup></label>
                  <input pInputText id="name" type="text" formControlName="name"
                  
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                  <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                       <div class="ng-invalid ng-touched p-error"
                           *ngIf="FormControls['name'].errors?.['required']">Please Enter Name.</div>
 
                           <div class="ng-invalid ng-touched p-error"
                             *ngIf="FormControls['name'].errors?.['pattern']">Name should only contain Alphabets .</div>
                   </span>
 
                </div>
               
                <div class="field col-12 md:col-6">
                  <label>GLCode:</label>
                  <input pInputText id="gLcode" type="text" formControlName="glcode"
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['glcode'].touched && FormControls['glcode'].errors }">
                  <span *ngIf="FormControls['glcode'].touched && FormControls['glcode'].invalid">
                       <div class="ng-invalid ng-touched p-error"
                           *ngIf="FormControls['glcode'].errors?.['required']">Please Enter GLCode.</div>
 
                           <div class="ng-invalid ng-touched p-error"
                             *ngIf="FormControls['glcode'].errors?.['pattern']">GLCode should only contain Numbers .</div>
                   </span>
 
                  
                </div>
                <div class="field col-12 md:col-6">
                  <label>SubGLCode:</label>
                  <input pInputText id="subGlcode" type="text" formControlName="subGlcode"
                  
                  [ngClass]="{ 'is-invalid ng-dirty': FormControls['subGlcode'].touched && FormControls['subGlcode'].errors }">
                  <span *ngIf="FormControls['subGlcode'].touched && FormControls['subGlcode'].invalid">
                       <div class="ng-invalid ng-touched p-error"
                           *ngIf="FormControls['subGlcode'].errors?.['required']">Please Enter SubGLCode.</div>
 
                           <div class="ng-invalid ng-touched p-error"
                             *ngIf="FormControls['subGlcode'].errors?.['pattern']">SubGLCode should only contain Numbers .</div>
                   </span>
                </div>
               

                <div class="col-12 md:col-6">
                  <label>Is Active?:<sup class="p-error">*</sup></label><br><br>
                  <p-inputSwitch formControlName="isActive">
                  </p-inputSwitch>
                
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">  
        <div class="col-4" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-success"
            (click)="onSubmit()"></button>
        </div>     
      </ng-template>
    </p-dialog>

  </div>
</div>
