<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>
    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Ware Houses</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="New Ware House"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="addwarehouse()"
        ></button>
      </ng-template>
    </p-toolbar>

    <!-- table -->
    <p-table #dt1 [value]="warehouses" dataKey="id" [rows]="10"  [rowHover]="true"
    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
    [globalFilterFields]="[
    'code',
    'name',
    'glcode',
    'subGlcode',
  'createdAt' ,
   'createdByUser',
  'updatedAt',
   'updatedByUser',]" [autoLayout]="true" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'autoLayout'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button
            pButton
            label="Clear"
            class="p-button-outlined mb-2"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              #filter
              (input)="onGlobalFilter(dt1, $event)"
              placeholder="Search Keyword"
              class="w-full"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>

          <th pSortableColumn="code">
           Code<p-columnFilter
              type="text"
              field="code"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="name">
           Name<p-columnFilter
              type="text"
              field="name"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="glcode">
            GL Code<p-columnFilter type="text" field="glcode" display="menu">
            </p-columnFilter>
            <p-sortIcon field="glcode"></p-sortIcon>
          </th>
          <th pSortableColumn="subGlcode">
            Sub GL Code<p-columnFilter
              type="text"
              field="subGlcode"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="subGlcode"></p-sortIcon>
          </th>

          <th pSortableColumn="isActive">
            Is Active<p-columnFilter
              type="text"
              field="isActive"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="subGlcode"></p-sortIcon>
          </th>

          <th pSortableColumn="updatedAt">
            Created Date<p-columnFilter
              type="text"
              field="updatedAt"
              display="menu"
            >
            </p-columnFilter>

            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created By<p-columnFilter
              type="text"
              field="createdAt"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">
            Updated Date<p-columnFilter
              type="text"
              field="updatedBy"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedByUser">
            Updated By<p-columnFilter
              type="text"
              field="updatedByUser"
              display="menu"
            >
            </p-columnFilter>
            <p-sortIcon field="createdBy"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-warehouse>
        <tr>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component"
              (click)="editWarehouse(warehouse)"
            ></button>
          </td>
          <td>{{ warehouse.code }}</td>
          <td>{{ warehouse.name }}</td>
          <td>{{ warehouse.glcode }}</td>
          <td>{{ warehouse.subGlcode }}</td>
          <td style="text-align: center">
            <p-checkbox
              name="active"
              value="active"
              [(ngModel)]="warehouse.isActive"
              [binary]="true"
              [disabled]="true"
            >
            </p-checkbox>
          </td>
          <td>{{ warehouse.createdAt | date : mediumDate }}</td>
          <td>{{ warehouse.createdByUser }}</td>
          <td>{{ warehouse.updatedAt | date : mediumDate }}</td>
          <td>{{ warehouse.updatedByUser }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="50%" class="md:text-center">No WareHouse  Found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td class="md:text-center" colspan="50%">Loading... WareHouse Data Please Wait.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- dialog box -->
    <p-dialog
      header="Ware House"
      [(visible)]="showDialog"
      [modal]="true"
      showEffect="fade"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '40vw' }"
      (onHide)="fbwarehouse.reset()"
    >
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbwarehouse" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">

                  <label>Code:<sup class="p-error">*</sup></label>
                  <input pInputText id="code" type="text" #code placeholder="Enter Code" formControlName="code"
                    alphaNumeric [readonly]="fbwarehouse.value.id" [maxlength]="20"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                  <div class="text-right">
                    <small>{{code.value.length}}/20</small>
                  </div>
                  <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['required']">
                      Please Enter Code.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['minlength']">
                      Code Min Length Is 2 .</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['maxlength']">
                      Code Max Length Is 20.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['code'].errors?.['pattern']">
                      Code Should Contains Only Alpha Numeric.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Name:<sup class="p-error">*</sup></label>
                  <input pInputText id="name" #name type="text" placeholder="Enter Name" formControlName="name"
                    alphaOnly [maxlength]="maxLength.name"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                  <div class="text-right">
                    <small>{{name.value.length}}/{{maxLength.name}}</small>
                  </div>
                  <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['required']">
                      Please Enter Name.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['minlength']">
                      Name Min Characters Is 2.</div>
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['name'].errors?.['pattern']">
                      Name Should Contains Only Alphabets.</div>
                  </span>
                </div>

                <div class="field col-12 md:col-6">
                  <label>GL Code:</label>
                  <input pInputText id="glcode" #glcode type="text" placeholder="Enter GL Code" formControlName="glcode"
                    alphaNumeric [maxlength]="20"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['glcode'].touched && FormControls['glcode'].errors }">
                  <div class="text-right">
                    <small> {{glcode.value.length}}/20 </small>
                  </div>
                  <span *ngIf="FormControls['glcode'].touched && FormControls['glcode'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['glcode'].errors?.['pattern']">
                      GL Code Contains Only Alphabets And Integers.</div>
                  </span>
                </div>

                <div class="field col-12 md:col-6">
                  <label>Sub GL Code:</label>
                  <input pInputText id="subGlcode" #subGlcode type="text" placeholder="Enter Sub GL Code"
                    formControlName="subGlcode" alphaNumeric [maxlength]="20"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['subGlcode'].touched && FormControls['subGlcode'].errors }">
                  <div class="text-right">
                    <small> {{subGlcode.value.length}}/20 </small>
                  </div>
                  <span *ngIf="FormControls['subGlcode'].touched && FormControls['subGlcode'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['subGlcode'].errors?.['pattern']">
                      Sub GLCode Contains Only Alphabets And Integers.</div>
                  </span>
                </div>

                <div class="col-12 md:col-6">
                  <label>Is Active?:<sup class="p-error">*</sup></label
                  ><br /><br />
                  <p-inputSwitch formControlName="isActive"> </p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float: right">
          <button
            pButton
            pRipple
            type="submit"
            [label]="submitLabel"
            class="p-button-raised p-button-success"
            [disabled]="fbwarehouse.invalid" (click)="onSubmit()"
          ></button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>
