<div class="col-12">
    <div class="card">
        <!-- dailog box -->
        <p-dialog header="Mandal" [(visible)]="display" showEffect="fade" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
            [style]="{width: '40vw'}">
            <div class="flex flex-column align-items-center justify-content-center">
                <form [formGroup]="fbmandals" (ngSubmit)="onSubmit()">
                    <div class="grid">
                        <div class="col-12 ">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12 ">
                                    <label>Code:<sup class="p-error">*</sup></label>&nbsp;
                                    <input pInputText id="code" type="text" formControlName="code"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['code'].touched && FormControls['code'].errors }">
                                    <span *ngIf="FormControls['code'].touched && FormControls['code'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['code'].errors?.['required']">Please Enter Code.</div>
                                            
                                            <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['code'].errors?.['pattern']">Code Should Only Contain Names & Numbers
											</div>
                                    </span>
                                </div>
                                <div class="col-12 ">
                                    <label>Name:<sup class="p-error">*</sup></label>&nbsp;
                                    <input pInputText id="name" type="text" formControlName="name"
                                        [ngClass]="{ 'is-invalid  ng-dirty': FormControls['name'].touched && FormControls['name'].errors }">
                                    <span *ngIf="FormControls['name'].touched && FormControls['name'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['name'].errors?.['required']">Please Enter Name.</div>

                                            <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['name'].errors?.['pattern']">Name Should Only Contain Alphabets .</div>
                                    </span>
                                </div>
                                <div class=" col-12 ">
                                    <label>District:<sup class="p-error">*</sup></label>&nbsp;
                                    <p-dropdown [options]="district" optionLabel="districtName" formControlName="districtId"
                                        optionValue="districtId"
                                        [ngClass]="{ 'is-invalid ng-dirty': FormControls['districtId'].touched && FormControls['districtId'].errors }"></p-dropdown>
                                    <span *ngIf="FormControls['districtId'].touched && FormControls['districtId'].invalid">
                                        <div class="ng-invalid ng-touched p-error"
                                            *ngIf="FormControls['districtId'].errors?.['required']">Please Select State.
                                        </div>

                                    </span>
                                   
                                </div>
                                <div class=" col-12 ">
                                    <label>Is Active?:<sup class="p-error">*</sup></label><br>
                                    &nbsp;<p-inputSwitch formControlName="isActive"></p-inputSwitch>
                                    <div *ngIf="FormControls['isActive'].invalid &&  FormControls['isActive'].touched"
                                    class="error-message p-error">
                                     Please Active
                                </div>
                                
                                </div>
                                <div class=" col-12 ">
                                    <button pButton pRipple type="submit" label="{{submitLabel}}"
                                        class="p-button-raised p-button-success"></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </p-dialog>

        <!-- toolbar -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Mandals</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="New Mandals" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="InitMandal();"></button>
            </ng-template>
        </p-toolbar>

        <!-- table -->
        <p-table #dt1 [value]="mandals" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
            [globalFilterFields]="['mandalId','mandalCode','mandalName','districtId','districtName',
            'createdBy','updatedBy','createdAt','updatedAt']" [autoLayout]="true"
            responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th pSortableColumn="mandalId">Mandal Id<p-columnFilter type="text" field="mandalId"
                        display="menu"></p-columnFilter><p-sortIcon field="mandalId"></p-sortIcon>
                    </th>
                    <th pSortableColumn="mandalCode"> Mandal Code <p-columnFilter type="text" field="mandalCode"
                        display="menu"></p-columnFilter><p-sortIcon field="mandalCode"></p-sortIcon>
                    </th>
                    <th pSortableColumn="mandalName"> Mandal Name <p-columnFilter type="text" field="mandalName"
                        display="menu"></p-columnFilter><p-sortIcon field="mandalName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="districtId">District Id<p-columnFilter type="text" field="districtId"
                        display="menu"></p-columnFilter><p-sortIcon field="districtId"></p-sortIcon>
                    </th>
                    <th pSortableColumn="districtName">District Name<p-columnFilter type="text" field="districtName"
                        display="menu"></p-columnFilter><p-sortIcon field="districtName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="isActive"> Is Active<p-sortIcon field="isActive"></p-sortIcon>
                    </th>
                    <th pSortableColumn="createdBy">Created By <p-columnFilter type="text" field="createdBy"
                        display="menu"></p-columnFilter><p-sortIcon field="createdBy"></p-sortIcon>
                    </th>
                    <th pSortableColumn="updatedBy">Updated By <p-columnFilter type="text" field="updatedBy"
                        display="menu"></p-columnFilter><p-sortIcon field="updatedBy"></p-sortIcon>
                    </th>
                    <th pSortableColumn="createdAt"> Created At <p-columnFilter type="text" field="createdAt"
                        display="menu"></p-columnFilter><p-sortIcon field="createdAt"></p-sortIcon>
                    </th>
                    <th pSortableColumn="updatedAt" > Updated At<p-columnFilter type="text" field="updatedAt"
                        display="menu"></p-columnFilter><p-sortIcon field="updatedAt"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mandal>
                <tr>
                    <td><button pButton pRipple icon="pi pi-pencil"
                            class="p-element p-ripple p-button-text p-button p-component"
                            (click)="editProduct(mandal)"></button></td>
                    <td>{{mandal.mandalId}}</td>
                    <td>{{mandal.mandalCode}}</td>
                    <td>{{mandal.mandalName}}</td>
                    <td>{{mandal.districtId}}</td>
                    <td>{{mandal.districtName}}</td>
                    <td style="text-align:center">
                        <p-checkbox name="active" value="active" [(ngModel)]="mandal.isActive" [binary]="true" [disabled]="true">
                        </p-checkbox>
                      </td>
                    <td>{{mandal.createdBy}}</td>
                    <td>{{mandal.updatedBy}}</td>
                    <td>{{mandal.createdAt}}</td>
                    <td>{{mandal.updatedAt}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Mandals found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading Mandals data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>