<div class="col-12">
    <div class="card">
        <p-dialog header="Mandal" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}">
            <div class="flex flex-column align-items-center justify-content-center">
                <div class="grid">
                    <div class="col-12 ">
                        <div class="p-fluid p-formgrid grid">
                            <div class="col-12 ">
                                <label>Code:</label>&nbsp;
                                <input pInputText id="code" type="text">
                            </div>
                            <div class="col-12 ">
                                <label>Name:</label>&nbsp;
                                <input pInputText id="name" type="text">
                            </div>
                            <div class=" col-12 ">
                                <label>State:</label>&nbsp;
                                <p-dropdown [options]="dropdownItems" optionLabel="name"></p-dropdown>
                            </div>
                            <div class=" col-12 ">
                                <label>Is Active?:</label><br>
                                &nbsp;<p-inputSwitch [(ngModel)]="valSwitch"></p-inputSwitch>
                            </div>
                            <div class=" col-12 ">
                                <button pButton pRipple type="button" label="Success"
                                    class="p-button-raised p-button-success"></button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </p-dialog>
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h4>Mandals</h4>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="New Mandals" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="display = true"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt1 [value]="customers1" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-striped p-datatable-md" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                            placeholder="Search Keyword" class="w-full" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="width:200px">
                        <p-sortIcon field="name"></p-sortIcon>Name
                    </th>
                    <th pSortableColumn="id" style="width:200px">Id<p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="country.name" style="width:200px">Country <p-sortIcon field="cpuntry.name">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="date" style="width:200px" style="width:200px">Date <p-sortIcon field="date">
                        </p-sortIcon>
                    </th>

                    <th pSortableColumn="representative.name" style="width:200px">
                        <p-sortIcon field="represtative.name"></p-sortIcon>Representative
                    </th>
                    <th pSortableColumn="balance" style="width:200px" pFrozenColumn alignFrozen="right">
                        <p-sortIcon field="balance"></p-sortIcon>Balance
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td style="width:200px">{{customer.name}}</td>
                    <td style="width:200px">{{customer.id}}</td>
                    <td style="width:200px">
                        <span class="image-text ml-2">{{customer.country.name}}</span>
                    </td>
                    <td style="width:200px">{{customer.date}}</td>

                    <td style="width:200px">
                        <span class="image-text ml-2">{{customer.representative.name}}</span>
                    </td>
                    <td style="width:200px" pFrozenColumn class="font-bold" alignFrozen="right">
                        {{formatCurrency(customer.balance)}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>