/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

//@import "assets/layout/styles/theme/vela-orange/theme.css";
$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

.user_name {
  color: white;
  margin: 9px !important;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0px;
}

.p-dialog .p-dialog-header {
  background-color: var(--surface-ground);
}

.p-dialog .p-dialog-footer {
  background-color: var(--surface-ground);
  padding: 0px;
  // height: calc(100vh - 100px);
  display: block;
  // width: 800px;
}

.p-dialog .p-dialog-content {
  padding-top: 10px;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0px;
}

// .tabview-custom{
//   width: calc(70vw - 120px);
// }

div.season-rates-tab-items {
  padding-top: 60px;
  margin-bottom: -50px;
}

div.season-rates-tab-items:not(:first-child) {
  padding-top: 5px;
  margin-bottom: -50px;
}

.progress-spinner {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}
.p-datatable-table {
  min-width:100% !important;
}
::ng-deep div.ui-datepicker .ui-timepicker{
  padding:initial;
  font-size:smaller;
}
.p-datepicker table td > span{
  width:1.5rem;
  height:1.5rem;
}
.p-datepicker table td{
  padding:1px;
}
.p-datepicker .p-datepicker-header{
  padding:2px;
}
.p-datepicker table{
  margin:1px 0;
}
.w-100{
  width:100% !important;
}
.scrolling{
  overflow: scroll;
}
.p-inputtextarea{
  resize: vertical;
} 
:host ::ng-deep .ui-tree {
  border: 1px solid #adabab;
  border-radius: 0px 5px 5px 0px;
  background-color: rgba(0, 0, 0, 0.38);
  color: #eaeaea;
  padding: 0em 0em;
  padding-right: 5px;
  width: 22em; /* This constrains the width and creates the horizontal scrollbar when a p-tree node is expanded past this width. */
  line-height: 15px !important;
  max-height: 75vh;
  overflow: overlay; /* Changed from auto to overlay */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* This creates the horizontal scrollbar visible on top of the inner divs */
:host ::ng-deep .ui-tree .ui-tree-container {
  overflow: initial;
}



/* This keeps a margin between horizontal overflow and the vertical scrollbar. Without it content would be hidden behind the scrollbar */
:host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
  margin-right: 10px;
}

.width_min{
  min-width:500px;
}

.table-fixed.p-datatable .p-datatable-wrapper table.p-datatable-table:not(.p-datatable-tbody tr td .p-datatable table.p-datatable-table){
  table-layout: fixed !important;
}

.p-datatable-gridlines.p-datatable .p-datatable-wrapper  button.p-button.p-button-icon-only{
  height: auto !important;
  padding: 1px !important;
  width:auto !important;

}

.note{
  text-align: left;
  color: rgb(85, 85, 255);
  font-size:12px;
  padding:10px;
}
.sQuestion{
  float:right;
}
.head_note{
  color:orange;
}
::ng-deep p-calendar .p-calendar .p-datepicker .p-yearpicker .p-yearpicker-year {
  width:33.3% !important;
}
.theme_drop > .p-dropdown{
  width:100%;
}