
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden" style="background-image:url('assets/layout/images/bg.png'); background-size: cover;">
    <div class="flex flex-column align-items-center " >
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" alt="Madhucon logo" class="mb-5 w-100per flex-shrink-0" style="margin:20px;">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(124,173,91,1) 0%, rgba(251,251,251,0) 60%);">

            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">


                    <span class="text-600 font-medium">Sign in to Continue</span>
                </div>

                <div>
                    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem " style="padding:1rem"  formControlName="UserName">
                    <div [hidden]="loginForm.controls['UserName'].valid || !loginForm.controls['UserName'].dirty"
                        class="error-message p-error">
                        Enter Email ID
                      </div>

                    <label for="Password1" class="block text-900 font-medium text-xl mb-2 mt-5"  >Password</label>
                    <input id="Password1" type="password" placeholder="Password" pInputText class="w-full md:w-30rem " style="padding:1rem"  formControlName="Password">
                    <!-- <p-password id="Password1"  placeholder="Password" [toggleMask]="true" formControlName="Password" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password> -->
                    <div [hidden]="loginForm.controls['Password'].valid || !loginForm.controls['Password'].dirty"
                        class="error-message p-error">
                        Enter Password
                      </div>
                    <div class="ui-grid-col-4">
                        <!-- <div [hidden]="loginForm.controls['Password'].valid || !loginForm.controls['Password'].dirty" class="alert alert-danger">
                            Password is required
                        </div> -->
                    </div>
                    <div class="flex align-items-center justify-content-between mb-5 mt-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" routerLink="forgotpassword">Forgot Password?</a>
                    </div>
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" type="submit" [disabled]="submitted ? true : false" ></button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
