<div class="col-12">
  <div class="card">

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Distance Rate</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Distance Rate" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addDistanceRate()"></button>
      </ng-template>
    </p-toolbar>

    <!-- toolbar -->
    <!-- <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <div class="p-fluid p-formgrid grid">
          <div class="field  md:col-3 col-12">
            <label>UpTo KM:</label>
            <input pInputText type="text">
          </div>
          <div class="field  md:col-3 col-12">
            <label>UpTo KM Rate():</label>
            <input pInputText type="text">
          </div>
          <div class="field  md:col-3 col-12">
            <label>To KM:</label>
            <input pInputText type="text">
          </div>
          <div class="field  md:col-3 col-12">
            <label>One KM Rate():</label>
            <input pInputText type="text">
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <label>Proess</label>
        <button pButton pRipple label="Proess" class="p-button-success p-mr-2"></button>
      </ng-template>
    </p-toolbar> -->

    <!-- filter -->
    <div class="p-fluid p-formgrid grid mt-2">
      <div class="field xl:col-2 md:col-3 col-12">
        <label>UpTo KM:</label>
        <input pInputText type="text">
      </div>
      <div class="field xl:col-2 md:col-3 col-12">
        <label>UpTo KM Rate(₹):</label>
        <input pInputText type="text">
      </div>
      <div class="field xl:col-2 md:col-3 col-12">
        <label>To KM:</label>
        <input pInputText type="text">
      </div>
      <div class="field xl:col-2 md:col-3 col-12">
        <label>One KM Rate(₹):</label>
        <input pInputText type="text">
      </div>
      <div class="field xl:col-2 md:col-3 col-12">
        <label>Process:</label>
        <button pButton pRipple label="Process" class="p-button-success p-mr-2"></button>
      </div>
    </div>

    <!-- table -->
    <p-table #dt1 [value]="distanceRates" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="distance">
            Distance(KM) <p-columnFilter type="text" field="distance" display="menu"></p-columnFilter>
            <p-sortIcon field="distance"></p-sortIcon>
          </th>
          <th pSortableColumn="rate">
            Rate <p-columnFilter type="text" field="rate" display="menu"></p-columnFilter>
            <p-sortIcon field="rate"></p-sortIcon>
          </th>
          <th pSortableColumn="isActive">
            Is Active <p-columnFilter type="text" field="isActive" display="menu"></p-columnFilter>
            <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created Date <p-columnFilter type="text" field="createdAt" display="menu"></p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy">
            Created By <p-columnFilter type="text" field="createdBy" display="menu"></p-columnFilter>
            <p-sortIcon field="createdBy"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">
            Updated Date <p-columnFilter type="text" field="updatedAt" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedBy">
            Updated By <p-columnFilter type="text" field="updatedBy" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedBy"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-distance>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-element p-ripple p-button-text p-button p-component"
              (click)="editDistanceRate(distance)"></button></td>
          <td>{{distance.distance}}</td>
          <td>{{distance.rate}}</td>
          <td style="text-align:center">
            <p-checkbox name="active" value="active" [(ngModel)]="distance.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{distance.createdAt | date: 'dd-MMM-yyyy'}}</td>
          <td>{{distance.createdBy}}</td>
          <td>{{distance.updatedAt | date: 'dd-MMM-yyyy'}}</td>
          <td>{{distance.updatedBy}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No distance rate found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="8">Loading distance rate data. Please wait.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- dialog box -->
    <p-dialog header="Distance Rate" [(visible)]="showDialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" (onHide)="fbDistanceRate.reset()">
      <div class="flex flex-column justify-content-center">
        <form [formGroup]="fbDistanceRate" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                  <label>Distance:<sup class="p-error">*</sup></label>
                  <input pInputText id="distance" type="text" formControlName="distance"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['distance'].touched && FormControls['distance'].errors }">
                  <span *ngIf="FormControls['distance'].touched && FormControls['distance'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['distance'].errors?.['required']">
                      Please Enter Distance.</div>
                  </span>
                </div>
                <div class="field col-12">
                  <label>Rate:<sup class="p-error">*</sup></label>
                  <input pInputText id="rate" type="text" formControlName="rate"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['rate'].touched && FormControls['rate'].errors }">
                  <span *ngIf="FormControls['rate'].touched && FormControls['rate'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['rate'].errors?.['required']">
                      Please Enter Rate.</div>
                  </span>
                </div>
                <div class="col-12">
                  <label>Is Active?:<sup class="p-error">*</sup></label><br><br>
                  <p-inputSwitch formControlName="isActive"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['isActive'].touched && FormControls['isActive'].errors }">
                  </p-inputSwitch>
                  <span *ngIf="FormControls['isActive'].touched && FormControls['isActive'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['isActive'].errors?.['required']">
                      Please Select Active.</div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="left">
        <button pButton pRipple type="button" label="{{submitLabel}}" class="p-button-raised p-button-success"
          (click)="onSubmit()"></button>
      </ng-template>
    </p-dialog>

  </div>
</div>
