<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Users</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New User" icon="pi pi-plus" class="p-button-primary p-mr-2"
          (click)="showUser({})" *ngIf="permissions?.CanCreateUser"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dtUsers [value]="users" dataKey="id" [rows]="10" [rowHover]="true" [alwaysShowPaginator]="false"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilters" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dtUsers)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dtUsers, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="permissions?.CanUpdateUser"></th>
          <th *ngFor="let col of headers" [pSortableColumn]="col.header">
            {{col?.label}}
            <p-columnFilter type="text" [field]="col.header" display="menu"></p-columnFilter>
            <p-sortIcon [field]="col.header"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td *ngIf="permissions?.CanUpdateUser"><button pButton pRipple icon="pi pi-pencil"
              class="p-element p-ripple p-button-text p-button p-component mr-2" (click)="showUser(user)"></button></td>
          <td *ngFor="let col of headers" [ngClass]="col?.field == 'isActive' ? 'text-center' : ''">
            <span
              *ngIf="col?.field != 'createdAt' && col?.field != 'updatedAt' && col?.field != 'isActive'  && col?.field != 'isDumpYard'
                  && col?.field != 'isTare'  && col?.field != 'isGross'  && col?.field != 'isAdminGate'  && col?.field != 'ipRestriction'">{{user[col.field]}}</span>
            <span *ngIf="col?.field == 'createdAt' || col?.field == 'updatedAt'">
              {{user[col.field] | date: mediumDate}}
            </span>
            <span *ngIf="col?.field == 'isActive'">
              <p-checkbox name="isActive" value="isActive" [binary]="true" [(ngModel)]="user[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
            <span *ngIf="col?.field == 'isTare'">
              <p-checkbox name="isTare" value="isTare" [binary]="true" [(ngModel)]="user[col.field]" [disabled]="true">
              </p-checkbox>
            </span>
            <span *ngIf="col?.field == 'isDumpYard'">
              <p-checkbox name="isDumpYard" value="isDumpYard" [binary]="true" [(ngModel)]="user[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
            <span *ngIf="col?.field == 'isGross'">
              <p-checkbox name="isGross" value="isGross" [binary]="true" [(ngModel)]="user[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
            <span *ngIf="col?.field == 'isAdminGate'">
              <p-checkbox name="isAdminGate" value="isAdminGate" [binary]="true" [(ngModel)]="user[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
            <span *ngIf="col?.field == 'ipRestriction'">
              <p-checkbox name="ipRestriction" value="ipRestriction" [binary]="true" [(ngModel)]="user[col.field]"
                [disabled]="true">
              </p-checkbox>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center m-5" colspan="18">No Users Found.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog header="User" [(visible)]="dialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '50%', '640px': '80%'}" [style]="{width: '50%'}" (onHide)="userForm.reset()">
      <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
          <form [formGroup]="userForm" autocomplete="off">
            <p-tabView orientation="left">
              <p-tabPanel header="User Info" class="line-height-3 m-0 col-12 ">
                <div class="grid">
                  <div class="col-12">
                    <p-fieldset legend="User Info" [toggleable]="true" class="line-height-3 m-0 mb-5"
                      [transitionOptions]="'500ms'">
                      <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                          <label>User Name:<sup class="p-error">*</sup></label>&nbsp;
                          <input pInputText id="username" type="text" formControlName="userName"
                            placeholder="Enter User Name" #username alphaNumeric
                            [ngClass]="{ 'is-invalid ng-dirty': userFormControls['userName'].touched && userFormControls['userName'].errors }" />
                          <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                              <span
                                *ngIf="userFormControls['userName'].touched && userFormControls['userName'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['userName'].errors?.['required']">
                                  Please Enter User Name.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['userName'].errors?.['minlength']">
                                  User Name Min Length Is 2.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['userName'].errors?.['maxlength']">
                                  User Name Max Length Is 50.</div>
                              </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                              <small>{{username.value.length}}/50</small>
                            </div>
                          </div>
                        </div>
                        <div class="field col-12 md:col-6">
                          <span *ngIf="!this.user.userId">
                            <label>Password:<sup class="p-error">*</sup></label>&nbsp;
                            <input pInputText id="password" type="password" formControlName="password"
                              placeholder="Enter Password"
                              [ngClass]="{ 'is-invalid ng-dirty': userFormControls['password'].touched && userFormControls['password'].errors }" />
                            <span *ngIf="userFormControls['password'].touched && userFormControls['password'].invalid">
                              <div class="ng-invalid ng-touched p-error"
                                *ngIf="userFormControls['password'].errors?.['required']">
                                Please Enter Password.</div>

                            </span>
                          </span>
                        </div>
                        <div class="field col-12 md:col-6">
                          <label>First Name:<sup class="p-error">*</sup></label>&nbsp;
                          <input pInputText id="firstname" type="text" formControlName="firstName"
                            placeholder="Enter First Name" #firstName alphaOnly
                            [ngClass]="{ 'is-invalid ng-dirty': userFormControls['firstName'].touched && userFormControls['firstName'].errors }" />
                          <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                              <span
                                *ngIf="userFormControls['firstName'].touched && userFormControls['firstName'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['firstName'].errors?.['required']">
                                  Please Enter First Name.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['firstName'].errors?.['minlength']">
                                  First Name Min Length Is 2.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['firstName'].errors?.['maxlength']">
                                  First Name Max Length Is 50.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['firstName'].errors?.['pattern']">
                                  First Name Should Contains Only Letters.</div>
                              </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                              <small>{{firstName.value.length}}/50</small>
                            </div>
                          </div>
                        </div>
                        <div class="field col-12 md:col-6">
                          <label>Last Name:<sup class="p-error">*</sup></label>&nbsp;
                          <input pInputText id="lastname" type="text" formControlName="lastName"
                            placeholder="Enter Last Name" #lastName alphaOnly
                            [ngClass]="{ 'is-invalid ng-dirty': userFormControls['lastName'].touched && userFormControls['lastName'].errors }" />
                          <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                              <span
                                *ngIf="userFormControls['lastName'].touched && userFormControls['lastName'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['lastName'].errors?.['required']">
                                  Please Enter Last Name.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['lastName'].errors?.['pattern']">
                                  Last Name Should Contains Only Letters.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['lastName'].errors?.['minlength']">
                                  Last Name Min Length Is 2.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['lastName'].errors?.['maxlength']">
                                  Last Name Max Length Is 50.</div>
                              </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                              <small>{{lastName.value.length}}/50</small>
                            </div>
                          </div>
                        </div>
                        <div class="field col-12 md:col-6">
                          <label>Email Id:<sup class="p-error">*</sup></label>&nbsp;
                          <input pInputText id="emailid" type="text" formControlName="email"
                            placeholder="Enter Email Id"
                            [ngClass]="{ 'is-invalid ng-dirty': userFormControls['email'].touched && userFormControls['email'].errors }" />
                          <span *ngIf="userFormControls['email'].touched && userFormControls['email'].invalid">
                            <div class="ng-invalid ng-touched p-error"
                              *ngIf="userFormControls['email'].errors?.['required']">
                              Please Enter Email Id.</div>
                            <div class="ng-invalid ng-touched p-error"
                              *ngIf="userFormControls['email'].errors?.['pattern']">
                              Email Contains Only Letters, Integers And Periods(.)</div>
                          </span>
                        </div>
                        <div class="field col-12 md:col-6">
                          <label>Mobile Number:<sup class="p-error">*</sup></label>&nbsp;
                          <input pInputText id="mobileNumber" placeholder="Enter Mobile No"
                            formControlName="mobileNumber" numericOnly [maxlength]="10" #mobileNumber
                            [ngClass]="{ 'is-invalid ng-dirty': userFormControls['mobileNumber'].touched && userFormControls['mobileNumber'].errors }">
                          <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                              <span
                                *ngIf="userFormControls['mobileNumber'].touched && userFormControls['mobileNumber'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['mobileNumber'].errors?.['required']">
                                  Please Enter Mobile No.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['mobileNumber'].errors?.['pattern']">
                                  First Digit Should Be Greater Than 4 And Must Contains 10 Digits.</div>
                              </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                              <small>{{mobileNumber.value.length}}/10</small>
                            </div>
                          </div>
                        </div>
                        <div class="field col-12 md:col-6">
                          <label>Role:<sup class="p-error">*</sup></label>&nbsp;
                          <p-dropdown [options]="roles" optionLabel="name" formControlName="roleId" optionValue="roleId"
                            placeholder="Select Role" [autoDisplayFirst]="false"
                            [ngClass]="{ 'is-invalid ng-dirty': userFormControls['roleId'].touched && userFormControls['roleId'].errors }">
                          </p-dropdown>
                          <span *ngIf="userFormControls['roleId'].touched && userFormControls['roleId'].invalid">
                            <div class="ng-invalid ng-touched p-error"
                              *ngIf="userFormControls['roleId'].errors?.['required']">
                              Please Select Role.</div>
                          </span>
                        </div>
                        <div class="field col-12 md:col-6">
                          <label htmlFor="ipaddress">IP Address:</label>
                          <input pInputText id="ipaddress" type="text" #ipAddress formControlName="ipaddress"
                            placeholder="Enter IP Address" maxlength="15" />
                          <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                              <span
                                *ngIf="userFormControls['ipaddress'].touched && userFormControls['ipaddress'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['ipaddress'].errors?.['pattern']"> Invalid IP Address
                                  Eg:00.00.00.00 or 000.000.000.000
                                </div>
                              </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                              <small>{{ipAddress.value.length}}/15</small>
                            </div>
                          </div>
                        </div>
                        <div class="field col-12 md:col-6">
                          <label htmlFor="imeino">IMEI No:</label>
                          <input pInputText id="imeino" #imeino alphaNumeric type="text" formControlName="imeino"
                            placeholder="Enter IMEI No" minlength="16" maxlength="16" />
                          <div class="flex">
                            <div class="align-left w-60" style="width:70%">
                              <span *ngIf="userFormControls['imeino'].touched && userFormControls['imeino'].invalid">
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['imeino'].errors?.['pattern']">
                                  IMEI No Should Contains Alphabets And Digits. </div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['imeino'].errors?.['minlength']">
                                  IMEI No Min Length Is 15.</div>
                                <div class="ng-invalid ng-touched p-error"
                                  *ngIf="userFormControls['imeino'].errors?.['maxlength']">
                                  IMEI No Max Length Is 15.</div>
                              </span>
                            </div>
                            <div class="align-right w-40" style="width:30%; text-align:right;">
                              <small>{{imeino.value.length}}/16</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </p-fieldset><br />


                    <p-fieldset legend="User Rights" [toggleable]="true" class="line-height-3 m-0 pt-5 mt-3"
                      [transitionOptions]="'500ms'">
                      <div class="grid md:flex">
                        <div class="field col-12 md:col-6 sm:col-6 xl:col-3">
                          <label class="col-12">IP Restriction:</label>
                          <p-inputSwitch [trueValue]="true" [falseValue]="false" placeholder="IP Ristriction"
                            formControlName="iprestriction" class="col-12"></p-inputSwitch>
                        </div>
                        <div class="field col-12 md:col-6 sm:col-6 xl:col-3">
                          <label class="col-12">Is AdminGate:</label>
                          <p-inputSwitch formControlName="isAdminGate" class="col-12"></p-inputSwitch>
                        </div>
                        <div class="field col-12 md:col-6 sm:col-6 xl:col-3">
                          <label class="col-12">Is Gross:</label>
                          <p-inputSwitch formControlName="isGross" class="col-12"></p-inputSwitch>
                        </div>
                        <div class="field col-12 md:col-6 sm:col-6 xl:col-3">
                          <label class="col-12">Is Tare:</label>
                          <p-inputSwitch formControlName="isTare" class="col-12"></p-inputSwitch>
                        </div>
                        <div class="field col-12 md:col-6 sm:col-6 xl:col-3">
                          <label class="col-12">Is DumpYard:</label>
                          <p-inputSwitch formControlName="isDumpYard" class="col-12"></p-inputSwitch>
                        </div>
                        <div class="field col-12 md:col-6 sm:col-6 xl:col-3">
                          <label class="col-12">Is Active:</label>
                          <p-inputSwitch formControlName="isActive" class="col-12"></p-inputSwitch>
                        </div>
                      </div>
                    </p-fieldset>


                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="User Sections" class="line-height-3 m-0 ">
                <div class="grid col-12">
                  <div class="col-12 lg:col-3 md:col-6 sm:col-6" *ngFor="let userSection of user.userSections">
                    <div class="field-checkbox user_checkbox">
                      <p-inputSwitch [(ngModel)]="userSection.isActive" [ngModelOptions]="{standalone: true}">
                      </p-inputSwitch>
                      <label for="ny">{{userSection.sectionName}}</label>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </form>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="col-6" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-primary"
            (click)="onSubmit()" [disabled]="userForm.invalid"></button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>