<div class="col-12">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Users</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New User" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="showUser({})"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt1 [value]="users" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilters" responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]"
      [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="userId" style="width:100px">User Id<p-sortIcon field="userId"></p-sortIcon>
          </th>
          <th pSortableColumn="userName" style="width:100px">User Name<p-sortIcon field="userName"></p-sortIcon>
          </th>
          <th pSortableColumn="firstName" style="width:100px">First Name<p-sortIcon field="firstName"></p-sortIcon>
          </th>
          <th pSortableColumn="lastName" style="width:100px">Last Name<p-sortIcon field="fastName"></p-sortIcon>
          </th>
          <th pSortableColumn="email" style="width:100px">Email Id<p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="MobileNo" style="width:100px">Mobile Number<p-sortIcon field="mobileNumber"></p-sortIcon>
          </th>
          <th pSortableColumn="Role" style="width:100px">Role<p-sortIcon field="Role"></p-sortIcon>
          </th>
          <th pSortableColumn="imeiNo" style="width:100px">IMEI No<p-sortIcon field="imeiNo"></p-sortIcon>
          </th>
          <th pSortableColumn="ipAddress" style="width:100px">IP Address<p-sortIcon field="ipAddress"></p-sortIcon>
          </th>
          <th pSortableColumn="ipRestriction" style="width:100px">IP Restriction<p-sortIcon field="ipRestriction">
            </p-sortIcon>
          </th>
          <th pSortableColumn="isAdminGate" style="width:100px">Is AdminGate<p-sortIcon field="isAdminGate">
            </p-sortIcon>
          </th>

          <th pSortableColumn="isGross" style="width:100px">Is Gross<p-sortIcon field="isGross"></p-sortIcon>
          </th>
          <th pSortableColumn="isTare" style="width:100px">Is Tare<p-sortIcon field="isTare"></p-sortIcon>
          </th>
          <th pSortableColumn="isDumpYard" style="width:100px">Is Dump Yard<p-sortIcon field="isDumpYard"></p-sortIcon>
          </th>
          <th pSortableColumn="isActive" style="width:100px">Is Active<p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt" style="width:100px">Created Date<p-sortIcon field="createdAt">
            </p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt" style="width:100px">Updated Date<p-sortIcon field="updatedAt">
            </p-sortIcon>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="showUser(user)"></button></td>
          <td>{{user.userId}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobileNumber}}</td>
          <td>{{user.Role}}</td>
          <td>{{user.imeino}}</td>
          <td>{{user.ipAddress}}</td>
          <td>{{user.ipRestriction}}</td>
          <td>{{user.isAdminGate}}</td>
          <td>{{user.isGross}}</td>
          <td>{{user.isTare}}</td>
          <td>{{user.isDumpYard}}</td>
          <td>{{user.isActive}}</td>
          <td>{{user.createdAt}}</td>
          <td>{{user.updatedAt}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No users found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="8">Loading users data. Please wait.</td>
        </tr>
      </ng-template>
    </p-table>


    <p-dialog header="User" [(visible)]="dialog" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
      [breakpoints]="{'960px': '90vw'}" (onHide)="userForm.reset()">
      <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center justify-content-center">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <p-tabView orientation="left" class="users-container">
              <p-tabPanel header="User Info" class="line-height-3 m-0 col-12">
                <div class="grid">
                  <div class="col-12">
                    <h6>User Info</h6>
                    <div class="p-fluid p-formgrid grid">
                      <div class="field col-12 md:col-6">
                        <label>User Name:<sup class="p-error">*</sup></label>&nbsp;
                        <input pInputText id="username" type="text" formControlName="userName"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['userName'].touched && userFormControls['userName'].errors }" />
                        <span *ngIf="userFormControls['userName'].touched && userFormControls['userName'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="userFormControls['userName'].errors?.['required']">
                            Please Enter User Name.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Password:<sup class="p-error">*</sup></label>&nbsp;
                        <input pInputText id="password" type="password" formControlName="password" [disabled]="user.userId != null"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['password'].touched && userFormControls['password'].errors }" />
                        <span *ngIf="userFormControls['password'].touched && userFormControls['password'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="userFormControls['password'].errors?.['required']">
                            Please Enter Password.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>First Name:<sup class="p-error">*</sup></label>&nbsp;
                        <input pInputText id="firstname" type="text" formControlName="firstName"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['firstName'].touched && userFormControls['firstName'].errors }" />
                        <span *ngIf="userFormControls['firstName'].touched && userFormControls['firstName'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="userFormControls['firstName'].errors?.['required']">
                            Please Enter First Name.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Last Name:<sup class="p-error">*</sup></label>&nbsp;
                        <input pInputText id="lastname" type="text" formControlName="lastName"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['lastName'].touched && userFormControls['lastName'].errors }" />
                        <span *ngIf="userFormControls['lastName'].touched && userFormControls['lastName'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="userFormControls['lastName'].errors?.['required']">
                            Please Enter Last Name.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Email Id:<sup class="p-error">*</sup></label>&nbsp;
                        <input pInputText id="emailid" type="text" formControlName="email"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['email'].touched && userFormControls['email'].errors }" />
                        <span *ngIf="userFormControls['email'].touched && userFormControls['email'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="userFormControls['email'].errors?.['required']">
                            Please Enter Email Id.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Mobile Number:<sup class="p-error">*</sup></label>&nbsp;
                        <input pInputText id="mobileNumber" type="text" formControlName="mobileNumber"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['mobileNumber'].touched && userFormControls['mobileNumber'].errors }" />
                        <span
                          *ngIf="userFormControls['mobileNumber'].touched && userFormControls['mobileNumber'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="userFormControls['mobileNumber'].errors?.['required']">
                            Please Enter Mobile Number.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label>Role:<sup class="p-error">*</sup></label>&nbsp;
                        <p-dropdown [options]="roles" optionLabel="name" formControlName="roleId" optionValue="roleId" [autoDisplayFirst]="false"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['roleId'].touched && userFormControls['roleId'].errors }"></p-dropdown>
                        <!-- <input pInputText id="roleId" type="text" formControlName="roleId"
                          [ngClass]="{ 'is-invalid ng-dirty': userFormControls['roleId'].touched && userFormControls['roleId'].errors }" /> -->
                        <span *ngIf="userFormControls['roleId'].touched && userFormControls['roleId'].invalid">
                          <div class="ng-invalid ng-touched p-error"
                            *ngIf="userFormControls['roleId'].errors?.['required']">
                            Please Enter Role.</div>
                        </span>
                      </div>
                      <div class="field col-12 md:col-6">
                        <label htmlFor="ipaddress">IP Address:</label>
                        <input pInputText id="ipaddress" type="text" formControlName="ipaddress" />
                      </div>
                      <div class="field col-12 md:col-6">
                        <label htmlFor="imeino">IMEI No:</label>
                        <input pInputText id="imeino" type="text" formControlName="imeino" />
                      </div>
                    </div>
                    <h6>User Rights</h6>
                    <div class="grid md:flex">
                      <div class="col-12 md:col-3 xl:col-2">
                        <label>IP Restriction:<sup class="p-error">*</sup></label>&nbsp;
                        <br>
                        <p-inputSwitch [trueValue]="true" [falseValue]="false" formControlName="iprestriction"></p-inputSwitch>
                      </div>
                      <div class="col-12 md:col-3 xl:col-2">
                        <label>Is AdminGate:<sup class="p-error">*</sup></label>&nbsp;
                        <br>
                        <p-inputSwitch formControlName="isAdminGate"></p-inputSwitch>
                      </div>
                      <div class="col-12 md:col-3 xl:col-2">
                        <label>Is Gross:<sup class="p-error">*</sup></label>&nbsp;
                        <br>
                        <p-inputSwitch formControlName="isGross"></p-inputSwitch>
                      </div>
                      <div class="col-12 md:col-3 xl:col-2">
                        <label>Is Tare:<sup class="p-error">*</sup></label>&nbsp;
                        <br>
                        <p-inputSwitch formControlName="isTare"></p-inputSwitch>
                      </div>
                      <div class="col-12 md:col-3 xl:col-2">
                        <label>Is DumpYard:<sup class="p-error">*</sup></label>&nbsp;
                        <br>
                        <p-inputSwitch formControlName="isDumpYard"></p-inputSwitch>
                      </div>
                      <div class="col-12 md:col-3 xl:col-2">
                        <label>Is Active?:<sup class="p-error">*</sup></label>&nbsp;
                        <br>
                        <p-inputSwitch formControlName="isActive"></p-inputSwitch>
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="User Sections" class="line-height-3 m-0">
                <div class="grid col-12">
                  <div class="col-3" *ngFor="let userSection of user.userSections">
                    <div class="field-checkbox">
                      <!-- <p-checkbox name="group1" [value]="userSection.sectionId"
                      inputId="userSection.sectionId"></p-checkbox>
                      <label for="ny">{{userSection.sectionName}}</label> -->
                      <p-inputSwitch [(ngModel)]="userSection.isActive" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                      <label for="ny">{{userSection.sectionName}}</label>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </form>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Submit" class="p-button-raised p-button-success"
          (click)="onSubmit()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
