<div class="col-12">
  <div class="card">
    <p-toast key="tst"></p-toast>

    <!-- toolbar -->
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <h4>Bills</h4>
      </ng-template>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New Bill" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="addBill()"></button>
      </ng-template>
    </p-toolbar>

    <!-- table -->
    <p-table #dt1 [value]="bills" dataKey="id" [rows]="10" [rowHover]="true"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true"
      [globalFilterFields]="globalFilterFields" [autoLayout]="true" responsiveLayout="scroll"
      [rowsPerPageOptions]="[10,25,50]" [tableStyle]="{ width: 'max-content'}">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
              class="w-full" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="billCategoryName">
            Billing Category <p-columnFilter type="text" field="billCategoryName" display="menu"></p-columnFilter>
            <p-sortIcon field="billCategoryName"></p-sortIcon>
          </th>
          <th pSortableColumn="billNo">
            Billing Number <p-columnFilter type="text" field="billNo" display="menu"></p-columnFilter>
            <p-sortIcon field="billNo"></p-sortIcon>
          </th>
          <th pSortableColumn="seasonName">
            Season Code <p-columnFilter type="text" field="seasonName" display="menu"></p-columnFilter>
            <p-sortIcon field="seasonName"></p-sortIcon>
          </th>
          <th pSortableColumn="fromDate">
            From Date <p-columnFilter type="text" field="fromDate" display="menu"></p-columnFilter>
            <p-sortIcon field="fromDate"></p-sortIcon>
          </th>
          <th pSortableColumn="toDate">
            To Date <p-columnFilter type="text" field="toDate" display="menu"></p-columnFilter>
            <p-sortIcon field="toDate"></p-sortIcon>
          </th>
          <th pSortableColumn="runDate">
            Run Date <p-columnFilter type="text" field="runDate" display="menu"></p-columnFilter>
            <p-sortIcon field="runDate"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isFinal">
            Is Final <p-columnFilter type="text" field="isFinal" display="menu"></p-columnFilter>
            <p-sortIcon field="isFinal"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="isActive">
            Is Active <p-columnFilter type="text" field="isActive" display="menu"></p-columnFilter>
            <p-sortIcon field="isActive"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Created Date <p-columnFilter type="text" field="createdAt" display="menu"></p-columnFilter>
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="createdBy">
            Created By <p-columnFilter type="text" field="createdBy" display="menu"></p-columnFilter>
            <p-sortIcon field="createdBy"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedAt">
            Updated Date <p-columnFilter type="text" field="updatedAt" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedBy">
            Updated By <p-columnFilter type="text" field="updatedBy" display="menu"></p-columnFilter>
            <p-sortIcon field="updatedBy"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill>
        <tr>
          <td>{{bill.billCategoryName}}</td>
          <td>{{bill.billNo}}</td>
          <td>{{bill.seasonName}}</td>
          <td>{{bill.fromDate | date: mediumDate}}</td>
          <td>{{bill.toDate | date: mediumDate}}</td>
          <td>{{bill.runDate | date: mediumDate}}</td>
          <td class="text-center">
            <p-checkbox name="final" value="final" [(ngModel)]="bill.isFinal" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td class="text-center">
            <p-checkbox name="active" value="active" [(ngModel)]="bill.isActive" [binary]="true" [disabled]="true">
            </p-checkbox>
          </td>
          <td>{{bill.createdAt | date: mediumDate}}</td>
          <td>{{bill.createdBy}}</td>
          <td>{{bill.updatedAt | date: mediumDate}}</td>
          <td>{{bill.updatedBy}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center" colspan="12">No Bills Found.</td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="loadingbody">
        <tr>
          <td class="text-center" colspan="12">Loading Bills Data. Please Wait.</td>
        </tr>
      </ng-template> -->
    </p-table>

    <!-- dialog box -->
    <p-dialog header="Bill" [(visible)]="showDialog" [modal]="true" showEffect="fade"
      [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}"
      [contentStyle]="{'overflow': 'visible'}" (onHide)="fbBillMaster.reset()">
      <div class="flex flex-column align-items-center justify-content-center">
        <form [formGroup]="fbBillMaster" (ngSubmit)="onSubmit()">
          <div class="grid">
            <div class="col-12">
              <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                  <label>Bill Category:<sup class="p-error">*</sup></label>
                  <p-dropdown placeholder="Select Bill Category" optionLabel="name" [options]="billCategories"
                    optionValue="lookupDetailId" formControlName="categoryId"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['categoryId'].touched && FormControls['categoryId'].errors }">
                  </p-dropdown>
                  <span *ngIf="FormControls['categoryId'].touched && FormControls['categoryId'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['categoryId'].errors?.['required']">
                      Please Select Category.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>Season:<sup class="p-error">*</sup></label>
                  <p-dropdown placeholder="Select Season" optionLabel="name" [options]="seasons" optionValue="seasonId"
                    formControlName="seasonsId"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['seasonsId'].touched && FormControls['seasonsId'].errors }">
                  </p-dropdown>
                  <span *ngIf="FormControls['seasonsId'].touched && FormControls['seasonsId'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['seasonsId'].errors?.['required']">
                      Please Select Season.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>From Date:<sup class="p-error">*</sup></label>
                  <p-calendar  placeholder="Select From Date" [readonlyInput]="true" [showIcon]="true"
                    formControlName="fromDate" [maxDate]="fbBillMaster.value.toDate"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['fromDate'].touched && FormControls['fromDate'].errors }">
                  </p-calendar>
                  <span *ngIf="FormControls['fromDate'].touched && FormControls['fromDate'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['fromDate'].errors?.['required']">
                      Please Select From Date.</div>
                  </span>
                </div>
                <div class="field col-12 md:col-6">
                  <label>To Date:<sup class="p-error">*</sup></label>
                  <p-calendar appendTo="body" placeholder="Select To Date" [readonlyInput]="true" [showIcon]="true"
                    formControlName="toDate" [minDate]="fbBillMaster.value.fromDate"
                    [ngClass]="{ 'is-invalid ng-dirty': FormControls['toDate'].touched && FormControls['toDate'].errors }">
                  </p-calendar>
                  <span *ngIf="FormControls['toDate'].touched && FormControls['toDate'].invalid">
                    <div class="ng-invalid ng-touched p-error" *ngIf="FormControls['toDate'].errors?.['required']">
                      Please Select To Date.</div>
                  </span>
                  <!-- <span>
                    <div class="ng-invalid ng-touched p-error"
                      *ngIf="fbBillMaster.value.fromDate > fbBillMaster.value.toDate">
                      To Date Always Greater Than Equals To From Date</div>
                  </span> -->
                </div>
                <div class="col-12">
                  <label>Is Final:</label><br>
                  <p-inputSwitch formControlName="isFinal"></p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="col-4" style="float:right">
          <button pButton pRipple type="submit" [label]="submitLabel" class="p-button-raised p-button-success" [disabled]="fbBillMaster.invalid"
            (click)="onSubmit()"></button>
        </div>
      </ng-template>
    </p-dialog>

  </div>
</div>
